[2021-07-09 22:06] atrayano commented on #916
@pcolarco Hi Pete, I tried to reproduce the behavior you had described, but in my much simpler experiment I was getting the results I was expecting, i.e. regardless of the aliasing, differently named fields had different values. It will be very helpful, if you could point me to your experiment, as well as to your source code sandbox, hopefully on discover. I want to check which version of MAPL you

[2021-07-10 14:31] pcolarco commented on #916
I apologize @atrayano I tried it again just now and it works. I must have been confusing things with the other issues Elliot and I were working on. Sorry for the traffic.

[2021-07-12 13:20] #830 closed

[2021-07-12 13:24] #848 closed

[2021-07-12 17:08] #887 closed

[2021-07-12 17:08] #907 closed

[2021-07-12 17:08] #917 closed

[2021-07-14 14:55] LiamBindle commented on #911
Yeah, it looks like it's simply that my simulations are running out of memory when ExtData is initalizing. I think this is an issue for GCHP because it limits the number of nodes we can run on. For Pleiades broadwell (128GB/node) my sims max out the memory somewhere between 24 and 48 nodes which means we can't run C90 or C180 on more than 1000 cores.

I'm having trouble understanding why the ExtDa

[2021-07-14 15:06] tclune commented on #911
I'll have to look under the hood, but it could be that each process is opening the files and then just "getting" the local piece.  So depending on chunking (and my assumption) it could be that more processes does not help much at all.       I'll try to respond soon.

[2021-07-14 15:14] LiamBindle commented on #911
Thanks!

[2021-07-14 16:00] bena-nasa commented on #911
Hi Liam, Tom pointed me this ticket. I'm not sure why increasing nodes would cause the memory to increase. I'm pretty sure the way the IO works is that each node reads in the full file into shared memory and then each process reads the piece it needs which ultimately gets sent to fill the array requested by the requester (extdata) by a direct copy in this case since we do not run a separate server

[2021-07-14 20:22] LiamBindle commented on #911
@bena-nasa Thanks for the explanation.

I think I mispoke about it being an OOM issue. On closer inspection it looks like it's actaully a segfault in `pfio_server_threadmod::receive_output_data()`. I created a new environment with Intel compilers and when I use this environment I get an actual traceback. Here is the run log

* [runlog-intel.txt](https://github.com/GEOS-ESM/MAPL/files/6818726/runlo

[2021-07-15 15:03] mathomp4 commented on #911
@LiamBindle Can you try running the run that gets the traceback again, but add this environment variable:
[code]
That can sometimes let Intel report the traceback instead of MPT doing it.

[2021-07-15 15:04] LiamBindle commented on #911
@mathomp4 Sure thing. Thanks for the suggestion. I'll start that right now and follow up in a little while.

[2021-07-15 15:08] mathomp4 commented on #911
@LiamBindle I'll also try a GEOS run of 12x96, 24 ppm and see what happens. I'm guessing it'll work, but we shall see...

[2021-07-15 17:16] LiamBindle commented on #911
@mathomp4 Here is the new log file:
[runlog-intel2.txt](https://github.com/GEOS-ESM/MAPL/files/6825035/runlog-intel2.txt)

Do you see anything useful from that? Essentially the new stack traces are
[code]

I'll try runnning with MPT 2.17r13 rather than 2.23 to see if I see anything different.

[2021-07-15 17:53] LiamBindle commented on #911
I got the same error in the same place with  MPT 2.17r13.

[2021-07-15 17:55] mathomp4 commented on #911
@LiamBindle Huh. When you build GCHP do you have `-g -traceback` in your Intel build options? So weird to go from a big traceback to...none at all.

[2021-07-15 18:37] mathomp4 commented on #911
Note the GEOS run was happy, so it's something unique to GCHP. Probably the "lots more ExtData"...

[2021-07-15 19:09] LiamBindle commented on #911
Ah, it looks like `-traceback` was missing from about 50% of the source files. I recompiled and resubmitted my test job. Looks like the queues have filled up so it might be a couple hours.

[2021-07-15 20:19] LiamBindle commented on #911
@mathomp4 Do you think this could be related to https://github.com/GEOS-ESM/MAPL/issues/739? I notice a couple similarities between my stack trace and @WilliamDowns. Specifically, both of our crashes happen during an RDMA ops and there are some similarities in the strack traces

Mine:
[code]

Will's (here: https://github.com/GEOS-ESM/MAPL/issues/739#issuecomment-794593067):

[code]

The similar ro

[2021-07-16 01:16] lizziel commented on #914
I made custom updates to our fork of MAPL to achieve what we need for GCHP. It is in no way the best solution and would not work for you, but it fixes the problem for us until a more elegant solution comes along. See https://github.com/geoschem/MAPL/pull/10 for the changes I made.

[2021-07-16 15:17] LiamBindle commented on #911
I found that setting `WRITE_RESTART_BY_OSERVER: NO` fixes my crash on Pleiades. In our config script we have a line that sets it to `YES` if the core-count is >1000. Removing that so `WRITE_RESTART_BY_OSERVER: NO` allowed the simulation to run OK.

Right now I'm double checking this.

[2021-07-16 17:41] LiamBindle commented on #911
Yep I can run GCHP on Pleiades with >1000 cores if `WRITE_RESTART_BY_OSERVER: NO`. I just finished a 2400 core test simulation.

Thanks for your help @mathomp4 @bena-nasa @tclune.

[2021-07-16 17:41] #911 closed

[2021-07-19 14:55] mathomp4 commented on #914
@lizziel Did you make a PR here as well? Or only on your fork?

[2021-07-20 15:42] lizziel commented on #914
I did not make a PR here since I don't think my update is something you would want. It is definitely a kludge, and not even what we want long-term.

I think what we actually want is an option in `HISTORY.rc` to specify positive direction per collection, and have the array data flipped based on it in addition to setting the `lev:positive` attribute. Default would be status quo in GEOS, so `down` if

[2021-07-20 17:26] LiamBindle commented on #915
Just an idea, but an alternative method to enforcing this via attributes would be inspecting one of the corner coordinates of the grid. Specifically, one can calculate the stretch-factor, target lat, and target lon from a single point. If the calculated stretch-factor is 1.0, the target lat is -90, and the target lon is 170 then it is a normal cubed-sphere grid. The advantage would be it doesn't r

[2021-07-20 17:47] tclune commented on #915
A bit of a kludge, but at first glance it does look like it would be reasonably robust.   I've not looked at the stretch formulation recently, so I don't know how easily invertible it is.   Or do we just need to check that a few points are identical in which case the stretch parameters are identical.     In theory we need to be a bit careful as there should be some degeneracies, but I doubt those

[2021-07-20 19:19] sdeastham commented on #915
I've not quite thought it through, but could you use the fact that you have multiple workers to make this non-degenerate? If you always have >= 6 workers so that there is always one worker whose [1,1] grid cell is at a cube corner, I _think_ that if you have every worker check its corner then you'll always check all 6 corners (at minimum) and fully locate the grid?

[2021-07-20 20:01] LiamBindle commented on #915
The stretching procedure is
1. apply schmidt transform [can be solved for the stretch-factor]
2. rotate about (0,1,0)  [reversible]
3. rotate about (0,0,1)  [reversible]

so I think it's doable. The rotations can be determined by inspecting the center of face 6; the center of face 6 is well-defined (south pole) for the GMAO/ESMF cubed-sphere so for any grid we can figure out how much it was rotate

[2021-07-20 23:31] LiamBindle commented on #915
Here's a proof-of-concept for getting the stretching parameters according to the coordinates of two points (center of face 6 and the coordinate of some grid-box on face 6): [get_stretching_params_demo.zip](https://github.com/GEOS-ESM/MAPL/files/6851724/get_stretching_params_demo.zip). Btw, this POC doesn't handle the special case where the center of face 6 is at one of the poles, but it could be a

[2021-07-21 12:11] tclune commented on #915
ok - thanks.  We'll look into it.   Note that even determining on any given process, whether or not it owns the points in question is a bit nontrivial.    And presumably we'll allow some numerical tolerance so that we don't reject things where the numerical inverse is not exact.

[2021-07-21 13:01] lizziel commented on #915
I'm still in favor of having stretch information in the file metadata for reference. It seems like basic important information that should be easily accessible with having to do math.

[2021-07-21 14:27] LiamBindle commented on #915
I agree. That way you could `ncdump` the file to see the grid info which would be useful.

Sorry, to clarify, I just meant to share that the run-time check could be implemented with only the grid's coordinates, in case it's useful.

[2021-07-21 18:08] bena-nasa commented on #915
I've been working on this.  The strategy I'm working on to
1. Add the stretch coordinates to the restarts when writing.
2. Modify the cubed-sphere grid factory to when it tests equality it takes these into account
3. When we read the restart make a factory from the file and check it it matches the application grid

This is a little more involved that I thought it would be for technical reasons.

[2021-07-22 14:29] Gvilla1000-nasa opened #926 "Refactor Constants into separate modules"
All constants are contained in a single file making physical/mathematical/internal distinction hard to observe. These need to be refactored into separate modules for easier identification.

[2021-07-22 14:30] Gvilla1000-nasa commented on #926
#42 This seems to be a related topic. Should this be addressed in this effort as well?

[2021-07-22 14:35] tclune commented on #926
My vote would be that we would address #42 during this process.  But ... new values should be hidden by `#ifdef` or some similar mechanism until we do a  "major" release of MAPL due to the backward compatibility issues.

[2021-07-22 14:42] DavidHuber-NOAA commented on #912
We ended up installing the 18.0.5 compilers and building MAPL with that.

[2021-07-22 14:44] mathomp4 commented on #912
I suppose next question: Did it work? 😄

[2021-07-23 18:51] #895 closed

[2021-07-23 18:52] #889 closed

[2021-07-23 18:52] mathomp4 commented on #884
Closing as MAPL 2.8.0 has the fix.

[2021-07-23 18:52] #884 closed

[2021-07-23 18:53] #798 closed

[2021-07-23 18:53] #717 closed

[2021-07-26 12:03] mathomp4 opened #928 "MAPL develop fails with MOM5"
Recent changes in MAPL `develop` (from #927) seem to have triggered a crash in MOM5 runs. Per my nightly tests:
[code]
This seems to be something beyond my ken of MAPL:

https://github.com/GEOS-ESM/MAPL/blob/fceecb6ea900d1e0d7beeb976899ba1552e938d2/base/MAPL_Generic.F90#L5896-L5906

As these lines were changed in #927, I'm obviously assigning to @bena-nasa (But also CC @tclune and @atrayano as the

[2021-07-26 12:07] mathomp4 commented on #928
Note: MOM6 seems happy as it ran just fine.

And the `seaice_import_rst` for MOM5 doesn't look that exciting (to me), but maybe Ben can see an issue right off!

[2021-07-26 12:09] tclune commented on #928
@bena-nasa Let me know if you need help isolating this.   Am guessing that since it is only MOM5 it is related to tripolar which did not get changed correctly?

[2021-07-26 13:18] bena-nasa commented on #928
I'll take a look. I'm sure it is the equals definition.

[2021-07-26 13:18] #912 closed

[2021-07-26 13:18] #795 closed

[2021-07-26 15:00] atrayano commented on #928
@bena-nasa I looked at the MAPL_TripolarGridFactory.F90, and lines 112-113 seem odd. I thing the pairing should be nx with factory%nx, etc

[2021-07-26 15:27] bena-nasa commented on #928
well, I see a lot of problems with what I did and the tripolar grid. I'm not sure how to proceed.
1.) We have no metadata in the restart files for the components on the tripolar grid to queue off of to determine that they are tripolar. So I think the make grid from a file is choose the lat-lon factory as the dimensions are lat-lon, so when we compare this to the application grid for one of the oce

[2021-07-26 15:30] mathomp4 commented on #928
Is there any way to tell if a latlon grid is tripolar? Some simple math test where you look at the divergence of the lines or something and you notice "Huh, three poles"?

[2021-07-26 15:35] bena-nasa commented on #928
Well, if you were to pull the coordinates from the grid you could test if they are evenly spaced in one dimension or identical in the other. I presume the tripolar would not, the problem is in the 2D coordinates are not in the file, not even the filename you would read.

I really don't see a way around this given the existing restarts other than skipping this test if the component factory is tripo

[2021-07-26 15:35] atrayano commented on #928
@mathomp4 Yes, if you take a look at the actual coordinates, they should nor be equally spaced if it is a tripolar grid. Also, another hint is that tripolar grid typically does not extend much further south than 80 (to be absolutely sure we could check -85. If MAPL creates the grid, we attach an attribute, saying the grid is tripolar. But just looking at the metadata in the file, we obviously do n

[2021-07-26 15:38] tclune commented on #928
We should at least engineer the "luxury" into future files ...

[2021-07-26 15:38] bena-nasa commented on #928
@atrayano this won't work as the restart files simply do not have the information needed to properly create the tripolar grid. I should have seen this. Either the restart file would have to be modified to add some metadata so it can be properly identified or we have no choice but to skip this test for now.

[2021-07-26 15:43] atrayano commented on #928
How about this idea - check if the metadata in the file tells us what the grid is (obviously this info is not there at the moment). If it there, use it. Otherwise, do not fail, and use some kludgy "heuristics" (and I need to make sure that this would work for MITgcm grids - they also do not cover Antarctica)

[2021-07-27 12:32] mathomp4 opened #930 "Odd Error with MAPL throughput timers in GEOSldas"
@biljanaorescanin notified me of an odd error that apparently has been happening with the GEOSldas for... a while? If you look at:
[code]
you'll see a lot of:
[code]
pointing to:

https://github.com/GEOS-ESM/MAPL/blob/e66a362a3189ac2ae317ee0a6998b70aa8c9c0b3/gridcomps/Cap/MAPL_CapGridComp.F90#L1338-L1345

Thing is, I can't really see any throughput lines in the log file that look crazy:
[code]

No

[2021-07-27 12:48] tclune commented on #930
I think you are exactly seeing "Fortran truncating the output" causing an error.    It does not stop the run, but is informing you in the debug case.

I wonder if they are also using the older MAPL where we used the 32 bit ints for the timers and thus had a high probability of seeing "negative" times?  That might explain the rest.

[2021-07-27 12:50] mathomp4 commented on #930
LDAS is using pretty recent MAPL (v2.7.0), so that old issue should be taken care of. I suppose I need to move them to MAPL v2.8.0 soon as the GCM did that too, but 2.8.0 had no changes around here.

[2021-07-27 12:51] mathomp4 commented on #930
Let me try making a "bigger field" timer branch and trying it with the LDAS.

[2021-07-27 13:44] mathomp4 commented on #930
Yep. It looks like widening the field might fix it!

I'll run one more time to be sure.

[2021-07-27 14:13] Gvilla1000-nasa commented on #926
Question: I identified the following parameter: `ESMFL_UnitsRadians = 99` from `base/ESMFL_Mod.F90` as a potential parameter that can be moved into the new module. It is used in 4 different modules. Is this variable okay to be moved or because it is already identified as an `ESMFL` it should be left untouched?

[2021-07-27 14:33] bena-nasa commented on #926
I think it should be left untouched, this seems to be another software constant rather than a mathematical or physical constant

[2021-07-27 14:51] tclune commented on #926
Anyone care to comment on how much of ESMFL could be eliminated at this point?

[2021-07-27 14:59] bena-nasa commented on #926
It is hard to say for sure, I'm sure there are some routines that are either duplicates or not used but we would have to careful go through this and check the DAS. However, there are still some of these that are for sure used in the DAS and have no ESMF or other implementation in MAPL.  For example, off the top of my head, there are these bundle2state and state2bundle routines that do what the nam

[2021-07-27 15:00] Gvilla1000-nasa commented on #926
Ok. I think some software/internal constants could be added into MAPL_Constants. For example, `UNDEFINED_INTEGER`, `GRID_NAME_DEFAULT`, etc. I also identified `MAPL_UseStarrQsat` and other `use*Qsat` parameters that could be moved to the constants module but it seems these are only parameters that were used in a module that is not longer compiled. Should these `MAPL_Use` be removed to prevent conf

[2021-07-27 15:17] tclune commented on #926
If there are modules that are not being compiled, we (collectively) should decide if the module should be eliminated entirely.   (And if it is a test, as the name suggests it should at the very least be relocated to another direcotry.)

For now I think just maintain a list of questionable cases that we can review in a focused meeting.

Also, constants that are only used within a single module do n

[2021-07-27 15:37] mathomp4 commented on #926
Yeah, `tstqsat.F90` could probably go away. I think it was a tester program that Max wrote when developing the MAPL_SatVapor code. It's in Git so we can restore if ever needed again...or just make a new one.

[2021-07-27 15:39] mathomp4 commented on #926
But `MAPL_SatVapor` and it's constants:
[code]
Probably should stay around. I know Andrea at one time would have preferred GEOS moving to the MAPL SatVapor code as in many ways it is better than the qsat code in GMAO_Shared.

[2021-07-27 15:42] tclune commented on #926
We'll discuss these issues at the Thursday refactoring meeting.  Unfortunately, it is only 45 minutes this week, so we'll need to be efficient.

[2021-07-28 20:26] #928 closed

[2021-07-29 15:15] #930 closed

[2021-07-29 17:14] bena-nasa commented on #914
I'm fine with what we discussed at the meeting today. For now assume that all 3D fields coming to History are following the GEOS convention (index 1 is the top of the atmosphere), but then give the user the ability to invert this. I'll take a look and make sure there are no issues but I can't foresee any.

[2021-07-29 17:50] mathomp4 commented on #926
Query for @tclune: Would this be a good time as well to get some Doxygen into MAPL? I suppose if we write comments into these new files, they could be in a Doxygen style?

[2021-07-29 18:01] tclune commented on #926
If you are willing to work with @Gvilla1000-nasa on this, we could prototype in the constants work and then expand from there?

[2021-07-30 13:27] bena-nasa commented on #915
This has been implemented, turned out to be harder than I thought and unfortunately only works for cubed-sphere (although as you pointed out that is all GCHP uses so you should be good). Note that once you take this, users who are currently running stretched grid simulations and **have restarts already will need to add these attributes to the restart so it doesn't fail.** Not a problem if you are

[2021-07-30 14:46] bena-nasa commented on #914
@lizziel This was fairly straightforward. I've made a PR to implement this as noted in the conversation. See that for details.

[2021-07-30 15:45] bena-nasa commented on #915
@lizziel I'm going to close this issue as it is implemented and is in the 2.8.2 release

[2021-07-30 15:45] #915 closed

[2021-07-30 17:28] bena-nasa commented on #914
@lizziel this already got merged in so this would in the next release (presumably 2.8.3)

[2021-08-02 13:57] lizziel commented on #914
Excellent, thank you! As mentioned earlier we'd also like this functionality for imports and checkpoints. Would you like me to make separate feature requests for these?

[2021-08-02 14:02] lizziel commented on #915
Thanks @bena-nasa. Heads up on this @LiamBindle since it means the attributes needs to be added to the stretched CS regrid tool you developed.

[2021-08-02 14:07] bena-nasa commented on #914
Could you make it a separate request. I'm a little less clear how I would do this in that how would the component know that this should be. This is probably best discussed as a new issue so please open a new one and I'll close this.

[2021-08-02 14:33] mathomp4 commented on #926
Sort of related: https://github.com/GEOS-ESM/GEOSgcm/issues/271

[2021-08-02 18:56] lizziel opened #942 "Feature request: configurable lev positive attribute in checkpoint files"
Currently MAPL reads and writes all restart and checkpoint files assuming vertical dimension direction `down`. This is indicated by the `positive` attribute included for the `lev` dimension in the file. For restart read this behavior is true regardless of whether the `positive` attribute is included in the file.

This feature request is to expand the vertical direction capability of checkpoint fil

[2021-08-02 19:15] #914 closed

[2021-08-02 22:08] lizziel commented on #284
Revisiting this old feature request in light of recent similar GCHP-related feature requests:

- https://github.com/GEOS-ESM/MAPL/issues/914
- https://github.com/GEOS-ESM/MAPL/issues/942

Those address the "positive" attribute handling for checkpoints and exports, but not imports. This feature request addressed imports but it looks like we got stalled in part because of hesitation to force users t

[2021-08-02 22:20] LiamBindle commented on #915
@lizziel Thanks for the reminder! Do you know what GCHP version this will come in?

[2021-08-04 14:15] mathomp4 opened #943 "Feature Request: Add 6DR8 overloads to Alloc/Dealloc Array"
This is per @patricia-nasa. She needs a `MAPL_AllocNodeArray_6DR8` and `MAPL_DeAllocNodeArray_6DR8` for I'm guessing her AeroApps work.

Now, she is on MAPL 2.6, so I'll need to make a branch there, but I'll also put this change onto `develop` as well.

[2021-08-05 18:35] Gvilla1000-nasa opened #947 "Remove unused functions from NominalOrbits"
Two functions are unused in the NominalOrbitsMod: deg2km and km2deg. Module uses parameters instead of these functions therefore they can be safely removed.

[2021-08-05 18:37] Gvilla1000-nasa opened #948 "Consolidate usage of tolerance"
the usage of tolerance in the code is quite not uniform. Although it is fine if the tolerance values differ, variable names being different can cause maintainability issues down the road. Suggestion would be to make sure usage is uniform.

Current usages of tolerance are `eps`, `tiny`, and `myeps`.

[2021-08-05 18:55] tclune commented on #948
`eps` has a very specific meaning for floating point and `tiny` has a very specific meaning for Fortran, so both should be avoided.   `tol` or `tolerance` would be a better name for user code.     Now, if the coder really meant `tiny` as in trying to avoid divide by zero, then we should just use Fortran `tiny()`.  (Of course roundoff ...  sigh)

[2021-08-09 17:20] mathomp4 opened #951 "MAPL_Config bug with GNU and GOCART2G"
I was trying to run GOCART2G with GNU and I found a bug in MAPL. To wit, when you run you get:
[code]
which points to `MAPL_ConfigSetAttribute_reals32` a function added by @atrayano:
https://github.com/GEOS-ESM/MAPL/blob/d5009302d5ebac669cc7ff93db5134154a2c7a88/base/MAPL_Config.F90#L649-L664

The issue seems to be with the 'magic number' 15. If you make a small little Fortran program:
[code]
This

[2021-08-12 15:45] bena-nasa opened #953 "Enable the MAPL grid factories to control PET placement when creating grids not on the full VM."
As part of the project to make an ESMF or NUOPC based History component, if we go the ESMF route it sounds like this will involve the ESMF_VMEpoch. If we do plan on using the ESMF_VMEpoch that must be called on the same VM across all PET's making the call, and therefore anything called in the epoch. So this would necessitate creating different fields on a subset of PETs in the VM for the applicati

[2021-08-12 16:35] tclune commented on #953
1.  Would a useful first step be to create a wrapper for the CSGridCreate method that takes a PET list, creates a DELayout and then calls the existing CS GridCreate?   I.e., sidestep the factories for the moment?
2. Are you certain that we want/need to involve the factories?   I had hoped/thought that maybe ESMF Reconcile would allow us to avoid making some of these types of changes.

[2021-08-12 16:49] Gvilla1000-nasa opened #954 "Refactor legacy MAPL_Generic"
As part of the refactoring effort, legacy MAPL_Generic.F90 needs to be moved to the generic directory. Effort of refactoring this legacy code entails understanding its dependencies and moving them to appropriate directories (for example profmod can go in profiler).

[2021-08-12 16:58] rsdunlapiv commented on #953
I think we should talk about this.  It is very unusual in ESMF to need to specify PET lists explicitly, except for when you are setting up a component context itself.  I don't think I fully understand the issue, so maybe we can take it up on a call when looking at code?  It might be helpful to think about the superstructure part for a bit (i.e., what are the component boundaries) and get that set

[2021-08-12 17:04] bena-nasa commented on #953
1. We could wrap the ESMF CS grid creation method. It would be nice to be able to test this with a lat-lon grid too. Creating the lat-lon grid and adding coordinates is a little bit of work, it seems like since we already have the factory that does all this we should use it.

What about this, the factories all end up calling a routine to create from parameters from the create_from_metdata, config,

[2021-08-12 17:09] bena-nasa commented on #953
I guess I'm misunderstand something? In order to use the VMEpoch framework, and stuff a FieldRegrid inside the epoch, I thought it said that you can't have a sender and receiver on the same PET, ergo the source and destination field can't be on the same PET's, which means you have to have grids that don't have DE's on the same pets which I don't see how you accomplish other than passing a pet list

[2021-08-13 14:27] mathomp4 opened #961 "Multi-day GEOS Runs are non-zero-diff with latest MAPL develop"
So, this is interesting. Last night, my tests showed that SCM with MAPL `develop` (1726321964680cdfdc43eed418f502937076b649) is now non-zero-diff with MAPL v2.8.0. Odd. I did some more tests and found something interesting. The model itself is non-zero-diff as well, but you have to run more than one day. Indeed, it seems you have to run a while. I set up some 10-day runs (I was going to do 1 week

[2021-08-13 14:32] bena-nasa commented on #961
Any idea exactly what the cutoff time is to go non-zero diff?

[2021-08-13 14:32] tclune commented on #961
Before staring too hard at code, hopefully @atrayano or @bena-nasa can conjecture what processes perhaps do not run until so far into the model?   We should then be able to see what constants are used there.

[2021-08-13 14:37] mathomp4 commented on #961
Well, my restarts are at 04-14 21z and budi was non-zero-diff at 04-20 0130z. If I look at the log, the only interesting thing for 00z on the 20th is:
[code]
But QFED is updated every day as are the solar constants.

[2021-08-13 14:41] mathomp4 commented on #961
Note this seems to be true GOCART or GOCART.data.

[2021-08-13 14:41] atrayano commented on #961
Since single column run are fast, I am thinking we should write intermediate checkpoints often to bracket the first non-zero diff.

[2021-08-13 14:54] bena-nasa commented on #961
I really can't think of something that wouldn't happen until 5 days or so into the run. Certainly the inputs can change (ExtData inputs, ReadForcing inputs, the pchem species file, volcanoes) but I'm having a hard time seeing how those could function one way, then be processed in a differed way that causes non-zero diff.

[2021-08-13 14:58] atrayano commented on #961
I am thinking if the solar constant slowly evolves with time, this potentially could explain it. But this is a very long shot

[2021-08-13 15:04] tclune commented on #961
On a related thought.   Maybe there is always roundoff somewhere due to a small change in a constant.    But that roundoff usually ends up back at 0-diff after more calculations, but not always.    E.g.,   some larger number is accumulating a delta where the delta differs in the last bit.   Usually that will not affect the sum because the larger number is, er, larger.

Not that this is particularl

[2021-08-13 15:17] Gvilla1000-nasa commented on #961
Only variable I can really think of would be `MAPL_EARTH_ECCENTRICITY`, `MAPL_OMEGA`, and those places where I changed the hardcoded definition of PI to use `MAPL_PI` or `MAPL_PI_R8`. I'll write up a program to do as suggested and report back.

[2021-08-13 15:29] mathomp4 commented on #961
`MAPL_OMEGA` does seem to be used in FV3:
[code]

[2021-08-13 16:19] mathomp4 commented on #961
One note: All I can say is that the before-constant-refactor code is zero-diff after 10 days. If we have some month-long thing...

I suppose I should now look at longer runs in my nightly tests. If we can pin down what caused this, maybe a...1-week run of GEOS at c24 comparing stock to MAPL `develop` is a good thing. We could afford it on Discover.

[2021-08-13 16:22] mathomp4 commented on #961
That could be doable. I can probably look at doing it next week. Would need to brush up on my AGCM.rc RECORD knowledge :)

[2021-08-13 18:39] bena-nasa commented on #961
Once we have an approximate time it goes non-zero diff hopefully then we can stop a step or two before and from that the executables still go non-zero diff from that time.

[2021-08-13 19:48] Gvilla1000-nasa commented on #961
Based on the tests I performed, it started going non-zero diff after 5days and 5 hours. I ran the model for 5 days and 3hrs and used the output of that time as the new restart time and ran it for 1hr and it was zero-diff. When I ran it for 2hrs it started being non-zero diff matching the 5days 5hr initial run.

[2021-08-14 22:10] atrayano commented on #961
Gian, thanks for bracketing the issue. So it looks like the last known zero-diff is at 5days and 4 hours. I would suggest we continue the bracketing at much finer scale, i.e. at the heartbeat of the clock. If you have all the checkpoints, you should start at 5days 4 hours (otherwise use your 5days 3 hours restarts). You could either run each iteration for only one time step. Or you you run for an

[2021-08-16 12:13] Gvilla1000-nasa commented on #961
Instructions on dumping intermediate checkpoints would be helpful. I saw in the gcm_run.j about them being dumped into the restarts directory but that was empty when I checked.

[2021-08-16 12:51] bena-nasa commented on #953
Closing this for now as it was decided that we would not put this in the factories for now, but rather make some simple module to make a few grids select we can use for testing. If needed we can revisit this.

[2021-08-16 12:51] #953 closed

[2021-08-16 12:51] bena-nasa commented on #953
Closing, see previous comment

[2021-08-16 12:59] bena-nasa commented on #961
Gian,
Uncomment these lines in your AGCM.rc:
[code]
these allow you specify a list of reference date and times you to output checkpoints during the run. So if you wanted them say once a day from the start time, lets say you started the model at
04012005 210000 you would set this:
[code]

[2021-08-16 13:45] Gvilla1000-nasa commented on #961
Thanks! This situation is getting more complicated by the minute haha.

I started at day 5 hour 4 and started outputting intermediate checkpoints every 10mins (so I increased the heartbeat from default 900 to 600). This resulted in non-zero diffs beginning to show up after 1hr. This matches the day 5 hour 5 shown before (yay).

However, when I increased the heartbeat to 300 so I could see if the p

[2021-08-16 13:57] Gvilla1000-nasa commented on #961
I should also mention, that I also performed a new test after doing @tclune suggestion of writing the small program to see the differences in constants. Doing that resulted in the following variables being different (`MAPL_EARTH_ECCENTRICITY`, `MAPL_DEG_PER_KM`, `MAPL_KM_PER_DEG`, `MAPL_OMEGA_R8`). Most if not all of them are isolated to the NominalOrbits module. Reverting these variables to their

[2021-08-16 14:01] bena-nasa commented on #961
NominalOrbits is not used so can't be the culprit as you showed.

[2021-08-16 20:06] mathomp4 commented on #961
5d 5h is so weird. I mean, I suppose 125 (hours) is...5 cubed? So baffling. What is it about that point in time? Such a mystery.

[2021-08-18 13:35] mathomp4 commented on #961
Solved and closing!

[2021-08-18 13:35] #961 closed

[2021-08-19 16:34] #42 closed

[2021-08-19 16:34] #926 closed

[2021-08-19 16:34] #947 closed

[2021-08-19 19:30] mathomp4 commented on #926
ooh. I think it autoclosed!

[2021-08-20 15:53] LiamBindle commented on #284
@lizziel I like that handling. It's backwards compatible but cleanly allows for the introduction of "positive" handling.

I would prefer `IMPORT_POSITIVE_FILL` be required though (with a default value of `down` in our config files).  This is an aside, but in general I'd prefer to favor mandatory settings over optional settings because it's hard to keep track of what settings actually exist. The co

[2021-08-25 15:05] LiamBindle opened #990 "Absolute paths to *_INTERNAL_RESTART_FILE cause errors"
Hi all,

We had a user who tried to set the GCHPchem_INTERNAL_RESTART_FILE to one of the default GEOS-Chem initial conditions. This caused a weird error. Relative paths work okay, but absolute paths seem to cause an issue.

Is a known limitation? If so, is it easy to fix? I took a quick look at `base/MAPL_Generic.F90` but I didn't see anything obvious.

Thanks in advance,
Liam

[2021-08-25 15:23] bena-nasa commented on #990
hmm, there shouldn't be anything wrong with an absolute path that I'm aware of. My only guess is that there is a string that is not long enough perhaps? ESMF has two internal defined constants ESMF_MAXSTR which is 256 and ESMF_MAXPATHLEN which is 1028. We have had issues where we used a file path that was a character defined with ESMF_MAXSTR and it just not being long enough. This is easy to test,

[2021-08-25 15:55] bena-nasa commented on #990
It must be a path length issue. I had no problem with an absolute path of a reasonable length (under 256 characters), but if I gave it a really long absolute path it failed. This should be a relatively simple fix, somewhere needs to become a ESMF_MAXPATHLEN.

[2021-08-25 16:36] tclune commented on #990
And someday it will all be deferred length strings. (ha)

[2021-08-25 19:25] LiamBindle opened #992 "How do we get ESMF errors to show?"
Hi all,

Is it possible to get ESMF errors to be written to the logs? Today I opened https://github.com/GEOS-ESM/MAPL/issues/990 which was a GCHP bug caused by calling `ESMF_ConfigGetAttribute()` with too small of a string. It looks like ESMF is supposed to log an error message when this happens (see [here](https://github.com/esmf-org/esmf/blob/cec0099eb91be8bf93b23954a5bbe10e66f32a2d/src/Infrastr

[2021-08-25 20:53] #992 closed, assigned to nobody

[2021-08-26 16:04] mathomp4 opened #996 "MAPL_CapOptions in base: why?"
I'm not the MAPL guru @tclune and the rest @GEOS-ESM/mapl-team are but as I was looking around today, I saw that `MAPL_CapOptions.F90` is in `base` and not in `gridcomps/Cap`. Is there a reason for that I don't know about?

[2021-08-27 13:04] bena-nasa opened #1003 "Is the "+"

[2021-08-27 13:09] bena-nasa opened #1004 "Is the "+"/"-" still necessary for restarts?"
While fixing a bug that was introduced due to not remembering that we still have the +- handling at the beginning of restart names, the question arose from multiple people if this is even necessary. Making an issue to remind myself to take a look at see if we are even still using these.
The "-" was to say that you were allowed to bootstrap it
The "+" was something for binary restarts to allow for

[2021-08-27 13:27] #1003 closed, assigned to nobody

[2021-08-30 13:20] #943 closed

[2021-08-30 13:21] #916 closed

[2021-08-30 13:27] #829 closed

[2021-08-30 13:28] mathomp4 commented on #920
Closed by #963

[2021-08-30 13:28] #920 closed

[2021-08-30 13:59] tclune commented on #996
These should be in gridcomps/Cap.    Further, the Flap extension is still not quite implemented in the cleanest way.  This can be done without `#ifdef's`

[2021-08-30 14:26] mathomp4 commented on #589
@lizziel are you still seeing this?

[2021-08-30 15:57] 1Dandan opened #1005 "Setting up output server for GCHP simulation on Pleiades"
I am setting up output server on Pleiades following https://github.com/GEOS-ESM/MAPL/issues/739. I am trying to run a 1200 total cores for model and 24 cores for output server. What I changed are:
1) Modified the lines about establishing o_server group in ServerManager.F90 of:

    if (rank == 0 .and. nodes_out(i) /=0 )
    else if (rank==0 .and. npes_out(i) /=0 )

    to:

    if (rank == 0 .and.

[2021-08-30 16:08] lizziel commented on #589
I still have not tested this but will get around to it this week.

[2021-08-30 16:09] LiamBindle commented on #284
Hi all, I'm also revisiting this. I've been asked to get GCHP working with native metfields. I need to either implement a flipper, or as Seb suggested, rewrite the GCHP interface for top-to-bottom level indexing.

Also, as a side note, IIUC "positive" up/down refers to the direction of the coordinate's values which isn't necessarily the same as the direction of level indexing. For example, GEOS's

[2021-08-30 17:11] lizziel commented on #284
I wonder if my suggestion above could be implemented quickly given the History update was very fast. @tclune, @bena-nasa, what do you think of my suggestion a few comments up? As Liam just pointed out we also need to take into account the level coordinates. It seems like the easiest solution is have MAPL figure it out upon read based on lev:positive and level coordinate values, and then always sto

[2021-08-30 17:51] mathomp4 commented on #1005
I'm going to pull in @weiyuan-jiang as I only know how to do the FLAP side of these things...

[2021-08-30 19:49] weiyuan-jiang commented on #1005
These two are exclusive
cap_options%nodes_output_server = [1]
cap_options%npes_output_server = [24]

1) If you ask 24 cores per node when snatching the job, you don't need to specify cap_options%npes_output_server = [24]. So please remove this line.
2) 1200 core vs 24 output probably is not optimal ( but it should work). You may need more cores for observer with type of 'multigroup'.

[2021-08-30 20:02] tclune commented on #1005
If the options are incompatible, can we add logic to detect that at the point where they are used?

[2021-08-30 22:25] 1Dandan commented on #1005
Thanks @weiyuan-jiang. I have commented out the line in MAPL_CapOptions.F90:
    `cap_options%npes_output_server = [24]`,
but I still got the same error message of:
    `FATAL from PE    12: mpp_domains_define.inc: At least one pe in pelist is not used by any tile in the mosaic`

[2021-08-31 11:36] weiyuan-jiang commented on #1005
I cannot find the lines
if (rank == 0 .and. nodes_out(i) /=0 )
else if (rank==0 .and. npes_out(i) /=0 )

Which branch or tag of MAPL are you using?

[2021-08-31 12:51] bena-nasa commented on #680
Yes this should be fixed

[2021-08-31 12:51] #680 closed

[2021-08-31 13:18] 1Dandan commented on #1005
I am using GCHP v13.0.0. It says MAPL is v2.2.7 according to http://wiki.seas.harvard.edu/geos-chem/index.php/GEOS-Chem_13.0.0 The original ServerManager.F90 looks like:
![image](https://user-images.githubusercontent.com/75513026/131508480-c287b77a-ca3d-4419-add4-c578427f0592.png)
I modified line 167 and 169 to:
if (rank == 0 .and. nodes_out(1) /=0 )
else if (rank==0 .and. npes_out(1) /=0 )

[2021-08-31 13:29] weiyuan-jiang commented on #1005
How do you ask for the resource? Can you post your slurm script here?

[2021-08-31 13:29] bena-nasa commented on #284
@lizziel @sdeastham @tclune
Lizzie,
Is this the suggestion you are talking about:
"Those address the "positive" attribute handling for checkpoints and exports, but not imports. This feature request addressed imports but it looks like we got stalled in part because of hesitation to force users to update their existing data to include the vertical direction metadata. To get things moving again, how

[2021-08-31 13:31] weiyuan-jiang commented on #1005
In flap when we construct the caption, we have those checks.

[2021-08-31 13:49] 1Dandan commented on #1005
Sure. I am using PBS (Portable Batch System) to request resources. The scripts are:
[code]
The compiler I am using is Intel 19.1.3 and MPI version is MPT 2.23

[2021-08-31 13:55] weiyuan-jiang commented on #1005
@bena-nasa , Ben, it seems this error is not caused by oserver setup. Have you seen this kind of error?

[2021-08-31 14:04] bena-nasa commented on #1005
Yes, every time I've seen this error:
"FATAL from PE 12: mpp_domains_define.inc: At least one pe in pelist is not used by any tile in the mosaic"
It means you executed FV3 (and hence the model) on more processors that you specified via the layout (NX and NY) so FMS is complaining that an MPI rank is not being used.  I'm just catching up with this but somehow the resource allocation and splitting t

[2021-08-31 14:14] weiyuan-jiang commented on #1005
I think flap is not used so the capoption has to be hard coded. You are right, we have to investigate how many pe is used by the model.  @1Dandan can you check the size of the comms with " call mpi_comm_size(this%split_comm%get_subcommunicator(), npes, status) "  under "model" and "oserver"?

[2021-08-31 14:31] weiyuan-jiang commented on #1005
Actually, check "application_size" in ServerManager.F90 is enough.  I would like to know  if it is 1200

[2021-08-31 14:52] lizziel commented on #284
Yes, that is the suggested handling I am talking about.

Correct.

No, the internal, import, and export states would _all_ be stored internally in the GEOS convention. When assigning GEOS-Chem arrays within the GEOS-Chem grid comp we'd then be able to apply consistent handling when extracting data from all three MAPL states.

For this update it is important that we have a config option for specify

[2021-08-31 15:04] bena-nasa commented on #284
The export states are never written and then read unless there is some use case I'm not aware of so there is no action that would need to be done to them.  I'd probably have to as part of generic initialize chem the config for the attribute and set it in the internal/import states, as the place I have easy access to the file metadata, the RC file is not available.

[2021-08-31 15:24] lizziel commented on #284
Yes, sorry, my statement was too general. For the case of exports we fill them with GEOS-Chem array data so having them stored in the GEOS convention _prior to write_ is what I meant. There was further work for exports to allow specifying positive in output file, but that's a separate github issue and I think you said it is already in a MAPL release now.

[2021-08-31 15:33] tclune commented on #1005
I think the user @1Dandan is a GCHP user, which is part of the confusion.

[2021-08-31 16:39] 1Dandan commented on #1005
Sorry I am not familiar with MAPL and it indeed caused some confusion. I did not find the part that setting the value for application_size. Do I need to add it in MAPL_CapOptions.F90?

[2021-08-31 16:45] weiyuan-jiang commented on #1005
No. I just want you to print out the variable application_size

[2021-08-31 18:06] weiyuan-jiang commented on #1005
At some point, you need to call subroutine initialize_io_clients_servers which will call above initialization

[2021-08-31 18:10] 1Dandan commented on #1005
The source code can be found here: https://github.com/geoschem/GCHP/releases/tag/13.0.0. I modified ServerManager.F90 and MAPL_CapOptions.F90. The modified files are:
[ServerManager.F90.txt](https://github.com/GEOS-ESM/MAPL/files/7085947/ServerManager.F90.txt)
[MAPL_CapOptions.F90.txt](https://github.com/GEOS-ESM/MAPL/files/7085949/MAPL_CapOptions.F90.txt)

[2021-09-01 13:12] weiyuan-jiang commented on #1005
Is that possible to upgrade your MAPL? I remember that the values in the CapOptions got lost when it is passed to MAPL_Cap in NOAA's Orion system. We have fixed that problem.

[2021-09-01 13:55] weiyuan-jiang commented on #1005
If it is too much trouble to upgrade MAPL, you can try this first
1) check the cap_options values after  this block  https://github.com/GEOS-ESM/MAPL/blob/29286d8a78b0bdea447465ede7bb4217782538c2/base/MAPL_Cap.F90#L92-L96

2) if the values are NOT correct, then you re-assign the values just like what you have done to MAPL_CapOptions.F90
3) if the values are correct, then it is useless to assign th

[2021-09-01 19:20] weiyuan-jiang commented on #1005
@1Dandan , I will make a new branch based on v2.2.7 and try to fix this problem.

[2021-09-01 20:02] 1Dandan commented on #1005
Really appreciated @weiyuan-jiang! Just to let you know that the Pleiades is under maintenance for the whole day and I will try your suggestion tomorrow.

[2021-09-01 20:08] weiyuan-jiang commented on #1005
@1Dandan , before you try anything, please try to change the two line first. Change "class" to "type"
1) https://github.com/GEOS-ESM/MAPL/blob/29286d8a78b0bdea447465ede7bb4217782538c2/base/MAPL_Cap.F90#L33
   type (MAPL_CapOptions), allocatable :: cap_options
2)https://github.com/GEOS-ESM/MAPL/blob/29286d8a78b0bdea447465ede7bb4217782538c2/base/MAPL_Cap.F90#L85
   type ( MAPL_CapOptions), optional,

[2021-09-02 22:10] 1Dandan commented on #1005
I have modified line 33 and 35 in MAPL_Cap.F90 replacing `class` by `type`, and removed build directory and recreated one. Initialing build directory with `cmake ..` received no error. But when I was compiling build directory, I received the error saying `cap_options%oserver_type` is not recognized as a field name:
[code]

[2021-09-03 12:57] weiyuan-jiang commented on #1005
Your version of MAPL is not v2.2.7. Can you double check for me?

[2021-09-03 12:58] weiyuan-jiang commented on #1005
In v2.2.7, we have not introduced the "oserver_type".  So it must have been updated to newer version

[2021-09-03 13:11] tclune commented on #1005
One way to see the version is to look at the top of the CMakeLists.txt file in the top directory of MAPL.    That might be a bit easier than interpreting the SHA code used for the git submodule.

[2021-09-03 13:48] 1Dandan commented on #1005
The CMakeLists.txt did show the MAPL version is 2.2.7.
[code]

[2021-09-03 14:07] weiyuan-jiang commented on #1005
In v2.2.7, there is no "oserver_type" in the structure but you were able to assign the values before the changes I proposed (i.e., class ->type). So your previous MAPL is not v2.2.7 or at least it had been modified.  The easy way to use v2.2.7 is to remove oserver_type assignment.

[2021-09-03 14:17] tclune commented on #1005
@1Dandan can you make your source code on pleiades readable by @weiyuan-jiang?   We should not get bogged down in verifying which version of MAPL is being debugged.

[2021-09-03 14:31] 1Dandan commented on #1005
Sure. I will change the directory permision.

[2021-09-03 18:07] Gvilla1000-nasa opened #1012 "MAPL_GenericWrapper not being explicitly declared as recursive"
Although, this issue doesn't seem to be affecting any runs when the file is located inside the base directory, it is a fix worth having.

[2021-09-03 18:49] #1012 closed

[2021-09-07 14:16] lizziel commented on #589
I still have not tested this. We have very heavy traffic on our cluster right now making it hard to get runs to start. However, I wonder if this fixed the problem: https://github.com/GEOS-ESM/MAPL/pull/1013. I think I'll wait to test after we update to the MAPL version with that PR merged.

[2021-09-07 14:16] #589 closed

[2021-09-07 16:13] weiyuan-jiang commented on #1005
@mathomp4 , It seems an environment variable needs to be set before launching the job. What is that?

[2021-09-07 16:41] mathomp4 commented on #1005
@weiyuan-jiang Well, the MPT variables we use are:
[code]
He can also try setting `FOR_IGNORE_EXCEPTIONS=false` which can help MPT to not suppress tracebacks:
[code]

[2021-09-07 17:04] 1Dandan commented on #1005
Thank you! I will modify my PBS script, but somewhat odd to me because I am using the same PBS script but previous one did print out traceback info while now it didn't.

[2021-09-08 19:43] Gvilla1000-nasa opened #1020 "Refactor ExtData modules from Base"
Now that ExtDataGridCompMod will be moved into its own subdirectory inside gridcomps, it is time to refactor other ExtData modules into it.

[2021-09-10 18:25] lizziel commented on #38
Checking in on this issue. Do you still have this as a to do item?

[2021-09-10 18:47] mmanyin commented on #530
Assume that the F90 interface for netCDF strings is permanently broken.  Then either this problem must be handled within GEOS, using an approach such as @mathomp4 has outlined (ignoring strings), or the end users must convert each and every dataset containing NF90_STRING attributes into files that do not contain NF90_STRING attributes. I vote for the first option, because it's a quick solution, as

[2021-09-11 02:16] mmanyin commented on #259
When this was re-examined last April, was there a consensus?  I would still (very much) support a routine as @atrayano recommended on Mar 18.

[2021-09-13 11:32] tclune commented on #259
Mentioning to @bena-nasa too, as he's the one more likely to touch the logic in ExtData for this.

[2021-09-13 11:38] tclune commented on #530
Taking a fresh look at this.    Is the problem simply that I did not realize that NF90_STRING exists when developing NetCDF4_FileFormatter.F90?      Looking at the code, it should probably not even be necessary to `cycle`.  We should be able to add the appropriate logic- at least for scalar strings.      I'll take a stab at this, if someone is willing to test against a "bad" file.

[2021-09-13 11:42] tclune commented on #530
OK - sorry.  Should have reread the open issue on NetCDF before responding.     The problem is that the NF90 interfaces for this don't exist at all.  So there is nothing for us to exercise.    I'll look at the C interface and should instead be able to create our own wrapper that works for the scalar case.    Arrays of strings will be flagged as an error. (unsupported functionality).

[2021-09-13 13:16] mathomp4 commented on #835
I can't seem to reproduce this, so I'll close for now. If we ever can reproduce it, we'll pick it back up.

[2021-09-13 13:16] #835 closed

[2021-09-13 13:52] mmanyin commented on #530
@tclune a C wrapper sounds like a good solution! I agree that arrays of strings don't need to be supported.

[2021-09-13 13:55] tclune commented on #530
@mmanyin  OK - I've pushed a branch `feature/tclune//#530-nf90-string-support`.     Have not tested it other than MAPL unit tests which do not exercise this layer.    If you have time, please give it a go.

Note, from my quick read, even the C interfaces don't support an array of strings, so for now I'm not even making this an error.

[2021-09-13 13:59] mathomp4 commented on #819
@tclune @weiyuan-jiang Do you think this is possible with logger?

[2021-09-13 14:00] mmanyin commented on #259
@bena-nasa Could we have a routine to inquire "is there already an import field with name xxx?" and could it please return attributes of the field as well.  TR can call this from SetServices and decide whether to AddImport.  Clearly we only want to add an import once for TR (even though it may be specified for multiple TR tracers).

[2021-09-13 14:01] mathomp4 commented on #639
Labeling as long term. This probably will take a bit of thought and work by @bena-nasa , et al.

[2021-09-13 14:02] mmanyin commented on #530
@tclune  very good!  I am out of the office this week, but will test it as soon as I have a little time.

[2021-09-13 14:08] bena-nasa commented on #639
As I've said many times before, MAPL_IO has gotten to the point that it needs to be cleaned up and refactored before we add any more capabilities. The code is out of control and adding new capabilities is just getting to the point where is is exceedingly difficult. The binary branch just needs to be pulled out for historical support and a re-write of the netcdf routines needs to happen and hopeful

[2021-09-13 14:12] bena-nasa commented on #259
We should have this check for addimport/internal/export. That is reasonable. I will add it to the list.

[2021-09-13 14:13] bena-nasa commented on #123
I am attempting now to eliminate MAPL_CFIO in the model components that make use of MAPL_CFIO for the MAPL_CFIORead routine.

[2021-09-13 14:14] tclune commented on #819
It should be straightforward to use pflogger in that layer.   Might be a bit harder to only emit the message on one process.

[2021-09-13 15:01] lizziel commented on #639
Thanks @bena-nasa. To reiterate our wish list, it would be fantastic if the new design would give the following behavior:
1. Automatically regrid input restart to run resolution
2. Indicate the file specs of the input restart in the log, and any pertinent information on the regridding, perhaps through pFlogger
3. Use same grid format in both History and checkpoints

@sdeastham, am I missing anythi

[2021-09-13 16:36] mathomp4 commented on #702
I think @bena-nasa knows of this, and again this is probably a long term issue, so, I'll label it long-term.

[2021-09-13 16:41] mathomp4 commented on #338
I have re-confirmed that this issue still exists with GNU/Open MPI. But I now realize I can try it out on my laptop with Intel/Open MPI and at least make sure it's not the MPI stack.

[2021-09-13 16:42] mathomp4 commented on #254
I am going to label this as long-term as I know it's something @JulesKouatchou (and @mmanyin ?) would like. Again, it might be something @tclune, @atrayano , and @bena-nasa would have to ponder on how to achieve.

[2021-09-13 16:43] mathomp4 commented on #470
Pinging @bena-nasa and @atrayano : Is this still an issue? Or should it be fixed with that "Alarms in ESMF" branch the ESMF folks were having @bena-nasa  test?

[2021-09-13 16:44] mathomp4 commented on #484
@tclune @atrayano I don't think this has been resolved, correct? But it seems like something that is needed, so I'll add the "long term" to this.

[2021-09-13 16:45] mathomp4 commented on #502
I'm going to label this long-term as it's essentially unsolvable until we can get an MVAPICH2 person on Discover. And @tclune knows the pain of that. (Maybe we should add a "long term due to bureaucracy" tag... :( )

[2021-09-13 16:46] mathomp4 commented on #517
This is definitely a long-term sort of issue. My guess is it could be a good candidate for MAPL3 (though @tclune might say it could go in any time). I'll add that label as well as long-term.

[2021-09-13 16:52] mathomp4 commented on #569
This seems to be another long-term issue for sure.

[2021-09-13 17:11] bena-nasa commented on #254
I'm not sure what the issue is here. There is not enough detail for me to understand what the problem it. Is the issue that you have a field with a double precision pointer coming into ExtData? That is a problem, I would need to extend the existing IO layer but once again I'm not clear that the problem is. Please provide adequate details.

[2021-09-13 17:12] mathomp4 commented on #626
So I decided to see if this was still an issue and I guess I am dumb. I tried adding a chunksize line to `HISTORY.rc` in a C90 run:
[code]
thinking, hey, prime numbers aren't good chunks but apparently netCDF or MAPL is better than I know? Or I don't know what bad chunking values are...

[2021-09-13 17:13] bena-nasa commented on #702
I did take a 2nd look at the particular extreme case Liam referenced where he was noticing a slowdown but I was unable to make any notable improvements.

[2021-09-13 17:13] mathomp4 commented on #635
Per comment by @bena-nasa this is a long-term thing.

[2021-09-13 17:13] mathomp4 commented on #636
I'm thinking this might be a long-term project by @bena-nasa or @atrayano so marking long-term.

[2021-09-13 17:14] bena-nasa commented on #635
Same answer as everything else related to IO of restarts. Unless we refactor MAPL_IO we've reached the point the code as it stands is just too messy to keep piling on features without a thoughtful refactoring at the same time.

[2021-09-13 17:15] mathomp4 commented on #714
I am not sure if this is related to #530. Thoughts, @tclune ?

[2021-09-13 17:15] bena-nasa commented on #636
The checkpoint files should include this now as of MAPL v2.8.1, closing the issue.

[2021-09-13 17:15] #636 closed

[2021-09-13 17:16] mathomp4 commented on #740
Given the size of the initial post by @bena-nasa I think this is a long-term issue. Labeling so.

[2021-09-13 17:18] bena-nasa commented on #470
I do not know, will have to check

[2021-09-13 17:21] bena-nasa commented on #626
A bad chunking value would be one that say is greater than the size of the dimension, try that. The values you tried above are perfectly valid, I don't think there is anything that says the chunking must divide evenly.

[2021-09-13 17:32] bena-nasa commented on #740
This is really an issue that the input files in question were generated in an illogical way. These are 2D (spatially) quantities and the lev dimension should never have been there. If you have a 2D field you are saying, try to fill me with what the file says is a 3D quantity in a spatial sense. Of course this breaks logic somewhere in the chain as it seems reasonable when coding to expect a 2D spa

[2021-09-13 17:38] bena-nasa commented on #254
Also want to point out that there is no issue with single precision files per-say in that NetCDF does type conversion if you pass a double precision array into the var read and the files has single precision data. The only issue is if somewhere in MAPL we make an assumption about the precision that breaks something before getting to the NetCDF read so I will await more clarification.

[2021-09-13 17:55] mathomp4 commented on #626
Hmm. Well, I just tried:
[code]
and it worked. I even tried adding:
[code]
thinking maybe chunking goes hand-in-hand with compression. History still worked. Maybe this doesn't matter anymore?

[2021-09-13 18:03] #954 closed

[2021-09-13 18:03] #545 closed

[2021-09-13 18:18] bena-nasa commented on #626
hmm, does it actually respect our chunking values? I looked in History and newCFIO, I don't see any sort of protection incase the suer specifies chunking values that are too big. Maybe Weiyan implemented something on the pFIO side?

[2021-09-13 18:52] mathomp4 commented on #486
Hmm. This should be in 2.8.6 now. Closing.

[2021-09-13 18:52] #486 closed

[2021-09-13 19:58] mathomp4 commented on #338
Okay. This is definitely due to GNU. Intel + Open MPI on my laptop works.

I might need to put my head together with @tclune or @atrayano. I swear we once had an issue with GNU and Binary restarts that I thought we fixed. But I think this was in pre-GitHub days, so I can't find anything about it.

Maybe it's simpler to just convert all the SCM restarts to netCDF, but... it's a Fortran binary!

[2021-09-13 20:15] mathomp4 commented on #338
Unless...are Fortran binaries "standard"? Or is it possible a binary written by Intel would not be readable by GNU? I'd figure a little-endian unformatted write should be pretty consistent among the compilers.

[2021-09-14 12:47] tclune commented on #338
Binary format is _not_ standardized.   But ... many compilers use the same binary format (esp. now that everyone is the same endian).   So, reasonably portable I would think.    If we were doing `access='direct'` I'd be a bit more concerned about getting the record length correct.

It should not be too hard to construct a very simple file and program to read it.   I suspect the program will work w

[2021-09-14 13:37] bena-nasa commented on #942
@lizziel I've implemented this feature as requested in the issue and it is in our develop branch so should be in the next MAPL release issued.

[2021-09-14 13:37] #942 closed

[2021-09-14 13:38] bena-nasa commented on #284
I'm closing this issue as this has been addressed for History and checkpoint/restart as requested via other issues.

[2021-09-14 13:38] #284 closed

[2021-09-14 13:53] bena-nasa commented on #641
Just adding a comment as a reminder of this. I added a new feature that reminded me that we really should do this. At the very least split apart MAPL_IO into separate binary and NetCDF modules so we can have some hope of cleaning this up the NetCDF handling someday.

[2021-09-14 15:46] mathomp4 commented on #338
Yeah, @atrayano might be our best bet. I'd probably have to stare at MAPL IO for a day to figure out our binary format!

[2021-09-14 17:11] atrayano commented on #338
I'll take a closer look after the meeting with Rocky at 2pm today

[2021-09-15 13:26] mathomp4 opened #1032 "Info::get() ESMF Logging Errors with MAPL Develop"
Last night's tests are throwing a ESMF errors in the logging:
[code]
Given the error output of `FLIPPED` and `get` I'm guessing it's from #1029 and this call:
https://github.com/GEOS-ESM/MAPL/blob/cd97e74658259d5b0b4fbaf4e29522cf63ddce30/base/MAPL_IO.F90#L8517

My guess is we need a `isPresent` check a la:
https://github.com/GEOS-ESM/MAPL/blob/cd97e74658259d5b0b4fbaf4e29522cf63ddce30/base/MAPL_IO.

[2021-09-15 13:27] mathomp4 commented on #1032
Meanwhile, I suppose I should look at doing a 1-step run of GEOSgcm with MAPL and checking for ESMF logging errors?

[2021-09-15 13:37] mathomp4 commented on #782
In re #1032, I took a look at the latest ESMF documentation and I see for `ESMF_AttributeGet`

I'm going to invoke the name of @rsdunlapiv about the timeline for ESMF 9. Just so we know because we appear to have 368 `ESMF_Attribute` calls in MAPL and another 313 in the `Components` of GEOSgcm.

So, mayhaps this is another thing for MAPL3, @tclune, depending on the timeline?

[2021-09-15 13:54] mathomp4 commented on #782
Hmm. I wonder if something like this:

would be useful for MAPL to "organize" our attributes/info.

[2021-09-15 14:26] tclune commented on #782
I need to review my notes from discussions with Arlindo about our next gen use of YAML.    We need a clear policy of how each level in our hierarchy searches for an attribute.   We can then re-examine in light of the above.   Generally YAML is a superset of JSON, but I don't know anything about JSON "pointer syntax".

[2021-09-15 14:52] mathomp4 commented on #782
It looks like a JSON pointer is a string-based access of a dictionary in `/foo/bar/` format:
https://datatracker.ietf.org/doc/html/rfc6901
https://www.baeldung.com/json-pointer

[2021-09-15 15:20] mathomp4 commented on #1032
Since I don't do a lot of ESMF, maybe this:
[code]
is equivalent to:

https://github.com/GEOS-ESM/MAPL/blob/cd97e74658259d5b0b4fbaf4e29522cf63ddce30/base/MAPL_IO.F90#L8517-L8521

If so, I can make a PR and feel like an ESMF hacker! 😄

[2021-09-15 15:22] rsdunlapiv commented on #782
@mathomp4 regarding ESMF 9 - I think you still have some time here.  However, perhaps you could migrate a couple of ESMF_Attribute calls to ESMF_Info for some preliminary testing?  If that goes well, then a systematic replacement would hopefully not be too painful!

[2021-09-15 20:10] mathomp4 opened #1034 "CircleCI Config has a lot of Duplicated Code"
The MAPL CircleCI config is a bit...much. A lot of the code is the same for GEOSgcm, GEOSldas, GEOSadas, etc. I think CircleCI has better ways to do this with reusable commands, etc.:

https://circleci.com/docs/2.0/reusing-config/#authoring-reusable-commands

Take a look at this, Matt.

[2021-09-15 21:30] 1Dandan commented on #1005
I have run the simulation again with output server turned on. It works well to write the output diagnostics with one node for output server without any error. That's very promising! And then I tried to use 3 nodes for output server, but it failed at writing output files.
The modification I made for MAPL_CapOptions.F90 is to change cap_options%nodes_output_server=[3] as below:
[code]
The error mass

[2021-09-17 11:03] weiyuan-jiang commented on #1005
@1Dandan The old oserver is not quite portable and it requires a lot of tuning of the system. Please try to build GCHP with the new version of MAPL. I will help you setup a "multigroup" oserver after that.

[2021-09-17 12:43] 1Dandan commented on #1005
@weiyuan-jiang Sorry I have no idea how I can upgrade MAPL within GCHP. But thanks a lot for the help.

[2021-09-17 12:49] weiyuan-jiang commented on #1005
You probably can use  "git checkout develop" and "git pull" in you MAPL directory.  Please try if MAPL can be built independently.

[2021-09-17 13:00] JulesKouatchou commented on #254
This issue was created using the Icarus version of the code. In the past few days, I made changes to the Jason version of the code in order to create a simple test to duplicate the problem. It seems that with Jason (perhaps changes in MAPL and ExtData), there is no longer an issue.

If @bena-nasa wants to do a test, follow the steps:

- Get the CTM branch v10.19.3-CTM_jk.
- Compile the code and ru

[2021-09-17 13:55] atrayano commented on #338
@mathomp4 This looks like gfortran bug. Their error return code (5001) essentially means "end-of-file", but it is not consistent with IOSTAT=IOSTAT_END. This has nothing to do with the MPI flavor, nor with the single column model per say. Nevertheless, our code was not very clean either - we were attempting to read extra record while being at the end of the file (only to check IOSTAT) and then goo

[2021-09-17 14:22] mathomp4 commented on #338
@atrayano Okay. I'll build it and try it out now!

[2021-09-17 15:16] #724 closed

[2021-09-17 16:37] mathomp4 commented on #338
@atrayano Well, it still crashes, but it crashes in a *different* spot, so that progress:
[code]

[2021-09-17 16:38] mathomp4 commented on #338
Oops. even worse, your branch + **Intel** *also* crashes in the same way.

[2021-09-17 17:25] atrayano commented on #338
Committed another version. @mathomp4 could you try again

[2021-09-17 17:47] mathomp4 commented on #338
Welp, that worked on discover. Looking at your change, there is no way it couldn't I suppose! Let me try now on my macOS laptop...

[2021-09-17 18:50] mathomp4 commented on #338
And it worked on my laptop too! Huzzah!

[2021-09-17 21:32] 1Dandan commented on #1005
GCHP source code is built all together, but latest version of GCHP uses MAPL v2.6.3. I have switched to this latest version of GCHP and hopefully I will get my job scheduled.

[2021-09-20 18:32] JulesKouatchou commented on #254
In my comments last week, I forgot to add that the courant numbers and mass fluxes were written out in the lat-lon grid. I did one-month Idealized Passive Tracers experiment and did not have any issue. However, in actual experiments, the fields will be in the cubed-sphere (CS) grid. I need to do tests where the fields read in from files are in the CS grid. I will provide updates.

[2021-09-21 06:56] 1Dandan commented on #1005
I have got my job scheduled and the GCHP version I am using is v13.2.1 with MAPL version 2.6.3. But I got the error message as follows:
[code]
The job script I used is:
[code]
I modified MAPL_CapOptions.F90 with additional `cap_option%oserver_type = 'multigroup'`. The parts are:
[code]
All other parts except ServerManager.F90 and MAPL_CapOptions.F90 I left them default. To avoid confusion, the sou

[2021-09-21 13:57] weiyuan-jiang commented on #1005
You need to specify npes_backend_pernode. Basically it is the number of writing processes for each node.
cap_options%oserver_type = 'multigroup'
cap_option%npes_backend_pernode = 5

[2021-09-21 19:39] #338 closed

[2021-09-22 12:38] #1034 closed

[2021-09-22 12:38] mathomp4 commented on #1032
Fixed now. Closing by hand.

[2021-09-22 12:38] #1032 closed

[2021-09-23 02:57] 1Dandan commented on #1005
I have made the changes for MAPL_CapOptions.F90 as follows:
[code]
Now the simulation becomes much slower than before and it was interrupted because walltime is used up. The final line of log file says it finished some stages:
[code]
And the log file for ESMF says error:
`20210922 185117.860 ERROR            PET1015 ESMF_Config.F90:924 ESMF_ConfigFindLabel Not found  - label EXCLUDE_ADVECTION_TRAC

[2021-09-23 12:45] weiyuan-jiang commented on #1005
Have you changed the total number of pe, like mpiexec -np 1272 ?( assuming 24 cores/node)

[2021-09-23 16:59] 1Dandan commented on #1005
Yes. The script I used is:
[code]

[2021-10-01 20:24] tclune opened #1059 "Create mapl-import.cmake file"
ecbuild puts this blob in the mapl-config.cmake file:
[code]
So we should create this file and put the extra paths that specify where MAPL cmake macros are installed for projects that need them.  E.g., UFS.   @rmontuoro @mathomp4

Ref:  https://github.com/GEOS-ESM/GOCART/pull/80

[2021-10-04 21:18] LiamBindle commented on #739
Re-opening. @laestrada and myself are going to be picking it up.

[2021-10-06 20:27] mathomp4 opened #1063 "Add bit grooming in MAPL?"
The guru of NCO, @czender, came up with a cool variant of bit shaving called "bit grooming" as detailed in [this poster](https://www.essoar.org/doi/pdf/10.1002/essoar.bb4d390d7f9f73ba.963021f17c584ca8.1) with @JeremySilver and [this paper](https://gmd.copernicus.org/articles/9/3199/2016/). (And [another](https://gmd.copernicus.org/articles/10/413/2017/)!)

Whereas bit shaving uses just zero bits,

[2021-10-06 20:43] mathomp4 commented on #1063
ooh. Huh. Well, maybe that solves things in another way! :)

[2021-10-07 14:49] LiamBindle opened #1064 "Incorrect file timestamp with 24-hour duration and 1-hour frequency time-average"
Follow up from today's GCHP-MAPL call.

Collections with mode time-average, frequency 1-hour, and duration 24-hour aren't timestamped correctly (with the default Reference of 000000). If you enable `timestampStart` the files are stamped the previous day at 23:00. I *believe* that without `timestampStart` they are stamped at 23:30 of the previous day.

[2021-10-07 16:49] lizziel opened #1065 "Monthly checkpoints"
This feature request is for the capability to generate monthly checkpoint files. Currently checkpoints can be configured for either fixed frequency or via a list of datetimes. The former is not compatible with monthly frequency, and the latter is a pain to configure if doing a long run.

[2021-10-07 18:35] mathomp4 commented on #1063
And because @czender has updated NCO for a new algorithm:
[code]
cf., http://nco.sourceforge.net/nco.html#gbg

I'll use this issue so I can keep track of the references:

* [R. Kouznetsov (2021)](https://gmd.copernicus.org/articles/14/377/2021/)
* [Delaunay et al. (2019)](https://gmd.copernicus.org/articles/12/4099/2019/)

as well as any experiences I have with NCO 5.0.3 and the new options (once

[2021-10-07 22:04] czender commented on #1063
@tclune Pros and cons of layer-by-layer scaling is discussed, with respect to bit grooming and packing, in [this paper](http://www.geosci-model-dev.net/10/413/2017). The method you describe can be used in conjunction with packing to improve the compression relative to BitShaving alone. Everyone has different tolerances for how much precision, dynamic range, speed, and portability they are willing

[2021-10-08 12:16] #1063 closed, assigned to tclune, atrayano

[2021-10-13 12:38] mathomp4 opened #1074 "MAPL 2.8.7, main, and develop are now all non-zero-diff in HISTORY to 2.8.6"
There is a bug in all of current MAPL at the moment. 2.8.7, `main`, `develop`, `release/MAPL-v3`. It looks like HISTORY that used to be "separate" files are all now appending.

To wit, before #1069, a "standard" one day run of GEOSgcm made this output for GEOSgcm:
[code]
Now however we get this:
[code]
It looks like all files are now just appending to a single file, I guess the first one that is m

[2021-10-13 12:53] mathomp4 commented on #1064
Re-opening as #1069 had side-effects, see #1074

[2021-10-13 13:35] mathomp4 commented on #1064
Sigh. Re-opening again. I guess I used a "closing keyword" with GitHub.

[2021-10-13 19:32] mathomp4 opened #1080 "EXPID and EXPDSC are required by Cap"
So this is fun. Recently I know @gmao-rreichle asked if `HISTORY.rc`-like files really needed `EXPID:` and `EXPDSC:` in them. And I think @bena-nasa and @weiyuan-jiang looked at History in MAPL and said, no, probably not.

But then @biljanaorescanin tried running GEOSldas with those missing and found out that *Cap* apparently requires them:

https://github.com/GEOS-ESM/MAPL/blob/136821ecf421cace3e

[2021-10-15 15:18] #1074 closed, assigned to tclune, bena-nasa, atrayano

[2021-10-17 16:26] atrayano opened #1090 "Halo is broken in MAPL_CubedSphereGridFactory.F90"
The procedure "halo" has a bug: after we call ESMF_FieldHalo, the output variable "array" needs to be copied from the field pointer

[2021-10-17 22:25] #1090 closed, assigned to atrayano

[2021-10-18 13:00] mathomp4 commented on #951
Note, I did some testing with Atanas and it turns out the magic numbers are:

- Intel: 15
- NAG: 16
- NVHPC: 16
- GNU: 18

18 is ugly, but GNU is weird?

[2021-10-19 15:48] mathomp4 opened #1106 "Does NAG 7.0.7048 still have issues with Tests"
Looking at the Tests directory I see:

https://github.com/GEOS-ESM/MAPL/blob/5bbc9ce702aab28f50ba29345fb16d926ae88ca3/Tests/CMakeLists.txt#L11-L12

I suppose this should be tested with NAG 7.0.7048 (which is on discover) and if it works, either remove this block or figure out the right way to have CMake look for the version number.

If @bena-nasa can confirm that NAG works with the ExtData driver,

[2021-10-19 15:51] mathomp4 opened #1107 "MKL Dependence in MAPL"
For reasons that baffle me, we seem to have an MKL dependence in the Tests directory:

https://github.com/GEOS-ESM/MAPL/blob/5bbc9ce702aab28f50ba29345fb16d926ae88ca3/Tests/CMakeLists.txt#L15

https://github.com/GEOS-ESM/MAPL/blob/5bbc9ce702aab28f50ba29345fb16d926ae88ca3/Tests/CMakeLists.txt#L23

I'm pretty sure neither of these codes has a need for MKL. We should remove this if @bena-nasa (`ExtDat

[2021-10-19 17:46] #641 closed

[2021-10-20 17:43] Gvilla1000-nasa opened #1112 "MAPL_FindChild gfortran debug compilation problem"
Only when compiling with gfortran debug mode, the call to `MAPL_InternalStateRetrieve` fails inside `MAPL_FindChild`

[2021-10-20 17:51] tclune commented on #1112
OK - this was only relatively recently written in a more OO manner.  Hope we're not seeing a gfortran compiler bug.

[2021-10-20 19:29] mathomp4 opened #1115 "NAG issue with MAPL and ServiceServices"
In trying to build MAPL with NAG, I found this error:
[code]

Per the error it looks like we have this code in `VariableSpecification.F90`:

https://github.com/GEOS-ESM/MAPL/blob/23e73524023d3996cf720d357b5ed281cf7890ee/generic/VariableSpecification.F90#L81-L87

and then this code in `MAPL_ServiceServices`:

https://github.com/GEOS-ESM/MAPL/blob/23e73524023d3996cf720d357b5ed281cf7890ee/generic/MAP

[2021-10-20 19:30] mathomp4 commented on #1115
I suppose I could invoke @Gvilla1000-nasa as maybe he saw this sort of error during his refactoring effort?

[2021-10-20 19:38] mathomp4 commented on #1115
@atrayano GNU was happy too as it built MAPL just fine. Hopefully this isn't a NAG bug but something where we can massage the code. :)

[2021-10-20 21:57] rmontuoro opened #1116 "Remove yaFyaml dependency if not building with pFlogger"
yaFyaml is not needed when building with `-DBUILD_WITH_PFLOGGER=OFF`. The build system should not enforce such a dependency in this case.

[2021-10-20 22:44] rmontuoro opened #1118 "Revising VM barriers in Cap gridded component"
Use of VM barriers in `MAPL_CapGridComp` may be amended as reported below:
- The following barrier in `run_MAPL_GridComp()` should only be invoked when computing throughput (`cap%compute_throughput = .true.`):
https://github.com/GEOS-ESM/MAPL/blob/23e73524023d3996cf720d357b5ed281cf7890ee/gridcomps/Cap/MAPL_CapGridComp.F90#L1120-L1127
- A barrier should not be required at the end of `step()`:
https

[2021-10-21 12:34] sdeastham opened #1119 "FEATURE REQUEST: Automated regridding between gridded components"
Currently, data being requested through ExtData is automatically regridded to the resolution of the requesting component. This is great, but limits the possibility for (e.g.) calculation of online emissions at a consistent source resolution. We would like to run HEMCO as a gridded component operating on a different grid than (e.g.) GEOS-Chem, so that emissions calculations can be performed at a si

[2021-10-21 14:04] tclune commented on #1115
Well NAG 7.0 (7057) did not complain with this attempt at a reproducer:
[code]
I also tried splitting the modules into separate files and did not have a problem.  May need more thought to reproduce.

[2021-10-22 13:44] LiamBindle opened #1124 "How to use HFLUX regrid method?"
Hi all,

I'm trying to use the HFLUX regrid method in MAPL 2.6.3 and I'm getting the following error when I use `H` for the "conservative regrid" entry in my import in ExtData.rc:
[code]

For reference my input data is C720 and my simulation is C90.

My ExtDara.rc import is the following
[code]

Am I missing something?

[2021-10-26 16:29] rmontuoro opened #1141 "MAPL 2.9.0 does not build with GNU compilers"
MAPL 2.9.0 cannot be built using GNU 9.2.0 and 10.1.0. The build aborts with the following error:
[code]

[2021-10-26 17:25] mathomp4 opened #1143 "Load imbalance from new profiler?"
Query for @tclune or @weiyuan-jiang, not sure. The old MAPL timers are by default the MINMAX style:
[code]
Where I think the three columns are min/mean/max (@bena-nasa might know if I'm right). So we can get a rough idea of load imbalance.

The new timers show:
[code]

Which seems to be just the max node. I was wondering is there a flag/option one can pass to the profiler to get some sense of load

[2021-10-27 00:36] TerribleNews opened #1144 "[Feature request] Run in reverse"
In order to support adjoint integration in GCHP, MAPL should be able to run in reverse. My first attempt at this was to use the settings with a negative timestep and end time before the start time but this has many side effects. Instead, I have found a better solution to be to run the clocks forward in a loop without any child grid component run calls, then to reverse the clocks and run the regula

[2021-10-27 18:36] #1141 closed, assigned to mathomp4, tclune

[2021-10-29 15:04] atrayano opened #1150 "Support for SeaIce thermo callback"
When prototyping sea-ice therno callback, some minor issues related to callback state support in MAPL were exposed. The main difference between this one, and the rest of the callbacks in GOES, is that this one involves two grids. Nested states in MAPL should not require horizontal nor vertical grid descriptions.There is also a need to retrieve the root GC from MAPL to simplify the regridding

[2021-10-29 15:53] #1106 closed, assigned to mathomp4

[2021-10-30 15:12] atrayano commented on #1150
Fixed by PR #1151

[2021-10-30 15:12] #1150 closed

[2021-10-30 19:13] weiyuan-jiang commented on #530
I have tested it with my simple example. I would like to see if it is fixed in your example. @bena-nasa

[2021-11-01 13:26] #1118 closed

[2021-11-01 13:26] #1116 closed

[2021-11-01 13:29] mathomp4 commented on #1080
@bena-nasa or @atrayano Do you know why `cap%cf_root` might need these? Maybe William's NUOPC work?

[2021-11-01 13:32] #1059 closed

[2021-11-01 13:34] #640 closed

[2021-11-01 13:41] mathomp4 commented on #38
@lizziel @tclune thinks of this more as an xarray bug than MAPL issue. Did the fix by @yantosca here:

https://github.com/geoschem/gcpy/commit/5411f3d71292c3a88442eb597813d0cd8f62b44a

work for you?

[2021-11-01 13:55] mathomp4 commented on #127
@atrayano Can we close this in favor of a more "specific" issue now that preliminary support is in MAPL?

[2021-11-01 13:56] mathomp4 commented on #484
Pinging @tclune

[2021-11-01 13:57] #517 closed

[2021-11-01 14:00] mathomp4 commented on #951
@atrayano Are you okay with this being 18 characters as that's the GNU magic number?

[2021-11-01 14:10] tclune commented on #484
I see now that @atrayano has never commented on this ticket.   Have to lean on him to at least assess the difficulty.   I can then check with @amdasilva on priority.   But I think he mentioned something related to this quite recently.

[2021-11-01 14:11] tclune commented on #951
If not, I can work with you to convert this to a deferred length string where we explicitly allocate to a length long enough to contain whatever needs to go in.

[2021-11-01 20:08] yantosca commented on #38
@mathomp4: We now use this fix (passing drop_variables to xr.open_mfdataset) in our benchmarking code and it works very well.  I haven't tested with more recent versions of xarray but I suspect that issue is still there.

[2021-11-02 09:34] #951 closed

[2021-11-02 09:34] atrayano commented on #951
Fixed in #1164

[2021-11-02 14:49] tclune commented on #1004
@bena-nasa Please try to confirm if this feature should be preserved.   I don't mind the ticket closing, but we want a record for whether to deal with this in any refactoring exercise.

[2021-11-02 15:37] bena-nasa commented on #1004
@tclune The AGCM.rc you get from gcm_setup from v10.19.4 of the GESOgcm fixture doesn't have any +/- in front any of the restart names...
I was able to use a set of binary restarts so apparently if they aren't there the model seems to be happy so seems like whatever functionality was there with them is not needed.

[2021-11-02 15:45] tclune commented on #1004
OK - brave enough to commit the change (or ask @Gvilla1000-nasa to)?

[2021-11-02 19:54] mathomp4 opened #1169 "Are things in Tests...actually tests?"
@Gvilla1000-nasa made me think about this. Namely, in MAPL we have a `Tests/` directory. And in there are essentially two programs:

* `ExtDataDriver.x`
* `pfio_MAPL_demo.x`

These don't seem like tests to me. The first is more of a driver for ExtData and the latter a demo I suppose.

That said, I'm not sure where things like this should go. A `Demos/` and `Driver/` directory? Maybe `ExtDataDriver

[2021-11-02 20:13] tclune commented on #1169
My immediate reaction is also splitting this into two better named directories.   And we really need to think about how these are sustained over time.   Ben regularly runs ExtDataDriver.x at the moment, but probably best to put a README file with it.    And I don't know when pfio_MAPL_demo.x was last run, but if we don't have a simple way to verify that it still runs, it is undoubtedly broken by n

[2021-11-02 20:18] Gvilla1000-nasa commented on #1169
So I had to make a change to pfio_MAPL_demo.F90 as part of my most recent PR and tried running this and this is the result:
![image](https://user-images.githubusercontent.com/87769311/139945751-d4543c2d-c64a-459c-92a2-2536a23a5114.png)

Not sure if this is the expected outcome or not.

[2021-11-03 13:09] bena-nasa commented on #1004
@tclune I can't see that these are used in that they are not being used in the AGCM.rc so if @Gvilla1000-nasa can do this it should be easy. This would be in the esmfstatewrite/readfromfile in MAPL_Generic.F90 where the logic is applied.

[2021-11-03 13:15] bena-nasa commented on #1169
I mean, ExtDataDriver.x is a driver (which can be used for self consistent testing of History and ExtData, hence the name) but is not the only purpose. Besides the self consisten testing, I use it all the time whenever there is a problem with ExtData or History as a way to reproduce and diagnose problems. I agree that the other executable really is a demo. I would be fine with have a Demo and Driv

[2021-11-03 14:15] weiyuan-jiang commented on #1169
Probably the pfio_MAPL_demo.F90 should be in "example" directory? But we need to find a way to make sure it builds and runs.

[2021-11-03 19:24] #996 closed

[2021-11-03 19:24] #530 closed

[2021-11-03 19:24] #1107 closed

[2021-11-04 15:35] tclune commented on #1124
Apologies - apparently I got distracted when composing my response to this last week and then it fell off my plate.

There may be other cases that work, but in general we want both grids to be evenly divisible by the number of processes.  And I will assume that NX=NY.   We also want the number of cells of the fine grid (IM_fine / NX) on a process to be an exact multiple of the number of cells on t

[2021-11-05 20:35] LiamBindle commented on #1124
Thanks! I'll give these a try next week. I'll reopen if I run into any issues.

[2021-11-05 20:35] #1124 closed

[2021-11-08 20:10] LiamBindle opened #1184 "Hanging in HIST on AWS when too many output variables are asked for"
Hi all,

Last week I did some testing of GCHP on AWS, and I narrowed in on the specifics of the one outstanding issue I'm aware of. In general, GCHP runs well on AWS using Parallel Cluster, and there isn't really anything "special" you need to do. I successfully tested full chemistry simulations up to C180 resolution on up to 1044 physical cores, and the only issue I ran into is freezing/hanging/c

[2021-11-08 20:10] LiamBindle commented on #739
I'm going to close this issue in favor of https://github.com/GEOS-ESM/MAPL/issues/1184. It has more up-to-date info on the outstanding issue.

[2021-11-08 20:10] #739 closed

[2021-11-08 21:55] tclune opened #1186 "Broken version check for gFTL"
Recent changes to support projects that build gFTL within their source tree are masking heightened version requirements for gFTL in MAPL.    If the package has already been found, a separate check must then be made for the correct version.    The fix will be a kludge.   external projects should change the way this is handled.

[2021-11-08 22:03] mathomp4 commented on #1184
@LiamBindle Do you know how many IOserver nodes you were running? I know @weiyuan-jiang has some rules-of-thumb we coded into `gcm_run.j` that set the number of backend PEs for the multigroup server based on the number of collections and number of IO nodes:

https://github.com/GEOS-ESM/GEOSgcm_App/blob/78cd9bd85c4f2e6cddc6754e1f391bca5d373c54/gcm_run.j#L784-L803

Though maybe @weiyuan-jiang has be

[2021-11-08 22:09] LiamBindle commented on #1184
@mathomp4 Are "IOserver nodes" the same as the dedicated nodes for the output server? If so, I'm not using any. If it isn't the same thing, then I'm using whatever our default is (I can check what that is if you can point me to where it's configured).

[2021-11-08 22:13] mathomp4 commented on #1184
Oh. Hmm. yeah, I mean extra nodes. I'm not sure we've tried 130 C180 HISTORY outputs without IOserver!

[2021-11-09 13:22] #1186 closed

[2021-11-09 16:05] LiamBindle commented on #1184
@mathomp4 Ah, good to know! Honest question: is that a crazy thing to do? I don't have any intuition for what's reasonable here.

[2021-11-09 17:52] mathomp4 commented on #1184
@LiamBindle I'm not sure. I think we usually run with a couple IO nodes at C180+ just so we can do some async history and I suppose dedicate the compute nodes to computation. Maybe @bena-nasa or @weiyuan-jiang have more experience?

You might want to try the multigroup server with a couple IO nodes and see if it helps. I suppose it's more expensive because more EC2 nodes, but that's better than no

[2021-11-10 14:25] atrayano commented on #1184
@LiamBindle Considering the general trend, this looks like an MPI issue to me. I have absolutely no experience with AWS, but I am wondering if it is possible to try a deferent MPI implementation (is there such a thing?). In the past (more that 5 years ago) we had  bad experience with one-sided MPI communication pretty much with every available MPI implementation on discover. Since then the situati

[2021-11-10 14:48] mathomp4 commented on #1184
@LiamBindle Another question: How up-to-date are your "Baselibs". I know @tclune and @weiyuan-jiang did fix up some MPI window issues both in GFE libraries and in MAPL. (MAPL 2.6.3 is a bit old so maybe a fix came in in between? Not sure. I haven't done an AWS run in a while.)

[2021-11-10 15:55] tclune commented on #1184
@atrayano We only use the one-sided during the initial handshake between the model and the server.  After that it is just good old-fashioned ISEND/IRECV.  The description indicates that the failure is a bit later in the process.   Is it possible that ISEND/IRECV indirectly call some of the FENCE routines?

[2021-11-10 16:18] weiyuan-jiang commented on #1184
Please try multi group oserver. Can you post you gcm_run.j script here?

[2021-11-10 16:21] tclune commented on #1184
@weiyuan-jiang This is not GCM.  There is no `gcm_run.j` script.

[2021-11-10 16:23] tclune commented on #1184
@LiamBindle - I'm wondering if I should spin someone on my team to be able to build and run GCHP in our environment?  Even if we can't reproduce problems, it will improve our ability to articulate what to change for things like O-Server and such.   Could even provide us with another test before MAPL releases.  (Not that we'd let old GCHP get in the way of new MAPL, so that may not be useful at thi

[2021-11-12 15:13] mmanyin commented on #259
@STALE-BOT  your setting is a bit aggressive!  I will add  "long term" tag.

[2021-11-15 15:36] LiamBindle commented on #1184
Hi all, thanks for the replies. I'm happy to try some more things, but because it works okay for < ~30 output variables, that covers most scientific applicaitons, so I'm trying to avoid getting too bogged down in this.

I agree it seems like an MPI issue. Note that this **only happens on AWS**; we frequently use several hundred output variables on other clusters.

In terms of next steps, the sugge

[2021-11-15 18:37] mathomp4 commented on #1184
@LiamBindle I guess another question is what instances are you running on? Are you on EFA enabled ones like C5n.18xlarge?

[2021-11-15 18:44] LiamBindle commented on #1184
@mathomp4 That's right. C5n.18xlarge with EFA enabled and FSx for Lustre.

[2021-11-16 20:45] weiyuan-jiang opened #1194 "return without abort"
We may add a conditional in the "RETURN_" macro for it to do the right thing when `I_AM_MAIN` is in effect.
https://github.com/GEOS-ESM/MAPL/blob/0d3a347ec87e3b39e1052be403f1fde6898267ed/include/MAPL_ErrLog.h#L89

Without this, the main program will abort even if `rc` is 0 (or success).

[2021-11-17 17:32] mathomp4 opened #1195 "Parseable Profiler Output"
Per today's Performance meeting, there was a mention by @tclune that maybe the profiler output could be provided in YAML (nested timers are easily represented) or CSV format (easy to parse) rather than just in the stdout.

Indeed, maybe the logger could be the one to write this to a separate file at first?

I'll assign @weiyuan-jiang and @tclune as they are the people I think of with MAPL profilin

[2021-11-18 15:51] Gvilla1000-nasa opened #1196 "Remove MAPL_IO dependency from Grid Factories"
Now that MAPL_IO has been refactored into NetCDF and binary, it could theoretically be moved away from base into its own directory. However, some Grid Factories still depend on MAPL_IO. This needs to be addressed.

[2021-11-18 19:05] tclune opened #1199 "Bug in HorizontalFlux regridder"
The regridder assumes that the fluxes have already been multiplied by edge length, but they have not.

[2021-11-19 14:55] #948 closed

[2021-11-19 16:25] mathomp4 commented on #819
Re-opening as I think this is still an issue. I'll mark longterm

[2021-11-19 16:26] mathomp4 commented on #819
Probably need to see if @weiyuan-jiang sees this as well at NAS

[2021-11-19 18:34] #714 closed

[2021-11-22 13:51] mathomp4 commented on #626
I'm going to re-open this as I'm not sure if @bena-nasa or @weiyuan-jiang have looked at how chunking is handled.

[2021-11-22 13:51] mathomp4 commented on #470
I'm going to re-open this as well. I'd like a yes/no from @bena-nasa or @atrayano before we close this.

[2021-11-22 13:54] mathomp4 commented on #502
I'm reopening and marking longterm. I *will* get MVAPICH2 to work again!

[2021-11-22 17:12] mathomp4 opened #1205 "Make AddChildFromDSO OS Agnostic"
Per https://github.com/GEOS-ESM/GEOSgcm_GridComp/issues/489, the DSO AddChild calls in GEOSgcm_GridComp assume that the DSO file extension is `.so`. On macOS this is `.dylib`. So, `MAPL_AddChildFromDSO` should be more agnostic and strip off the extension and add the "right one" for the OS as detected by CMake.

In the future, we should in fact *enforce* that no suffix is used with the AddChild cal

[2021-11-29 14:26] #1196 closed

[2021-11-29 19:17] #1005 closed

[2021-11-30 19:27] mathomp4 opened #1209 "Can we add a throughput timer encompassing IOservers?"
Recently, I was trying out `WRITE_RESTART_BY_OSERVER` where the restarts are at the end of the run and as expected, the model didn't get any faster. With it off:
[code]
and with it on:
[code]

But I was a bit confused at first because I also saw, off:
[code]
vs on:
[code]
Faster and yet not. My thoughts now is that this was the *model* throughput. And what I had done had maybe "pushed" some of the

[2021-11-30 20:18] bena-nasa commented on #1209
Since it is  wall time /model run length that you are proposing, I also fear this is not easy to do in a clean way. As you say we need the model duration, but that's really only known down in CapGridComp level since this depends on:
the segment length
the start date via the cap_restart that we set in the clock

And neither of these is seen outside of CapGridComp.

[2021-11-30 20:25] tclune commented on #1209
Not thread safe, but we could have CapGridComp set the duration of a variable in the Cap layer.   (Encapsulated, but still bad.)

Or, the CAP does have access to the config file and could compute the duration.  Need to make sure it is while ESMF is initialized.

[2021-11-30 20:38] mathomp4 commented on #1209
This does sound more like a "do in gcm_run.j" sort of thing. I really wish that was a bash script. I can think of functions to write already :)

[2021-11-30 20:42] bena-nasa commented on #1209
Cap would need 2 files to compute the duration the cap_restart + the duration defined in the CAP.rc

I agree with Matt, this does seem more like a do in gcm_run.j

[2021-12-02 15:11] weiyuan-jiang opened #1210 "not necessary an error if len ==0"
https://github.com/GEOS-ESM/MAPL/blob/f0404146e8219d497f4530b925e6b06d023fc09b/pfio/pFIO_ShaveMantissa.c#L122-L127

When there is no data, len=0, it should not be an error

[2021-12-02 19:49] tclune opened #1213 "Implement reporter in Cap to produce desired format."

[2021-12-02 19:54] tclune commented on #1213
@bena-nasa  Please post your recommendation here.
- Global
- Per-component

[2021-12-02 20:01] tclune opened #1214 "Create a list of GCs and introduce new timers for each legacy timer. Where possible, consult GC owner to refine choices."
Technically not a MAPL issue - but this is a project in MAPL.

[2021-12-02 20:08] bena-nasa commented on #1213
For the component
# cycles/min/max/mean/std dev the useful stats.
If we include inclusive and exclusive, we need a very good explanation of what this is as I still can't keep it straight and I've had it explained multiple times.

What is the global in this case?
Global on comm world?
Global on the ESFM comm?
Please elaborate, sure what we are going for with the global.

[2021-12-02 20:11] tclune commented on #1213
"inclusive" _includes_ everything
"exclusive" excludes something

That ought to be enough to lead you back to the full explanation.   I don't want the reporter itself to generate this explanation, but Cap can certainly add a line above for that.

And maybe we want less info for one than the other.  E.g., inclusive probably just needs total/average.     It is at the leaf component where the statist

[2021-12-02 20:17] bena-nasa commented on #1213
Is this a fair statement: For a given timer, the exclusive time is the time spent in that timer minus the times of all the timers in the stack below it?

[2021-12-02 20:22] bena-nasa commented on #1213
If the above definition of inclusive vs exclusive is true and the "global" is just the component hierarchy. Then it seems like for the global we would want both inclusive and exclusive min/max/mean/stdev
The per component probably just the inclusive and do
#\cycles min/max/mean/stdev

[2021-12-02 20:32] bena-nasa commented on #1214
*chemistry (minus gocart) - owners: arlindo, pete c, m manyin, anton, note this has 13 subcomponents
GEOSchemchem
** Carma
** DNA
** GAAS
** AChem
** ChemChem
** pchem
** GMIchem
** Hemco
** MAMchem
** MatrixChem
** Stratchem
** TR
*GOCART
*FV3 - Bill putman, (note this has multiple gridComps Dyncore, AdvCore)

[2021-12-02 20:45] tclune commented on #1213
Yes - to question about exclusive.   Or more accurately, - excluding time spent in any other timer.   Just so happens that they are all "below" by design.

Do you really find min/max/mean useful for that long list?   Not opposed, just seems like you probably want the more detailed stuff at the leaf level.

[2021-12-02 20:46] tclune commented on #1213
Probably should find a way to split the report for the global so that we repeat the headers every 20 lines or so.  I'll add a ticket.

[2021-12-02 20:48] tclune commented on #1214
You got rid of the formatting that lets us treat that as a check list!

[2021-12-02 20:49] tclune commented on #1214
oh - or I never saved mine ...

[2021-12-03 14:40] mathomp4 commented on #1214
@tclune Query since I probably wasn't in on a lot of the conversations about this: Is there a reason we don't just change, say, `MAPL_TimerOn`→`MAPL_GenericStateOn` calls here in MAPL to use the new calls? Maybe protected by a `CAP.rc` setting or FLAP switch where if it's `ON` we use `profiler%start` and if it's off we use the old code?

It looks like there is something there that was tried (thoug

[2021-12-03 14:46] mathomp4 opened #1215 "Failure to WRITE_RESTART_BY_OSERVER at C720 L181 mid-run"
I recently decided to try out using `WRITE_RESTART_BY_OSERVER` in the *middle* of a run a la ADAS. So I set up a C720 L72 run and said "dump restarts at 03z and not at the end" and did it with `WRITE_RESTART_BY_OSERVER` on and off. I had to add a lot of ionodes, but in the end it looked like it might show a little benefit.

But knowing that @wmputman is thinking of moving to L181, I thought I'd tr

[2021-12-03 14:46] mathomp4 commented on #1215
I now have another thought. What about geoschemchem...or higher resolution. From what I can see, we'd *never* be able to do `WRITE_RESTART_BY_OSERVER` at super-high-res since some restart might be > 180 GB, say. Unless there's a way to "spread out" a restart on the oservers?

[2021-12-03 14:57] bena-nasa commented on #1214
It does seems like  changing MAPL_TimerOn/Off to choose which profiler to use seems simple and safe as far as external users are concerned if it defaults to the old timers, internally in the GMAO we could use the.
The new timers can provide all the same information and more. And this will be exponentially easier.

Internally in the GMAO, my intuition (of course my intuition could be wrong) says ot

[2021-12-03 15:02] tclune commented on #1214
The only obstacle here (AFAIK) is that the old timers have "manual punctuation" in their names to manage nesting and indentation in the reporting.   E.g.,  "  -- foo".  The new profiler handles this aspect automatically.  If we leave the names "as is" then we end up with ugly formatting.  Not the end of the world, but seems not quite the thing we want to do.  Certainly not opposed to this as an in

[2021-12-03 15:04] bena-nasa commented on #1215
Besides the issue of a single restart simply blowing out the memory on a node, I think the way the workers are selected in the multigroup server case is non-optimal currently. I've stared at this code a lot in the last month and it does not seem to round robin among nodes the workers when assigning them (if it is I can't see it).
Note this is how the old o-server behaved, when the controller proce

[2021-12-03 15:04] tclune commented on #1215
@weiyuan-jiang and myself have a nominal plan on how to do that.  Indeed, an early generation of the new O-server worked with the writers being distributed.  It's just that NetCDF seems to scale poorly in that use.   We would instead lock and have each node write its bit seriall.

Even without geoschemchem, it is not inconceivable that some high res case running on some platform will exceed the me

[2021-12-03 15:31] bena-nasa commented on #1215
@weiyuan-jiang in the mean time it seems like round robining the worker assignment among the nodes should be an easier first step.

[2021-12-03 15:49] tclune commented on #1214
I'm now assigning this ticket to myself.

[2021-12-03 16:21] weiyuan-jiang commented on #1215
@bena-nasa Now the oserver just picks an idle processor to write data. I can added a step to search empty node first.

[2021-12-03 16:25] weiyuan-jiang commented on #1215
@mathomp4 I believe we have another option "WRITE_RESTART_BY_FACE". I have implemented that function which has never been activated.

[2021-12-03 16:54] mathomp4 commented on #1215
Well...I can try and see what happens! Let's be adventurous on this Friday and keep NCCS on their toes. 😄

Or...can I do both? The code seems to say they are exclusive:

https://github.com/GEOS-ESM/MAPL/blob/ed3b61450cf18600186cbec6260d68edb14c3ace/generic/MAPL_Generic.F90#L1111-L1117

[2021-12-03 17:44] weiyuan-jiang commented on #1215
Ok, I will check why they are conflicted

[2021-12-03 22:38] tclune commented on #1214
So here is the result for say VEGDYN of including the new timers in the legacy calls:

Legacy report
[code]

New:
[code]

I don't think this is what we want.    The `TimerOn` and `TimerOff` calls in the gridcomps should just be for unusual things.  The generic timers already get the usual stuff.

[2021-12-06 02:55] weiyuan-jiang commented on #1210
addressed by PR #1211

[2021-12-06 02:55] #1210 closed

[2021-12-06 14:16] weiyuan-jiang commented on #1215
@mathomp4 Would you please try PR #1217 ? Now the writers would try not to concentrate on a node

[2021-12-06 14:30] mathomp4 commented on #1215
@weiyuan-jiang Okay. Let me check it out, build, and test!

[2021-12-06 15:56] mathomp4 commented on #1215
Failed with 9 ionodes, but that could just be "not enough nodes with history and restart writes", so I'm trying with 15 ionodes next.

[2021-12-06 16:13] mathomp4 commented on #1214
So weird that one of the `TOTAL` is at a different level. Huh. Might point to a "wrong order of calls" in VEGDYN.

[2021-12-06 17:44] weiyuan-jiang commented on #1215
If 15 nodes work,  then it may mean there are more than 9 but less than 15 writings simultaneously.

[2021-12-06 20:16] mathomp4 commented on #1215
Well, 15 ionodes worked. By default the walltime was 01:18:33 and with `WRITE_RESTART_BY_IOSERVER: YES` the walltime was 01:13:51.

History and Init times were fairly equivalent, so I'm thinking this might be real. 4-5 minutes isn't nothing, but it's not mind-blowing either.

Of course at NAS it might be a *lot* more important :)

[2021-12-07 14:48] weiyuan-jiang commented on #1215
It is great that the new algorithm actually works and improves the performance. I am going to do more testings...

[2021-12-08 14:43] weiyuan-jiang commented on #1215
Write_restart_by_face and by_oserver may have conflicts. If it is "by_face", different application PEs would have different 'global' domain. That is not trivial to change.

[2021-12-08 14:44] weiyuan-jiang commented on #1215
But I still think it is doable.

[2021-12-08 15:38] weiyuan-jiang commented on #1215
write_restart_by_face is not working anymore.....

[2021-12-08 21:44] #1065 closed

[2021-12-08 21:44] #1205 closed

[2021-12-13 15:16] weiyuan-jiang opened #1226 "Something is wrong - GEOSldas"
With this latest components
env              | (t) v3.7.0 (DH)
cmake            | (t) v3.7.2 (DH)
ecbuild          | (t) geos/v1.0.6 (DH)
GMAO_Shared      | (t) v1.4.12 (DH)
MAPL             | (b) develop (DH)
GEOSgcm_GridComp | (b) develop (DH)

GEOSldas crashes before finishing Setservice. But it can run with Debug flag..... Something is wrong but I am not sure what it is...

[2021-12-13 18:08] tclune opened #1227 "Need procedure to mark other procedures as deprecated"
Desired interface:
[code]
Should access a logger and raise a `WARN` message that the named procedure is deprecated.

Assigning to @mathomp4 for assignment within team.

[2021-12-13 18:44] tclune opened #1228 "Need search for multiple directories"
I want an interface that given a path list and a file name will determine if file exists.  Like Fortran `INQUIRE` but with multiple paths.

First step is to implement a PathList object (presumably as a StringVector or StringSet).

Should go in ./shared/FileSystemUtilities.F90.   When done there should be a check for DSO existence in `LD_LIBRARY_PATH` (different for different os's though).

Assigni

[2021-12-13 18:53] tclune commented on #1227
Further thought:   have  a special `MAPL.deprecated` logger for this purpose so that we can route the messages to a coordinate file.

[2021-12-13 19:41] weiyuan-jiang commented on #1226
It is this call that crashes GEOSldas . https://github.com/GEOS-ESM/MAPL/blob/60342c86e7e00de3c7e19cf01f5baa788b8c88cd/generic/MAPL_Generic.F90#L615

keep looking....

[2021-12-13 21:41] mathomp4 opened #1230 "mapl_tree.py doesn't work"
@amdasilva asked on OTRS about `mapl_tree.py`. I thought I'd tried `mapl_tree.py` long ago (see #775), but I can't find my notes. And when I try to use it, it doesn't work. So, we need to make it work.

Note that I think we might have to remove/add to a lot of the assumptions made in this code. We have directory structures now that never existed in the past. So, we might want flags, etc. that will

[2021-12-14 13:36] mathomp4 commented on #1226
I'll add in @tclune just so he knows. Never even heard of `MAPL_WireComponent`!

[2021-12-14 13:38] mathomp4 commented on #1226
Also adding @atrayano after seeing what's in `WireComponent`. That is...complex.

[2021-12-14 13:43] tclune commented on #1226
Interesting: this is the section that I'm reverse engineering today.   But had not planned to make any changes.

[2021-12-14 13:45] tclune commented on #1226
Undoubtedly we will need to await wisdom from @atrayano , but my current understanding is that this procedure is the one that propagates imports and exports up from children.    @weiyuan-jiang can you provide any more details about how it crashes?

[2021-12-14 14:14] weiyuan-jiang commented on #1226
@tclune , No, I can't at this point. I spended whole day yesterday to figure that out but failed. I am keeping investigating...( Debug mode is successful)

[2021-12-14 14:19] weiyuan-jiang commented on #1226
The error usually looks like
Caught signal 11 (Segmentation fault: address not mapped to object at address (nil))

Sometimes ( not all the time), it reports a little bit more details
/discover/nobackup/wjiang/LDAS_exp/assim/CURRENT_nbit/build//bin//GEOSldas.x(__intel_avx_rep_memcpy+0x3c3) [0x859b83]
 4  /discover/nobackup/wjiang/LDAS_exp/assim/CURRENT_nbit/build//lib/libMAPL.generic.so(mapl_varcon

[2021-12-14 14:23] tclune commented on #1226
Uh oh.  I did make some nontrivial changes to VarConn a few weeks back.   Worked with @atrayano   to be sure we covered the necessary cases and the usual tests worked.    But maybe LDAS is doing something unusual?     We probably need to review the connectivities there.  Looking for anything out of the ordinary.

[2021-12-14 20:10] lizziel opened #1232 "Potential communicators leak detected with MPICH3"
This issue is to serve as an FYI in case you want to look into if there is a communicator leak in MAPL. A GCHP user reported in https://github.com/geoschem/GCHP/issues/187 a "Too many communicators" error encountered 13 days into the simulation when using MPICH 3.3.2 and 3.4.2. The log indicates the error occurs during ExtData Run.

[code]

We haven't run into this issue before which makes me thin

[2021-12-14 20:17] tclune commented on #1232
@weiyuan-jiang given that this is happening well after Initialize, it almost has to be in the server.  (The only place that does comm dup and allocate later in the run.)    Can you double check that the server properly free's windows and comms?     Looks like the logic is all there, but maybe something higher up is a problem.

@lizziel Can you point @weiyuan-jiang to the proper version of MAPL.

@

[2021-12-14 22:49] lizziel commented on #1232
This particular run of GCHP used MAPL 2.6.3.

[2021-12-15 08:37] hgrhgy commented on #1232
I build with debug mode and run the simulation again, the log file is attached.
It is weird that the tracers simulation is not about the CH4, and the output file didn't contain anything about CH4.
[code]
[running.log](https://github.com/GEOS-ESM/MAPL/files/7717590/running.log)

[2021-12-15 13:30] mathomp4 commented on #1232
Ah. This is a badly-named thing for a chemistry model. CH4 is the [current communication device in MPICH](https://wiki.mpich.org/mpich/index.php/CH4_Overall_Design).

I thought MPICH3 defaulted to CH3, but I haven't used it in a while, so maybe they've moved to CH4 by default? (When I tried to build MPICH4, it built CH4.)

[2021-12-15 13:32] mathomp4 commented on #1232
Looking at your log, it's like gchp itself wasn't built as debug:
[code]
or at least it wasn't built with `-g`? I'd expect some sort of symbols in the traceback.

[2021-12-15 14:08] weiyuan-jiang commented on #1232
it would be helpful if you can build gchp with debug mode and show the braking point of source codes @hgrhgy

[2021-12-15 14:11] weiyuan-jiang commented on #1232
It looks like it crashes at the end when it is writing. Do you use "multigroup" oserver? @hgrhgy

[2021-12-15 14:19] hgrhgy commented on #1232
@mathomp4 @weiyuan-jiang I used the cmake compile option CMAKE_BUILD_TYPE="Debug" to build the gchp.
I will try add the -g option and build again.

[2021-12-15 14:33] weiyuan-jiang commented on #1232
We may have already fixed that problem in our develop branch. For example, v2.6.3 does not have this line.
https://github.com/GEOS-ESM/MAPL/blob/83628ee8ce3be1cb4017a57f9db3e95dd8d7a438/pfio/ShmemReference.F90#L145

[2021-12-15 14:38] weiyuan-jiang commented on #1232
There are several MPI_Comm_dup in v2.6.3 that do not  match mpi_comm_free. If you can't use develop branch,  then you need a patch for the leak of communicators.

[2021-12-15 17:25] weiyuan-jiang commented on #1226
I can confirm that MAPL v2.10.0 works but v2.11.0 crashes.  Can we squeeze in a tag between them for GEOSldas to fix pFIO_ShaveMantissa.c ? @mathomp4 @tclune

[2021-12-15 17:53] mathomp4 commented on #1226
@weiyuan-jiang Yes. We can make one. Let me make sure your branch is good and then I'll issue one. I'll probably need to push a few updates to it to make it "official"

[2021-12-15 17:55] mathomp4 commented on #1226
Of course, we'll want @tclune's blessing. But until then, can you provide me a good CHANGELOG entry for this? I can then update your branch with it

[2021-12-15 18:11] weiyuan-jiang commented on #1226
Is that to_import = to_export intentional? @tclune
new code
https://github.com/GEOS-ESM/MAPL/blob/83628ee8ce3be1cb4017a57f9db3e95dd8d7a438/generic/MAPL_Generic.F90#L4916

old code
https://github.com/GEOS-ESM/MAPL/blob/518256973abffe4baba82f1cd81b2583a1c29612/generic/MAPL_Generic.F90#L4973

[2021-12-15 18:18] mathomp4 commented on #1226
@weiyuan-jiang Is that code in ShaveMantissa?

[2021-12-15 18:20] weiyuan-jiang commented on #1226
No. That has nothing to do with  ShaveMantissa. I am trying to compare Tom's new commit with his old commit on oomph

[2021-12-15 18:22] weiyuan-jiang commented on #1226
because the name E2E seems export to export, but somehow there is import in it.

[2021-12-15 18:51] tclune commented on #1226
Blessing given.  (To patch release)

[2021-12-15 18:52] tclune commented on #1226
E2E is a kludge itself, and I changed the kludge a bit to simplify the underlying logic and data types.   Longer term the kludge evaporates.

[2021-12-15 18:53] tclune commented on #1226
The E2E issue is almost certainly related the issues that @weiyuan-jiang  is seeing - but we're still at a loss as to why the change would break LDAS but not the GCM.

[2021-12-15 22:47] lizziel commented on #1232
How extensive would the changes in the patch be? We plan on upgrading MAPL in the next few months at which point we will get the change (assuming current develop is merged into a release at the point).

[2021-12-15 23:25] weiyuan-jiang commented on #1232
Not much. I can hep to branch off a patch if you want. @lizziel

[2021-12-16 01:22] weiyuan-jiang commented on #1226
This issue is addressed by PR #1237 .
Without the fix,  GEOSldas crashes with 4 nodes (28 cores each) , but  succeeds with 16 nodes( 7 cores each).
With the fix, GEOSldas night test succeeds with 4 nodes (28 cores each) . @tclune @atrayano

[2021-12-16 01:32] weiyuan-jiang commented on #1226
Also I noticed the memory is not released and leaked forever.
Without fix (16 nodes), it reports
68.8% :  74.7% Mem Comm:Used

With fix, ( only 4 nodes), it reports
41.6% :  43.6% Mem Comm:Used

[2021-12-16 01:34] lizziel commented on #1232
Yes, thank you!

[2021-12-16 02:53] weiyuan-jiang commented on #1232
Hopefully, this patch[  ](https://github.com/GEOS-ESM/MAPL/tree/feature/wjiang/v2.6.3_patch) can solve your issue temporarily before you upgrade to the latest MAPL

[2021-12-16 13:14] weiyuan-jiang commented on #1226
If the PR #1237 fixes the issue, we probably don't need a new tag v2.10.1 any more @mathomp4 @gmao-rreichle

[2021-12-16 13:48] weiyuan-jiang commented on #1226
@mathomp4 I tested it with GEOSldas and am confident it will work with GEOSgcm.  There were memory leak in GEOSgcm too. It was just not as severe as GEOSldas's 24-member data assimilation run.

[2021-12-16 13:58] weiyuan-jiang commented on #1232
@mathomp4 , Yes, this problem was fixed long time ago. This patch fixed it again for v2.6.3

[2021-12-16 14:25] gmao-rreichle commented on #1226
Thanks, @weiyuan-jiang, for fixing this.  I'm ok with using either MAPL v2.10.1 or v2.13.xx (to be created after merging this PR).
@mathomp4, @weiyuan-jiang: Please advise on which MAPL release you prefer that we use in the upcoming GEOSldas release, and which releases for ESMA_env, ESMA_cmake, and ecbuild we should use along with the chosen MAPL release.
If there are any changes from what's [curr

[2021-12-16 16:03] mathomp4 commented on #1226
@gmao-rreichle @biljanaorescanin For the upcoming MAPL 2.14.0, you'll want:

- ESMA_env v3.7.0
- ESMA_cmake v3.7.3
- MAPL v2.14.0

Essentially the latest of all three. (Technically you don't need the *latest* latest, but...might as well get them. All have bugfixes.)

[2021-12-16 16:42] lizziel commented on #1232
@hgrhgy, would you be able to apply the changes shown [here](https://github.com/GEOS-ESM/MAPL/commit/4f43d87455b90e0aa83f3fd33f1b5083af3ad72f), recompile the model, and run again? I am curious to see if this update fixes your problem. MAPL is located in directory `src/MAPL` in the GCHP code you downloaded.

[2021-12-16 17:02] #1230 closed

[2021-12-16 17:06] mathomp4 commented on #1226
@gmao-rreichle @biljanaorescanin  NOTE: For now you'll want to use env 3.7.0 and cmake 3.7.3.

I'm planning on releasing two new **_non-zero-diff_** versions of each today as @sdrabenh wants to make an NZD release of GEOS. So don't go straight to the latest version without realizing that.

We'll probably want @biljanaorescanin or @weiyuan-jiang to do tests with the new env and cmake to make sure t

[2021-12-16 18:03] #1215 closed

[2021-12-16 19:18] mmanyin commented on #530
The GCM release v10.19.5 (Nov 30, 2021) includes the fix.  Thanks to everyone who helped with this!

[2021-12-16 19:23] LiamBindle opened #1241 "What happens to long duration time averages in HISTORY if a simulation is restarted midway from a checkpoint file?"
Hi all,

I have a question about HISTORY handling when a simulation crashes.

If I have a 1 month time-average in HISTORY, and 7-day checkpointing, if I restart my simulation midway from a checkpoint file will my monthly time-average output be okay?

Thanks,
Liam

[2021-12-16 19:43] mathomp4 commented on #1241
Assigning @bena-nasa and @atrayano because...well, they'd know.

[2021-12-17 01:58] hgrhgy commented on #1232
@lizziel, I will apply the patch and see if this update can fix the problem.

[2021-12-17 06:03] hgrhgy commented on #1232
After applying the patch, the problem is solved.

[2021-12-17 13:43] mathomp4 opened #1242 "Percentage column in MAPL Timers aren't summing, should they?"
Something I just noticed with the MAPL timers. For example:
[code]

I see that the `inclusive` timer at the "top" `HIST` line does sum to the total of the `SetService`, `Initialize`, `Run`, and `Finalize` phases. The `exclusive` doesn't but I'm sort of debating to myself if it should (probably not).

But, I am wondering about the percentage column. Which I had two questions:

1. Should the Big 4 P

[2021-12-17 15:44] atrayano commented on #1241
This should work. During MAPL finilize, we write checkpoint not only for the gridded components, but also for all monthly collections (unless we stop at the month's boundary). The caveat is the MAPL by itself does not rename the checkpoint files (these are named _collectioname__checkpoint) to the expected _collectionname__rst. Your run script has to do this, or you can do it manually

[2021-12-17 16:45] LiamBindle commented on #1241
Thanks for the reply. I'm moreso refering to a simulation that's crashed though. If my simulation crashes on day 16 of the month, and I simply restart it by setting `cap_restart` and setting the appropriate checkpoint file in `GCHP.rc`, does the checkpoint file for the gridded component include HISTORY diagnostics? (It sounds like no?)

A user in our group tried this and he noticed a `-partial` su

[2021-12-17 19:15] mathomp4 opened #1244 "MPICH4: [WARNING] yaksa: 3 leaked handle pool objects"
Recently I decided to try out MPICH with GEOS. This was after the issue the GCHP folks saw with someone running GCHP with MPICH3.

So, I grabbed MPICH 4.0b1 and with the help of @hzhou on the [MPICH mailing list](https://lists.mpich.org/pipermail/discuss/2021-December/006307.html) (see also https://github.com/pmodels/mpich/pull/5728), I got a working MPICH! I could run HelloWorld on Discover, so I

[2021-12-17 20:27] atrayano commented on #1241
-partial is indication that MAPL did not read a checkpoint file at the beginning of the run (and the start day/time was not at the month's boundary).

MAPL does not save intermediate checkpoints for History, only at the end of the run

[2021-12-17 20:35] raffenet commented on #1244
It might indicate you didn't call `MPI_Type_free` on all user-defined datatypes before `MPI_Finalize`.

[2021-12-17 22:09] lizziel commented on #1232
Excellent! I think we should bring this into GCHP 13.4 then. @LiamBindle, did you see the earlier comments about MAPL 2.6.10 being for GCHP? Were you aware of this and could you update to it for 13.4? We can follow-up about this on the GCHP GitHub.

[2021-12-17 22:10] lizziel commented on #1232
Thanks again @weiyuan-jiang and @mathomp4!

[2021-12-17 22:10] #1232 closed

[2021-12-22 13:56] mathomp4 commented on #1244
@raffenet Is there a way to make yaksa (or whatever) more verbose? Like can it give hints where we might find the un-free'd types? I have an idea though...

[2021-12-22 13:57] mathomp4 opened #1250 "Possible unfreed types and op in DistributedMeter"
Based on this reply by @raffenet:

I started looking around MAPL. And I saw that in:

- `pfio/ServerThread.F90`
- `pfio/MpiMutex.F90`
- `shared/MAPL_LoadBalance.F90`

we have the usual create-type-free trio. But, then I looked at `profiler/DistributedMeter.F90` and I'm not seeing any `MPI_Type_free` in there.

This code is pretty good @tclune / @weiyuan-jiang level Fortran (yay OO) so it's always

[2021-12-22 14:00] raffenet commented on #1244
I would try adding `--enable-g` to your MPICH configuration. That turns on MPI object handle debugging, and should be able to tell you if there are unfreed objects at finalize time.

[2021-12-22 14:16] mathomp4 commented on #1244
Ooh. Rebuild time! Okay. I've put it on my to-do list. Now to find out if I need to rebuild all our dependent libraries, or if just our code is enough... :)

[2021-12-22 14:18] raffenet commented on #1244
If you are dynamically linked to MPICH, then just rebuilding/installing it should be enough. Good luck!

[2021-12-22 17:25] mathomp4 commented on #1244
Well, I can definitely say that `--enable-g` does something. Parsing through the rather voluminous output and ignoring lines like:
[code]

I see:
[code]

I'll talk more in #1250

[2021-12-22 17:28] mathomp4 commented on #1250
We might have more than unfreed types:
[code]

We might want to do a scan of all the MPI (assuming a lot of these aren't due to Baselibs libraries). There are way too many COMM here and I can't imagine we are making that many. But, we could have a shot at cleaning up the `MPI_Group`, `MPI_Op`, and `MPI_Type` maybe.

I do see an `MPI_Op_create` in DistributedMeter, and no associated `MPI_Op_free`.

[2021-12-22 17:52] weiyuan-jiang commented on #1250
Well catch! I will try to find a way to free them

[2021-12-22 18:00] mathomp4 commented on #1250
The comms are hilarious. It has to be one of our sub-libraries, right? We can't be making 507 communicators that we don't free?

[2021-12-22 21:34] raffenet commented on #1250
The comms may not be entirely what they seem. Each comm in MPICH can internally include additional sub-comms not visible to the user, but which would still show up in the handle debugging.

[2021-12-22 21:55] mathomp4 commented on #1250
Ahhh. I guess I still think of MPI stacks as "black boxes" (if it works, I keep my hands off 😄 ). But makes sense it'd make it's own comms underneath. Thanks for the explanation, @raffenet

Still, I think the Op and Type are things we need to look at. Probably are some missing frees there.

[2021-12-26 00:43] mathomp4 commented on #1143
The new timers seem to provide this with min/mean/max. Closing

[2021-12-26 00:43] #1143 closed

[2021-12-27 13:37] mathomp4 commented on #1144
Labeling long term to keep open

[2021-12-27 17:08] atrayano opened #1252 "MAPL allocates deferred exports when these are propagated up to parent components"
This is a long-standing issue, and a proper fix would require support from ESMF for aliasing fields, bundles and states. But in the case we are not renaming the exports (which is the use case in GEOS) we can implement a workaround to properly defer the allocation.

[2021-12-31 14:38] gmao-rreichle commented on #1080
@mathomp4, does this issue still apply to recent editions of MAPL?

[2021-12-31 14:44] mathomp4 commented on #1080
@gmao-rreichle I believe it still might only because I can't remember any updates changing this. Probably hasn't been top priority, but I'll bring it up with the team on Monday.

[2022-01-03 13:46] mathomp4 commented on #1169
It looks like these are still in `Tests/`. I'll mark as "long term". My guess is this is simple for @bena-nasa and @weiyuan-jiang to "fix", just not exactly high-priority!

[2022-01-03 16:10] weiyuan-jiang commented on #1226
sloved

[2022-01-03 16:10] #1226 closed

[2022-01-03 16:15] weiyuan-jiang commented on #1250
@tclune Should we move these variables ( names may be changed) to abstract class so they can be freed?
https://github.com/GEOS-ESM/MAPL/blob/aba26d6deeb7349b55cf34d752162aaec4b573ca/profiler/DistributedMeter.F90#L92-L95

[2022-01-03 16:55] tclune commented on #1242
I see it the other way around.  The sum of the times of inclusive's do _not_ add up.  This is because the overlap.  OTOH, the top inclusive overlaps everything - hence it is 100%.  The exclusive times _do_ add up to 8.31 modulo a bit of roundoff.

[2022-01-03 16:55] #1242 closed

[2022-01-03 17:05] tclune commented on #1250
Definitely should be moved into a type - not obvious at first glance that it would need to be an abstract type.

[2022-01-05 17:27] mathomp4 opened #1268 "Update MAPL Readme for recent refactorings"
I was recently looking at our main page here and I started reading the README. I think it might need some updates due to recent refactoring.

For example, no mention of the `gridcomps/` directory, it calls pFIO "GMAO_pFIO", etc.

Not exactly high-priority, but might as well not forget it.

[2022-01-05 18:23] bena-nasa opened #1269 "Adding attributes that were unintentionally eliminted when History moved from cfio to PFIO"
It was pointed out that during the transition from the History Component using cfio to pfio some attributes both at the global and variable level were lost. In addition the coordinate variables changed from double to single precision.
I.E.
[code]
and globally
[code]
The fmissing_value,missing_value,scale_factor,add_offset,standard_name were eliminated as quite frankly these were not used, unnecess

[2022-01-05 22:11] #1269 closed

[2022-01-06 13:21] mathomp4 opened #1275 "MAPL develop failure running replay"
As of this morning, MAPL `develop` cannot run replay. The traceback with a Debug Intel run is:
[code]
This is pointing to:

https://github.com/GEOS-ESM/MAPL/blob/936e54950e16aacb8134a5e45acbbbe7361252b9/generic/MAPL_Generic.F90#L1234

which I think is a new routine from the refactoring.

[2022-01-06 13:24] mathomp4 opened #1276 "MAPL develop failure with GNU debug"
MAPL `develop` failed last night running with GNU debug. The error message was:
[code]

This seems to be the same procedure as pointed to in #1275. As this is a bit more informative, I'll try out the suggested solution.

[2022-01-06 13:25] mathomp4 commented on #1276
Possibly related to #1276

[2022-01-06 13:31] tclune commented on #1275
Hmm. That change went in on Monday.  How did the Monday night tests run?

[2022-01-06 13:31] tclune commented on #1276
This should be fixed in my PR from last night.

[2022-01-06 13:32] tclune commented on #1275
I may need assistance from @atrayano to spot what changed.  This nominally was just extracting a block of code into a helper procedure.   I'm sure it is something small, but may be hard to spot given the nonlocal edit.

[2022-01-06 13:35] mathomp4 commented on #1276
Indeed, I'm testing that now. My hope is it might fix #1275 as well. But I'll start with GNU as it's seems more concrete.

[2022-01-06 15:05] #1275 closed

[2022-01-06 15:15] #1276 closed

[2022-01-06 15:24] mathomp4 opened #1280 "ESMF_Attribute call in MAPL 3 code"
In doing a `develop` to `release/MAPL-v3` sync up, I found that there is an `ESMF_AttributeCopy` call in MAPL 3:

https://github.com/GEOS-ESM/MAPL/blob/ddac45c1aeddeb46b0362afa2241c0c411364c53/base/Base/Base_Base_implementation.F90#L1709-L1718

From the blame, it looks to be some of Natalie's code.

Normally, I'd just follow what Gian did in his changes and apply them here. But guess what type of

[2022-01-06 16:36] mathomp4 opened #1282 "Make new History metadata configurable"
Due to the changes in MAPL 2.15.1 (see #1271), we now have "hard-coded" into the global metadata of MAPL History output:
[code]
While these are good defaults for the majority of MAPL users, some of our other colleagues at Harvard (@lizziel) and NOAA (@rmontuoro) and even non-GMAO NASA users (@mmanyin) could use MAPL for History output and would probably enjoy not having to do an extra `ncatted` ca

[2022-01-06 16:37] mathomp4 commented on #1282
Actually, I'm not sure if spaces are allowed in ESMF_Config objects (@bena-nasa, @atrayano or @tclune might know). Might be nice to have some sort of "translate underscores to spaces" sort of capability with this?

[2022-01-06 17:12] atrayano commented on #1282
Spaces are allowed in ESMF_Config and normally they are ignored. But in a quoted string they are preserved and kept

[2022-01-06 17:20] mathomp4 commented on #1282
Ahhh. And you are correct, @atrayano! I just just hacked in a config object in a random GC to test and:
[code]
printed out:
[code]
but:
[code]
gave me:
[code]
I learned some ESMF today! 😄

[2022-01-07 23:12] #38 closed

[2022-01-10 14:21] #1241 closed

[2022-01-10 14:24] #1214 closed

[2022-01-10 14:25] mathomp4 commented on #1195
Also related #1213

[2022-01-10 14:26] #1209 closed

[2022-01-10 14:31] #1080 closed

[2022-01-10 14:32] #782 closed

[2022-01-10 14:59] mathomp4 opened #1285 "Bad chunking and bad write in pFIO isn't trapped correctly"
When looking at issue #626 with @tclune I decided to run a test. I set this for `geosgcm_prog`:
[code]
This is an obviously bad chunksize for a 96x49 file. The issue is that the model does not crash when you do this:
[code]

You can see that we triggered part of the traceback and we captured the [netCDF error code for bad chunking](https://www.unidata.ucar.edu/software/netcdf/docs/nc-error-codes.h

[2022-01-10 15:04] mathomp4 commented on #1285
Note that it's possible that @bena-nasa could actually stop History at initialize *before* we get here by noticing that a chunksize of 500x200 won't work for a 96x49 output file and output a useful message and abort (see #626).

But we should fix these issues first. Then maybe move the abort up to Initialize time rather than Run time?

[2022-01-10 15:18] mathomp4 opened #1287 "Output Chunksize in History Initialization"
In looking at #1285 with @tclune, I noticed that one of the things we don't report in the History Initialization bits in the log file is chunking. In my `HISTORY.rc` I have:
[code]
but in the log:
[code]
Now this is a "good" chunking (unlike what we see in #1285), and History did successfully write it out.

But it might be nice to have something like:
[code]
or whatever.

[2022-01-10 15:22] tclune commented on #1228
The `LD_LIBRARY_PATH` is a debatable thing to access - but at the time it sounded easy.   The FileSystemUtilities ought to have a DirectoryPath class and the ability to search for a given file in that path.   But aside from this DSO case, I'm not sure we have a use case at the moment.

So ... does it make sense to have Fortran access LD_LIBRARY_PATH?   If so that wrapper would go in some sort of O

[2022-01-10 16:33] bena-nasa commented on #1285
@tclune @mathomp4
I can trap this on the History side when defining the metadata if we give bad chunking. Let me see if I can do this without having to introduce more methods into the grid factories that isn't klugy. Remember we go to great lengths to hide the fact that the cubed-sphere grid is tiled so I can't just use the regular MAPL_GridGet to determine the grid extents and compare to the chun

[2022-01-10 16:34] tclune commented on #1285
@bena-nasa Just remember that this is secondary.   The real issue is that existing checks are not properly trapped.   Fixing in the location you are discussing will mask the other problem, so best done separately/after.

[2022-01-10 16:36] bena-nasa commented on #1285
@tclune, ok sit on this and let weiyuan try to fix the server.

[2022-01-10 16:40] weiyuan-jiang commented on #1285
@bena-nasa I will fix this. For this particular error, it is not on pFIO side. It is on MAPL.

[2022-01-10 17:42] tclune commented on #1285
@weiyuan-jiang No - the error is in pfio.   The _error_ is in not trapping errors that are found.    There may be additional errors, but @mathomp4 and I worked through this stack trace and it is clear that RC is being set and then not checked at intervening levels.

[2022-01-10 20:54] weiyuan-jiang commented on #1285
@mathomp4 Can you test PR #1290 and see if it solves this issue?

[2022-01-10 20:57] mathomp4 commented on #1285
@weiyuan-jiang I'll try it soon, but I think we might need to trap the `put_var` and `get_var` that I saw in `ServerThread.F90` a la:

https://github.com/GEOS-ESM/MAPL/blob/f98fae5c158838b991eeda51ebe3e7d93f4d6fea/pfio/ServerThread.F90#L814

https://github.com/GEOS-ESM/MAPL/blob/f98fae5c158838b991eeda51ebe3e7d93f4d6fea/pfio/ServerThread.F90#L691

[2022-01-10 21:06] weiyuan-jiang commented on #1285
OK, indeed, I missed some.

[2022-01-11 18:51] bena-nasa opened #1291 "rt-GEOSadas-5_29_3_p2 (fpp tag) opens wrong file for SU_H2O2, SU_OH, SU_NO3 in ExtData at certain times"
While trying to assist a user I uncovered a truly bizarre behavior. The user was trying to get zero-diff to a DAS run with said tag starting on 2021-12-30T09:00:00z. When comparing logs I found that the first round of ExtData reads reported this in the OPS run:
[code]
but the users run with the same tag, same RC files, start date, and initial conditions gives:
[code]
The ExtData lines that govern

[2022-01-11 20:22] rsdunlapiv commented on #1280
@mathomp4 I think this should work for you - can you please give it a try?

[code]

[2022-01-11 21:19] mathomp4 opened #1292 "Issue with MOM6 on macOS: Logger Message"
When trying to test out the C12 MOM6 on Parcel (my MacBook), the model crashed with:
[code]
Working with @tclune we found this was due to a logger message call:

https://github.com/GEOS-ESM/MAPL/blob/f98fae5c158838b991eeda51ebe3e7d93f4d6fea/generic/MAPL_Generic.F90#L4799-L4800

Namely the single quotes. @tclune will look at pFlogger but for now, I'll make a PR for a workaround.

[2022-01-11 21:32] tclune commented on #1292
A proper workaround for this limitation would be to put the literal quotes around the arguments instead of the formats.  Look like even Python's logging package suffers a similar issue.
[code]

[2022-01-12 15:41] lizziel opened #1294 "Input regridding does not identify file-defined missing values"
I recently investigated a reported crash in GCHP when using an optional emissions inventory. In looking closer at the issue I stumbled upon a bug in MAPL. The emissions file contains a field with missing values defined in the NetCDF file as -1e-31. Rather than treat them as missing, MAPL regridded them as if they were valid. The resulting negative values for some grid cells caused HEMCO to crash.

[2022-01-12 19:04] mathomp4 opened #1295 "Refactor ESMF Error code use"
Huh. Well, it looks like we only look for ESMC codes in one file:
[code]
and `ESMF_RC` codes in a few others:
[code]
Maybe we should just *explicitly* have the `include "ESMC_ReturnCodes.h"` line in the files that need them and remove from `MAPL_Exceptions.h`?

_Originally posted by @mathomp4 in https://github.com/GEOS-ESM/MAPL/issues/1290#issuecomment-1011250754_

[2022-01-12 19:55] atrayano opened #1296 "MAPL field splitting bug"
When field splitting is needed and only a single alias is provided, MAPL currently assigns the same name to all of the resulting split fields. This generates an error when running GOCART2G with multiple wavelengths

[2022-01-13 19:13] bena-nasa commented on #1294
@tclune @lizziel
I'm working on this. Should be done today.
For now I will tell it to look for _FillValue.
When perusing the CF conventions about fill value:
https://cfconventions.org/Data/cf-conventions/cf-conventions-1.9/cf-conventions.html#missing-data
I'm wondering if I should look for more, like check for missing_value as well and make sure it is consistent with _FillValue if it is there?
Of

[2022-01-13 20:17] #1268 closed

[2022-01-13 20:17] #1292 closed

[2022-01-13 21:01] #1244 closed

[2022-01-13 21:01] #1250 closed

[2022-01-13 22:51] lizziel commented on #1294
I checked the data we are using that contains missing values and it has both _FillValue and missing_value defined in the file. The values are the same. It seems like a good idea to check that they are the same if both are present.

[2022-01-14 14:17] mathomp4 opened #1306 "Convert History Initialize to use pFlogger"
Bonus points if you convert this section to use pflogger instead ...

_Originally posted by @tclune in https://github.com/GEOS-ESM/MAPL/pull/1303#discussion_r784337820_

[2022-01-14 14:20] bena-nasa commented on #1294
The way I read the document CF references, the missing_value is merely there for a reference and it's use is really open to interpretation or discretion of the library writer:
https://www.unidata.ucar.edu/software/netcdf/documentation/4.7.4-pre/attribute_conventions.html
"This attribute is not treated in any special way by the library or conforming generic applications, but is often useful documen

[2022-01-14 14:21] mathomp4 commented on #1306
Most of this I can picture how to get into logger format.

I'm not too sure about the `ADVANCE='NO'` writes. Might need @tclune to weigh in on the best way to do that. Maybe logger can "pretty-print" an array in a better way!

[2022-01-14 15:24] bena-nasa commented on #1294
After some more back and forth and rereading documentation, I think we are going to keep things as they are, just look for _FillValue. That's really what should be used and only what should be used.

[2022-01-14 17:22] mathomp4 commented on #1280
Just talked with @bena-nasa and apparently this isn't Natalie's code, she just did the last edit (removing `__RC__` for some reason). This is used *a lot* in GEOS.

I've asked @bena-nasa to take a look at seeing if the code from @rsdunlapiv works

[2022-01-14 17:27] tclune commented on #1280
I asked her to eliminate the procedure because there is an ESMF procedure that is equivalent to it.  (Apparently was not at the time it was originally created.)

But with Info, apparently the procedure is once again needed.

[2022-01-18 14:33] mathomp4 commented on #1199
Huh. Never got closed. Closing!

[2022-01-18 14:33] #1199 closed

[2022-01-21 16:14] bena-nasa opened #1311 "Issue with ungridded dimension of size 1 in History Output"
A user running GOCART2G was finding a problem with the History output. Essentially History was saying a variable was being defined as 3D when creating the variable metadata, but there was no "lev" dimension in the metadata already.
On inspection, the issue appears to be that there is some field created when running GOCART2D as a 3D field with with an ungridded dimension whose size is the number of

[2022-01-21 16:42] LiamBindle opened #1312 "Non-fatal error in MAPL_Generic.F90 when required restart file doesn't exist"
Hi all,

I'm upgrading MAPL in GCHP to 2.16 and I'm running into an issue with our timers. The stack trace I'm trying to troubleshoot is

[code]

To me, it looks like a `MAPL_TimerOff('GCHP', ...)` is being called after a `MAPL_TimerOn('GCHPchem', ...)`. Note that this happens immediately after launching (in INITIALIZE).

I'm going to dig deeper, but I figured I'd post an issue here in case someon

[2022-01-21 16:43] bena-nasa commented on #1311
Ok, made what I thought was the fix, and fixed the crash, but now I think there's some interaction with the splitting logic that is a bit inconsistent.
When I set this in the GOCART2g rc file:
[code]
I get these dimensions in file
[code]
but if I set this in the GOCART2g rc file:
[code]
I get this:
[code]
It is like the splitting logic intercepts the varaibles if the ungridded_dim is size 2, but t

[2022-01-21 17:11] tclune commented on #1312
So far these types of issues have always proven to be a bug in the client code.   You need to find why TimerOff was not called for `GCHPchem`.   Usually this is because of some failure (`rc /= 0`) that was not trapped at some higher level. So instead of the code aborting you end up continuing on but with the timers in an inconsistent state.

Hope that helps.

[2022-01-21 17:13] LiamBindle commented on #1312
Thanks Tom. I was just about to post an update.

It looks like there was a non-fatal error higher up that I didn't notice. Specifically here: https://github.com/GEOS-ESM/MAPL/blob/779c94be75980f36f0bb05f74d18d81070b03407/generic/MAPL_Generic.F90#L5931 (a required restart file doesn't exist). The restart file is present though (`+initial_GEOSChem_rst.c24_fullchem.nc`). Looking into this now. Any in

[2022-01-21 17:40] LiamBindle commented on #1312
It looks like the `inquire` [here](https://github.com/GEOS-ESM/MAPL/blob/779c94be75980f36f0bb05f74d18d81070b03407/generic/MAPL_Generic.F90#L5896) is being called with the `+` prefix included. Is that expected? Looking deeper.

[2022-01-21 17:42] LiamBindle commented on #1312
Oh, I see the changelog for 2.12.0 says support for the +/- options for restart names was removed. Is there an alternative option?

[2022-01-21 18:10] bena-nasa commented on #1312
What's the problem, your rc file still has a + in front of the restart name? If so can't you just remove the + in the rc file?

[2022-01-21 18:12] bena-nasa commented on #1311
after discussion with @atrayano I think the issue is that if you turn on the splitfield option in the collection is that if you have any field with that the last undistributed dimension of size N and rank M is it should split that N fields of rank M-1 but if N=1 it does not do this.

[2022-01-21 18:34] LiamBindle commented on #1312
I can remove the `+` in which case it read the file okay, but our restart files are missing a couple variables. IIUC the old behaviour is missing variables were initialized to zero right? Is there a similar option?

[2022-01-21 19:27] bena-nasa commented on #1312
@LiamBindle when the variables are allocated they are set to 0 (unless you have a different default value in the addvarspec call). This does not depend on whether or not the variable is in the file since you have to allocate memory for the field before it can be read. So if you removed the + and it didn't die or throw errors I think you are fine. I'm not sure this "old behaviour" you are talking a

[2022-01-21 19:46] #1184 closed

[2022-01-22 00:24] LiamBindle commented on #1312
@bena-nasa Thanks for the info. I ended up adding explicit zero variables to our restart files. I think requiring that the restart files cover all of the internal state variables is reasonable.

Thanks for your guys help! Looking forward to using these updates!

[2022-01-22 00:24] #1312 closed

[2022-01-24 16:57] mathomp4 commented on #626
I'm long-terming this. I think @bena-nasa can probably fix this when he has time.

For now though at least we *crash* bad chunking at write time. @bena-nasa can make it so that we crash *gracefully* at initialization before we get to that. 😄

[2022-01-24 16:58] mathomp4 commented on #470
@bena-nasa @atrayano is this still a thing? Or has ESMF 8.2.0 fixed it?

[2022-01-24 16:59] #1287 closed

[2022-01-24 17:06] atrayano commented on #470
I am almost sure this is still an issue and not quite alright (at the very least I have not heard otherwise)

[2022-01-24 17:08] rsdunlapiv commented on #470
ESMF alarms are being reworked and there was a meeting this morning that included @bena-nasa to discuss how the ESMF alarms API can be implemented to be semantically unambiguous.  @feiliuesmf is leading the effort.

[2022-01-24 17:10] mathomp4 commented on #470
@rsdunlapiv and @atrayano Thanks. I'll mark as long-term so the Stale Bot stays away. 😄

[2022-01-25 18:20] tclune commented on #1294
I think we should add a check for files that have no fill value.    Should be an error (maybe a warning) if such a file is ingested.

[2022-01-26 18:01] mathomp4 opened #1318 "Updating ecbuild version in MAPL"
This is a question for:

- @lizziel
- @rmontuoro

A potential user of MAPL found that building _without_ Baselibs but building _with_ our ESMA_cmake/ecbuild caused a CMake error. The issue was that the `FindNetCDF.cmake` package in our fork of ecbuild was too old.

So, as a test, I updated the file with a recent one from JCSDA (who I think doesn't even use that fork anymore), and it seemed to work

[2022-01-26 18:01] #1295 closed

[2022-01-26 19:00] #1294 closed

[2022-01-26 19:00] #1311 closed

[2022-01-26 23:31] lizziel commented on #1318
I don't think this would affect us but I'm bouncing this to @LiamBindle to confirm.

[2022-01-27 16:26] mathomp4 commented on #1318
@rmontuoro Thanks. Note that I'm hoping to move GEOS to "essentially" ECMWF ecbuild stable soon. The only issue is we have internal changes to ecbuild (for our Aggressive flags) which we need to keep around. I have an issue raised with them about this, but haven't heard anything back. Maybe I need to propose a CMake change...

[2022-01-27 19:10] bena-nasa opened #1323 "Where to move MAPL_SimpleBundleMod (and refactor it too, maybe)"
For the v2.8.0.2 patch we are creating for the das we replaced the MAPL_CFIORead in MAPL_SimpleBundleMod with it's replacement mapl_read_bundle. However, due to the reorganization that took place after v2.8.0 making this change introduces a circular dependency between GriddedIO and Base since GriddedIO depends on Base. So MAPL_SimpleBundleMod will have to move to get this same patch into develop.

[2022-01-27 19:29] atrayano commented on #1323
I am totally fine with moving it to base

[2022-01-27 19:29] tclune commented on #1323
I think the details matter here.    I need to understand what the individual elements are that cause the circular dependency.    It could be that something in Base should move out/up.

[2022-01-27 19:47] bena-nasa commented on #1323
No, no, it needs move OUT of base. I need to change the MAPL_CFIORead to mapl_read_bundle in MAPL_SimpleBundleMod. MAPL_SimpleBundleMod is in Base now. mapl_read_bundle is in GriddedIO. Things in GriddedIO depend on Base, hence MAPL_SimpleBundleMod can't stay there, it has to move. We've already released a patch with this change (v2.8.0.2) so it's got to move somewhere

[2022-01-27 19:56] tclune commented on #1323
I agree at least one thing must give ...

The odd thing is that SimpleBundle by itself does not suggest anything about I/O, but ... clearly one or more of its procedures do I/O (directly or indirectly).     So it seems to me it should either move to GriddedIO _or_ to `generic`.   Neither is perfect, and neither is probably the permanent home.

Another possibility that is probably too much trouble

[2022-01-27 20:09] bena-nasa commented on #1323
We could try to break it apart, have something in GriddedIO that creates a simple bundle from a file, although we have more important fish to fry quite frankly, I say just move it to GriddedIO and be done with it. It we are going to the trouble of that kind of refactoring we might as well get rid of all the pointers with allocatables while we are at it. But once again, probably not worth the troub

[2022-01-27 20:11] tclune commented on #1323
@bena-nasa I'm fine with that.

[2022-01-27 20:22] atrayano commented on #1323
We need to be careful before deciding to get rid off it. This was Arlindo's creation, and he uses it in the tutorial, Chemistry, and quite possibly other pieces he wrote

[2022-01-27 20:22] bena-nasa commented on #1323
I'm not getting rid of it.

[2022-01-27 20:23] tclune commented on #1323
Yes - we most likely cannot eliminate it.  Arlindo not only uses it, he wrote it and thinks it a wonderful thing.

But I think it could be greatly improved as a cleaned up OO layer at some point.  Hopefully we could make it so good he'd be willing to adopt it.

[2022-01-31 13:03] mathomp4 opened #1328 "MAPL Develop is broken - 2022-01-31"
Something broke MAPL `develop`. Every single nightly run failed with:
[code]
The only substantive change to MAPL `develop` since 2.17.0 was #1326

I will try to revert this and see what happens.

[2022-01-31 13:52] mathomp4 commented on #1328
The reversion does seem to solve the issue. I suppose the question is why did that change cause this.

[2022-02-01 15:41] bena-nasa opened #1331 "PFIO profilers formatting not big enough"
I just ran the model at c720 with a history close to the standard AMIP history and the PFIO timers on. I see this output:
[code]
Seems like the selected formatting was not allowing for enough digits with the *********** for a few values.

[2022-02-01 16:01] bena-nasa opened #1332 "Should ALL timers be controlled by one toggle?"
To turn on the model timers you do it via a option in a resource file.
To turn on the PFIO timers you do it via the command line.

This seems a bit confusing and incongruent. It seems like all the timers should be controlled by one toggle whether that is via a file or the command line.

Just throwing this out there. Thoughts?

[2022-02-01 18:00] tclune commented on #1331
Hmm. Is this the first time we've done a run that needs 3 digits before the decimal point (using the new format)?  That seems a bit surprising, but must be exactly what is wrong.  (Another argument for a config option for this.)

[2022-02-01 18:05] bena-nasa commented on #1331
This is the PFIO timers, probably not examined at this res before and since I didn't even know how to turn them on, I doubt anyone else has looked at them either before

[2022-02-01 18:48] #1328 closed

[2022-02-01 18:49] mathomp4 commented on #1332
Hmm. Part of me says: "if I want profiling, give me all the profiling". But then I can see the want for maybe a subset of everything. Like, if I'm not writing anything, then pFIO profiling isn't needed.

[2022-02-01 18:49] mathomp4 commented on #1331
This should be fixed by #1333 (aka `develop`).

[2022-02-04 01:07] rmontuoro opened #1334 "Missing gFTL v2 target for MAPL.profiler prevents MAPL from building"
The following `MAPL.profiler` file includes a template from gFTL v2:
https://github.com/GEOS-ESM/MAPL/blob/28a874ee60734690d0bbdc3fb266a64146fe3ce3/profiler/MeterNodeStack.F90#L9

However, the `GFTL::gftl-v2` target is missing in:
https://github.com/GEOS-ESM/MAPL/blob/28a874ee60734690d0bbdc3fb266a64146fe3ce3/profiler/CMakeLists.txt#L52

[2022-02-04 13:10] mathomp4 commented on #1334
Hmm. I thought `GFTL::gftl` brought in both versions...

[2022-02-04 13:22] tclune commented on #1334
I'm also curious why this is not a problem on our end.

[2022-02-04 13:25] tclune commented on #1334
Checking - no GFTL::gftl is just an alias for v1.    It will switch to v2 when gFTL 2.0 is released.   Still confused why we don't get the error though.

[2022-02-04 13:25] #1334 closed

[2022-02-04 13:28] tclune commented on #1334
@weiyuan-jiang Can you do a hotfix off of main to add GFTL::gftl-v2 in the esma_add_library call in the profiler directory.

@rmontuoro Please let us know if you need a patch to any older release.

[2022-02-04 14:45] weiyuan-jiang commented on #1334
I saw oomph has replaced GFTL::gftl with  GFTL::gftl-v2. So I removed GFTL::gftl in profiler. It builds successfully.

[2022-02-04 14:46] tclune commented on #1334
No - both are needed.  Some containers still use the older v1 (which is what "gftl" brings in).   We don't yet know why our build seems to work either way.

[2022-02-04 14:51] weiyuan-jiang commented on #1334
Oops, I remove it.  Let me see if I can have a fresh build

[2022-02-04 15:29] weiyuan-jiang commented on #1334
@tclune Since there is no problem building profiler without v1 dependency, I prefer to removing it now

[2022-02-04 21:38] weiyuan-jiang commented on #1285
There is still chance that some errors are still not trapped. We will see if we can reproduce the case reported by @rmontuoro

[2022-02-07 18:44] rmontuoro commented on #1334
@mathomp4 -- here are the CMake settings we're using to build MAPL standalone:

[code]

[2022-02-07 18:50] mathomp4 commented on #1334
@rmontuoro Thanks. Note that you probably don't need the `-DESMA_USE_GFE_NAMESPACE=ON` anymore. I don't think that option does anything in MAPL anymore.

Now to figure out how to get those flags into our CI... (Though we might build as `Debug` for speed's sake.)

[2022-02-07 20:04] mathomp4 opened #1346 "Add UFS-like CI Build"
As seen by #1334, we are missing a possible CI task: Building MAPL like UFS does without pflogger or flap:
[code]
So a CI job should be added to do this so we don't miss this. I'll probably only do Intel for this and might not even run the MAPL tests? Hmm. Not sure.

[2022-02-08 13:25] #1282 closed

[2022-02-08 13:26] #1318 closed

[2022-02-08 13:51] tclune opened #1349 "Check behavior of ACG"
This is related to issue 93 in GOCART repo.

[2022-02-10 15:53] mathomp4 opened #1354 "macOS: ENABLE_MAPL_MEMUTILS: YES crashes"
As discovered by @tclune and @atrayano, if you set:
[code]
in `CAP.rc`, it crashes:
[code]

This is due to the fact that `/proc/meminfo` doesn't exist on macOS.

[2022-02-14 14:28] tclune opened #1358 "Move resource items to CAP.rc"
The following should move from their current RC homes to the CAP.rc to enforce proper dependencies between children and parent components.  The relocations from root are probably the most problematic.

- EXPID  (hist --> cap)
- EXPDSC (hist --> cap)
- heartbeat (root --> cap)
- NX, NY (root -> cap)

Slightly related issue:   EXTDATA_CF should not be needed _in_ the ExtData config ...

[2022-02-14 20:05] mathomp4 opened #1360 "NAG 7.1 Issue with MAPL develop"
So I just tried building MAPL `develop` with NAG 7.1 and it dies in the build with:
[code]
The line it points to isn't too enlightening to me:

https://github.com/GEOS-ESM/MAPL/blob/73a2cfaa074d821d4f6d87c65b6cd394c851bc04/base/cub2latlon_regridder.F90#L349

but maybe @tclune can figure it out?

(Or maybe I have a bug in my NAG setup, which isn't impossible!)

[2022-02-14 20:07] mathomp4 commented on #1360
It also throws a lot of Notes:
[code]
but I think they might be everywhere in MAPL as I think a lot of our `system_clock` calls use integer.

[2022-02-14 20:08] #1354 closed

[2022-02-14 21:44] tclune commented on #1360
1. I'm fairly certain the Profiler itself uses INT64.    Other codes should use the profiler.  (Don't have to use the reporter. You can just declare a Timer and start/stop it.)
2. It's always a compiler bug when NAG spits out C code in the error message.  The question is why did 7.1 (7103) build MAPL on my laptop?   Minimal reproducer is the next challenge.

[2022-02-15 13:59] tclune commented on #1360
One thing we could try is to switch to gFTL2 containers.  No particular reason this should help, but it is a random change with the same semantics ...

[2022-02-15 18:04] atrayano opened #1363 "Change naming convention for split fields in HISTORY"
The current implementation of generating names for the split fields cannot produce in certain situations the desired outcome (i.e. preserve the file spec). The main issue is that if it is desired to generate a split name is identical to the original un-split, this would create a conflict due to duplicates.

[2022-02-15 19:48] LiamBindle commented on #635
Hey everyone, just curious if this is on any roadmap. Right now checkpoint files are a bit of a black box because the dimensions aren't consistent with diagnostics/other cubed-sphere data. If the dimensions were 6xNxN we could leverage existing tools like Panoply to view and compare initial conditions for simulations. Any chance this will ever make it?

[2022-02-15 19:57] tclune commented on #635
Please bring this up at the next telecon.    In theory this should be straightforward and highly desirable.     This would have happened naturally if our intern had returned this summer, but that's not happening.

I would say MAPL-3 first and then this would be an obvious next step.  MAPL-3 now has a bit of inertia.

[2022-02-16 14:27] mathomp4 opened #1365 "Update MAPL main/develop with FP History fixes"
Per Rob's requests, I'm working on adding:

- Fixes for Global Attributes to match FP 5.27
  - Changed `lev` variable `standard_name` to `model_layers`
  - Changed global attribute `Convention` to `Conventions`
  - Fill `Source` with `EXPSRC:`

to a MAPL 2.8.0.4 tag. But these updates should also be put in MAPL. The "fun" part is that this should be a hotfix on `main`, but I made a big change to a

[2022-02-16 14:28] mathomp4 commented on #1365
Whoops. Accidentally assigned @tclune. He doesn't need to deal with this. (Though we'll see if I need his help with the gitflow!)

[2022-02-16 17:31] #1365 closed

[2022-02-16 19:52] mathomp4 opened #1374 "CFIOasync triggers bad path in MAPL History"
A fun bug found by @megandamon. If you ask for a `CFIOasync` format in History (like in the old days), MAPL will happily give you...binary.

Turns out the "default" in history is flat binary. Anything other than a format of `CFIO` falls over into binary.

So, questions for @tclune, @atrayano, @bena-nasa ...

1. Should the default be `CFIO` instead of flat binary?
2. Should we rename the formats fr

[2022-02-16 20:11] bena-nasa opened #1376 "Change default format and protect against illegal values in History.rc"
A user mistakenly tried to use the settings that were appropriate for the old pre-MAPL2 oserver in History with a post MAPL2 version of MAPL by specifying the "format" of each collection as "CFIOasync". Surprisingly the code did not crash but rather defaulted to binary output. This should be cleaned up. Detect if the user makes an incorrect option, either make CFIO the default and specify binary i

[2022-02-17 15:47] mathomp4 opened #1378 "Many _ASSERT(.false.) in MAPL"
Per @tclune:

So, I decided to look at MAPL and if one greps for `_ASSERT(.false.)` and, well:

[code]

Something for a rainy day...

[2022-02-17 20:41] mathomp4 opened #1379 "Time Remaining estimate is incorrect if END_DATE is before BEG_DATE+JOB_SGMT"
Today I ran a 3-month C12 job from 20000414 21z to 20000802 21z which is 110 days. But I decided to be lazy and in CAP.rc set:
[code]
figuring I'd like MAPL take the wheel and stop the model. I think this means I told it to run for 10 months (or 1000 days??).

And all worked just as you'd expect; the model stopped at the `END_DATE`. But, the instant timers had a bit of an issue. The last report be

[2022-02-17 21:00] tclune commented on #1332
The on/off needs to be added for the new timers. (Including mem profiler)

Now a high priority - with mem profiling being "off" by default.

[2022-02-17 21:27] atrayano commented on #1379
BEG_DATE is not relevant, as long it is before curr. I am Time (and END_DATE). We need to limit 'duration' to the smaller of the user specified duration and (END_DATE-currTime). My fix will be in shortly (after running few simple tests)

[2022-02-18 00:34] wmputman opened #1382 "Is there a way to avoid these broadcast calls?"
https://github.com/GEOS-ESM/MAPL/blob/0dbe0f14adf059e53d29112d0ee2da9f4d560275/base/MAPL_sun_uc.F90#L2748-L2753

Can we do some kind of parallel read here instead of having the root node broadcast everything.  This is trapping a load imbalance from the moist physics leading to a significant overhead in Surface times.

Every PE is opening and closing the file currently as it is written

[2022-02-18 00:52] wmputman commented on #1382
Also, does this have to happen every tilmestep??? It seems like it is. It probably needs to happen just once per simulated day, on the frequency of the daily data in the file

[2022-02-18 12:39] dr0cloud commented on #1382
Hi @wmputman , I am taking a look and also pinging @mathomp4 who had a major role in the development of this part of the solar source code. Peter.

[2022-02-18 13:33] tclune commented on #1382
Coming at this cold:
1. The 3 Bcasts can certainly be turned into a single bcast with 3 items.  But this is only useful if the call is frequent.
2. If what @dr0cloud says is correct, then should not the open/read not only be on the root process but also only during init rather than using a `TableCreated` flag?

[2022-02-18 13:34] mathomp4 commented on #1382
@wmputman I can see how to optimize this a bit. I talked with @dr0cloud and we can make it better.

[2022-02-18 20:37] tclune commented on #1360
Just confirming the only problem building with 7.1 on my laptop is a reference to `set_services_gc` in CapGridComp before the procedure was introduced.  I'm fixing that as a side effect of another ticket.   So ... 7.1 builds on OS X.  Time for bug report I think.

[2022-02-23 14:31] tclune opened #1386 "Extract (new) generic set services into a submodule"
Reduce complexity of large file MAPL_Generic.

[2022-02-23 16:01] #1346 closed

[2022-03-03 20:05] mathomp4 commented on #1360
I just tried `develop` with NAG 7.1_7105 and I'm still getting this error. ☹️

[code]

[2022-03-03 20:11] mathomp4 commented on #1360
One note. This line:
[code]
where it's dying is "unique" among the `add_attribute` calls I see in MAPL in that it has something fancy, `attr_iter%value()` compared to just a scalar string or integer or something.

Maybe NAG isn't liking that?

[2022-03-03 20:13] mathomp4 commented on #1360
Just tested and same error on `release/MAPL-v3`. I figured it would be, but I thought I'd check just in case.

[2022-03-04 21:29] atrayano opened #1405 "MAPL_Terminate all imports from a particular child fails"
When we exercised the wave model, where we call MAPL_DoNotConnectAnyImport, we get the following error
        GENERIC: ERROR: SRC_NAME: <MAPL_AnyChildImport>  DST_NAME: <MAPL_AnyChildImport> is not satisfied
 DO_NOT_CONNECT ERRORS FOUND in OGCM

[2022-03-05 02:14] atrayano opened #1407 "Averaging couplers are not running correctly when called from gridded components"
When History calls the couplers, they behave as expected. But when a gridded component calls them (for example by call to MAPL_RunCouplers), the alarms ring at the wrong time(s). The issue is that History is called after ESMF_ClockAdvance, and this assumption is build in the alarms of the couplers

[2022-03-06 18:25] #1407 closed

[2022-03-07 14:04] mathomp4 opened #1410 "MAPL main does not run"
A test of GEOSgcm with MAPL `main` does not run. I think this must be due to #1408 as `develop` works and I think 2.18.0 works (I'll double check to be sure).

To wit, when running with MAPL `main`, the model dies with:
[code]

@atrayano how did you test #1408? My run is at C48. If it passed with a smaller resolution maybe that means something?

cc @tclune

[2022-03-07 14:13] mathomp4 commented on #1410
Note the line of the crash is...odd. I think it's just saying "Something went bad".

[2022-03-07 14:15] mathomp4 commented on #1379
Fixed with #1381

[2022-03-07 14:15] #1379 closed

[2022-03-07 16:37] atrayano commented on #1410
I reverted VarSpec.F90 to a previous revision( b02e8fff665d), and the code runs. @mathomp4 thanks for testing!

[2022-03-07 17:25] #1410 closed

[2022-03-07 17:55] #1405 closed

[2022-03-08 14:42] bena-nasa opened #1416 "ESMF time interval division gives different results despite identical inputs in different executions"
While testing for the next CF system, the CF developers found an issue where ExtData was insisting it could not find the correct file despite the fact the files existed for the current time. This was with MAPL v2.7.1 and the file was one needed for the CO2 gocart grid comp. Worse this problem only shows up at c360 when running the full model. I tried ingesting the same files used by CO2 grid comp

[2022-03-08 14:47] tclune commented on #1416
Since `ESMF_Time` and `ESMF_TimeInterval` perform _exact_ arithmetic, this cannot be a rounding error.    So either this is a bug in ESMF that should be reported, or is worth digging a bit more into.  (Or I've misunderstood in my first reading -- always possible.)

Indeed, the entire reason that ESMF implement exact arithmetic for time was to avoid this sort of issue.

For the case that breaks in

[2022-03-08 16:52] mathomp4 commented on #1416
Those TimeIntervals look odd. This:
[code]
is a duration of 1 month and this:
[code]
is a duration of 22 days, 15 hours.

[2022-03-08 16:57] bena-nasa commented on #1416
The first time interval should be a month.
Notice in the c90 case the print of the mod outputs garbage
I don't use the mod, I was just printing it to see what it gave.

[2022-03-08 17:01] mathomp4 commented on #1416
Ohhh. Yeah. ExtData!  I was expecting things like "6 hours" or "15 minutes" or something because my brain was in History land. 😄

Though I suppose we can do monthly history now...

[2022-03-08 17:02] mathomp4 commented on #1416
But, yes, I agree that `^X` is not a good ISO 8601 format.

[2022-03-08 17:15] bena-nasa commented on #1416
Maybe the CAP.rc's weren't the same, I just copied in the CAP.rc from the C90 and now it's work. I thought both these CAP.rc's were whatever you get from the makeoneday script, I changed the C90 one to a job_segment to match the DT, so I didn't have to wait for the full day to run to see the results, I thought, lets make sure the job_segments are the same, so I copied over the C90 one to c360 and

[2022-03-08 17:23] bena-nasa commented on #1416
well, this is great, now I can't reproduce the error!

[2022-03-08 17:24] tclune commented on #1416
One more "probably something uninitialized" thing for our collection.   Ugh.

[2022-03-08 20:05] tclune opened #1418 "Enable CSV format for MAPL profiler"
Most of the machinery for this is actually in place.   The two main changes that are required are:

1. Have an option to specify `,` instead of `|` for the column separators.

https://github.com/GEOS-ESM/MAPL/blob/f6701f14c58ae3866581b847c50cc142b40ff4ab/generic/MAPL_Generic.F90#L2048

Indeed there is already an unused named parameter in that file for this purpose.

2. A new type of column should

[2022-03-08 20:09] tclune opened #1419 "Enable rerouting profile information to a log file through pFlogger"
Currently `ProfileReporter` returns an string array.   MAPL_Generic.F90 then writes the elements of this array to `OUTPUT_UNIT`.  Instead, this should be a call to the logging layer.  Something like:

[code]

For the component timers this should be fine.  For the global timers, some work is needed as we don't want profiler itself to have a dependency on pFlogger.  So we would instead move the writ

[2022-03-08 20:35] tclune opened #1420 "Extend format width for inclusive and exclusive times in profile reporting"
The current `(f9.2)` may not be sufficient for runs that span more than 10 wall clock days (GCHP).   `f(10.2)` should suffice for all known use cases.

[2022-03-11 16:30] mathomp4 commented on #1228
This is still a wanted thing, I believe, right @tclune? I'll mark long term

[2022-03-11 16:33] mathomp4 commented on #1213
@tclune is this still a desired option? Or have you essentially done this now in your changes to the profiler?

[2022-03-11 18:06] tclune commented on #1213
There are still elements that are not done.  And the revert lost some of the bits that are there.  But this ticket is a bit vague anyway.  Several other relevant tickets that can be used to drive the work.   Closing.

[2022-03-11 18:06] #1213 closed

[2022-03-14 12:19] mathomp4 commented on #1291
@bena-nasa is this still an issue/bug?

[2022-03-14 17:17] tclune commented on #1419
I've decided that some aspects of the requested changes for profiler can go in on the development branch after all.   In particular, the use of pFlogger for routing the output and the uptick in the number of digits used.

[2022-03-15 13:36] mathomp4 opened #1433 "MAPL GNU does not run (main, develop, 2.8, MAPL3...)"
MAPL GNU currently fails in LatLonGridFactory:
[code]

This is an error both @bena-nasa and I are sure we fixed and yet it never seem to have got on GitHub.

Luckily, @bena-nasa knows the fix. First priority is probably a hotfix on `main`. For completeness we should probably back port to v2.8 but that's not too crucial.

[2022-03-15 14:49] tclune commented on #1419
@lizziel For the global timers, I have introduced a new logger called 'MAPL.PROF',  but for the per-gridcomp timers we have a choice.  I can have them go through the same 'MAPL.PROF', or we can have a logger off the gridcomp:   '<compname>.PROF'.

It really depends on whether you think you'll want to send them all to the same place or not.   If we need both approaches, we can later add a switch to

[2022-03-15 15:21] #1433 closed

[2022-03-15 20:44] tclune commented on #1419
OK - rerouting through pflogger was quite easy.  I'm now working on the CSV aspect in the same branch.  Here is an example output from my first attempt:
[code]

Two observations:

1. It may be tricky in GEOS to allow enough space for the "full name" of a component to be written out.    The current  approach assumes a table and can't be elastic per row, so needs more thought.  For now I'm bumping t

[2022-03-16 12:34] tclune commented on #1418
Merging this with #1419.

[2022-03-16 12:34] #1418 closed

[2022-03-16 12:36] tclune commented on #1419
OK - realized the mistake I was making in creating the long timer names.   And a couple of other things, so CSV is close now:
[code]

Still need to find a simple way to eliminate the vertical separations  `===` and `---`.    Also need to get some commas into the headers.  And finally, for the multi-column headers, I need to find a way to introduce additional commas.    Probably have to put this as

[2022-03-16 14:55] mathomp4 commented on #1419
@tclune I suppose if the separator can be defined at runtime, you could use commas, or pipes or even spaces (as CSV has been sort of overloaded in practice to be "any-character" separated values").

[2022-03-16 17:20] tclune commented on #1419
Yeah the actual character to use is less crucial.   The hardish part is dealing with the multicolumn headers.

[2022-03-18 12:45] #1382 closed

[2022-03-21 13:20] #1349 closed

[2022-03-23 18:53] mathomp4 opened #1453 "Extend MAPL_GetResource with a config array overload"
At the moment `MAPL_GetResource` has three overloads:

https://github.com/GEOS-ESM/MAPL/blob/8edb2d0d72e663cce3a35b34d2f5703e25f86101/generic/MAPL_Generic.F90#L314-L318

They are:

1. scalar from MAPL_MetaComp
2. scalar from ESMF_Config
3. array from MAPL_MetaComp

This should be extended to have "array from ESMF_Config". Should be fairly simple to do.

I suppose `MAPL_GetResource_array` should be

[2022-03-24 14:36] atrayano opened #1454 "GenericCplComp.F90 doest not deallocate tilemask properly"
@sdrabenh reported a crash when outputting monthly averages from 'tile' collection.

29593  NOT using buffer I/O for file: geosgcm_landice_checkpoint
29594 forrtl: severe (173): A pointer passed to DEALLOCATE points to an object that cannot be deallocated
29595 Image              PC                Routine            Line        Source·············
29596 GEOSgcm.x          00000000034090D1  Unknown

[2022-03-24 14:45] atrayano opened #1455 "MAPL coupler needs to support 4d vars"
The coupler in MAPL has a build-in support for array ranks up to 3. Until very recently they were no use cases for higher ranks. However, GOCART2G exports now have rank 4 arrays and there is some need to produce daily averages for certain fields (for example newly developed OH component needs them)

[2022-03-24 19:10] #1454 closed

[2022-03-30 17:26] lizziel commented on #1004
@bena-nasa, @tclune : Related to this issue, GCHP was able to use '+' with pnc4 files to assign a default value to internal fields missing in the restart file. Is this still possible after the removal of '+'? If yes, could you point me to where the default value is set in the latest version?

[2022-03-31 12:35] mathomp4 commented on #1004
@lizziel I'll let @bena-nasa or @atrayano answer in more detail, but you could maybe use the ability of `MAPL_AddXXXSpec`:
[code]
By default, I think MAPL (when it bootstraps missing variables) will bootstrap to zero. But I'd think that if your add spec had a `DEFAULT` it would then bootstrap with that.

I think.

Hopefully an expert can weigh in. 😄

[2022-03-31 13:04] bena-nasa commented on #1004
@lizziel
When MAPL allocates the import/internal/export fields, it

[2022-03-31 16:49] lizziel commented on #1004
Thanks all. So it sounds like there should not be a problem if an internal state field is not in the file. However, I am getting an error at file read that is fixed if I add the missing field in. I'll make a separate issue about it if I can't figure it out quickly.

[2022-03-31 20:57] atrayano commented on #1004
@mathomp4 You are right, adding 'DEFAULT' only affects what values are assigned initially to the variable in case of bootstrapping, (and not providing DEFAULT is equivalent to DEFAULT = 0.0). If a variable is read from a restart, then 'DEFAULT' is ignored

[2022-04-06 11:17] mathomp4 commented on #1285
As @weiyuan-jiang has an outstanding PR to partially address this, I'll un-stale it for now.

[2022-04-09 21:06] #1323 closed

[2022-04-11 13:01] tclune opened #1472 "Replace ESMF Config with YAML in MAPL Cap for MAPL v3 branch"
Note that there is a secondary ticket that is related to this which is to eliminate FLAP by using YAML.  But this needs a bit of thought to not break the UFS and GCHP use cases.   Probably will keep CapOptions initially.

[2022-04-11 13:02] tclune opened #1473 "Replace FLAP with YAML in MAPL v3"
See #1472 for the initial steps.

[2022-04-11 13:02] tclune commented on #1472
FLAP issue is is #1473

[2022-04-11 19:37] tclune opened #1474 "Update New ExtData to use new yaFyaml on MAPL v3 branch"
MAPL 2 will still use the 1.0-beta7 interfaces to be compatible with older baselibs.

[2022-04-11 19:45] tclune commented on #1474
I think the relevant Baselibs will be 7.0.0  (@mathomp4 please confirm)

[2022-04-11 19:51] mathomp4 commented on #1474
Yes. It'll end up as Baselibs 7.0.0 I think. Relevant draft PR here: https://github.com/GEOS-ESM/ESMA-Baselibs/pull/41

Note that there is a temporary build found here on discover:
[code]

[2022-04-15 15:40] tclune opened #1478 "Is this code redundant?"
https://github.com/GEOS-ESM/MAPL/blob/09840e76b6655b023c9adb1ab0982c3b51d06827/shared/DSO_Utilities.F90#L34

[2022-04-15 16:27] lizziel commented on #1004
Following up on this, I traced the issue to not having config file entry `MAPL_ENABLE_BOOTSTRAP`. Adding that to `GCHP.rc` fixed the issue.

[2022-04-15 20:32] tclune commented on #1004
Excellent.  Closing the ticket. (Hope I've not misunderstood.)

[2022-04-15 20:32] #1004 closed

[2022-04-18 12:40] weiyuan-jiang commented on #1478
I think the two calls of 'get_file_extension'  are redundant. It eventually returns an empty extension. But why the empty extension is supported ? https://github.com/GEOS-ESM/MAPL/blob/09840e76b6655b023c9adb1ab0982c3b51d06827/shared/DSO_Utilities.F90#L26

[2022-04-18 12:53] weiyuan-jiang commented on #1478
OK, I see. It is empty when users don't specify extension.

[2022-04-18 12:54] tclune commented on #1478
Well, we want to allow the user to have no suffix at all (indeed that is preferred for portability), and it is a matter of where to allow that.  We could put that check in various places.  If you think there is one that is more natural, please suggest.

Can you do a PR to remove the redundancy?

[2022-04-18 20:01] atrayano opened #1483 "Wrong variable rank declaration in GenericCplComp.F90"
While adding support for 4d vars, I mistyped the declaration of PTR40 in ZERO_CLEAR_COUNT

[2022-04-19 15:52] #1455 closed, assigned to atrayano

[2022-04-19 15:52] #1483 closed

[2022-04-19 20:19] mathomp4 commented on #1378
Setting this as long-term. I think @bena-nasa fixed some of these recently, but I'm sure some still remain!

[2022-04-19 20:20] mathomp4 commented on #1374
@bena-nasa Is this still an issue in modern MAPL? Or was this fixed at some point?

[2022-04-19 20:21] mathomp4 commented on #1376
Oh. Huh. I think this is the same as #1374. Commenting here to keep open

[2022-04-19 20:23] mathomp4 commented on #1332
I think #1385 closed this.

[2022-04-19 20:23] #1332 closed

[2022-04-25 12:21] mathomp4 commented on #1358
Re-opening. Not sure this should close

[2022-04-25 12:22] tclune commented on #1358
Definitely should remain open.   I was not worried as it's going to come up on its own anyway.

[2022-04-26 19:51] lizziel opened #1489 "Add handling for double precision input fields when reading _FillValue"
Several GCHP input files contain double precision variables with the `_FillValue` attribute. Recent versions of MAPL read the `_FillValue` to handle cases where it differs from `MAPL_UNDEF` but the model crashes unless the input is single precision. The problem is the object function `get_var_attr_real32` does not have handling for double precision. See [here](https://github.com/GEOS-ESM/MAPL/blob

[2022-04-26 19:59] tclune commented on #1489
@lizziel If this change works for you, then by all means please submit a PR against develop.   Let us know if you need an earlier MAPL patched with a hotfix.     (@weiyuan-jiang I'm letting you manage the ticket as it is mostly a pfio extension.)

[2022-04-27 13:27] lizziel commented on #1489
Will do. I won't need a patch since I've already put this in our version.

[2022-04-29 13:20] bena-nasa opened #1490 "MAPL_Generics prints capability out of date"
I was using the ability to have MAPL just print information about the states of every component in the hierarchy with the "PRINTSPEC:" option in the CAP.rc. I noticed that the legend was not correct. The legend said the print included the units, but it did not, so I added the units. I also noticed it did not give information about the internal state nor did it give information about what kind of c

[2022-05-02 08:23] #1386 closed

[2022-05-02 13:14] #1490 closed

[2022-05-02 13:15] #1478 closed

[2022-05-02 13:21] mathomp4 commented on #1416
@bena-nasa Did you fix this?

[2022-05-02 13:23] mathomp4 commented on #1376
Probably best strategy is:

1. Add option for `binary` and `nc4` or whatever in `develop` and deprecate it.
2. in MAPL 3 *only* allow `binary and `nc4`

[2022-05-02 13:27] mathomp4 commented on #1306
For the `ADVANCE=NO` section, look at using the colon edit descriptor:

https://pages.mtu.edu/~shene/COURSES/cs201/NOTES/chap05/colon.html

[2022-05-02 13:28] mathomp4 commented on #1291
@bena-nasa Is this still an issue?

[2022-05-02 13:28] mathomp4 commented on #1285
@mathomp4 Try this out and see if it works now.

[2022-05-02 18:58] mathomp4 commented on #1358
What the? How did stalebot close this? long term got added

[2022-05-03 12:21] mathomp4 opened #1495 "ESMF Errors emitted with monthly history collections"
Recently, @sdrabenh turned on monthly collections by default in `HISTORY.AGCM.rc.tmpl`. Once this happened, my nightly tests started producing ESMF errors. To wit:

[code]

With the default HISTORY, 24 of these are emitted, I'm just showing one for clarity.  If you "restore" the old HISTORY behavior of no monthly collections, then the errors go away. If you run only a single monthly collection, tw

[2022-05-03 14:52] mathomp4 commented on #1495
More info. Per Totalview (as I couldn't get DDT to work), the first error trapped is from this line:

https://github.com/GEOS-ESM/MAPL/blob/e09e158c323747a1a5462ee0d707a44db7010c64/gridcomps/History/MAPL_HistoryGridComp.F90#L1271

and the next error is from:

https://github.com/GEOS-ESM/MAPL/blob/e09e158c323747a1a5462ee0d707a44db7010c64/gridcomps/History/MAPL_HistoryGridComp.F90#L1292

[2022-05-03 16:15] mathomp4 commented on #1495
So, thanks to our friend Google, I found out that someone named "@bena-nasa" found this same error here:

https://github.com/GEOS-ESM/MAPL/issues/351

and fixed it here:

https://github.com/GEOS-ESM/MAPL/pull/352

So I consulted @bena-nasa and I have a possible fix. But here is the fun thing, I think the only way I can really test it is to run and make a monthly collection. Exciting!

[2022-05-05 15:43] #1378 closed

[2022-05-05 15:43] #1420 closed

[2022-05-17 16:42] #1489 closed

[2022-05-23 19:42] tclune opened #1522 "Missing RETURN macro"
I think a `_RETURN(_SUCCESS)` is missing at the end of this procedure:

https://github.com/GEOS-ESM/MAPL/blob/fba2cad6e475daf61ee0a14d95b990a5c3b44689/griddedio/GriddedIO.F90#L199-L202

[2022-05-23 19:48] tclune commented on #1522
Seeing other missing `_RETURN()` and `_VERIFY()` in the file ...

[2022-05-25 18:29] mathomp4 commented on #1453
@darianboggs This could be a good one

[2022-05-27 18:27] mathomp4 opened #1530 "Uninitialized logical in Cap possibly leads to crash with MAPL-in-UFS using GCC 11.3"
Our UFS colleagues have found what we think is a bug in MAPL (see https://github.com/GEOS-ESM/GOCART/issues/127#issuecomment-1139885184). It exists in 2.12.2 (which they are running) and even in current `main` MAPL.

To wit, in the cap object is a logical called `lperp` which is only initialized in this block:

https://github.com/GEOS-ESM/MAPL/blob/642108c7f1a6163b120e3a4bdc0d12a973ff99f4/gridcomp

[2022-05-31 12:35] #1530 closed

[2022-05-31 21:51] darianboggs commented on #1228
I'm picking this up.

[2022-06-02 15:08] tclune commented on #1228
So the use cases (ideally expressed as unit-tests, but ... file access in a unit test is "bad") are things like

- Check to see if a named file can be found in a set of directories   `file_exists(...)`
- Provide the full path of a file found by searching in a set of directories: `full_path = find_file(...)`

But the question remains whether we really need this or if putting everything in "scratch"

[2022-06-02 18:14] mathomp4 opened #1537 "Add support for diurnal mean history output"
Recently, @acollow emailed OTRS about an issue with archiving in experiments, etc. But, one thing she mentioned was that she wanted to produce "diurnal monthly means". I was a bit unsure what that meant, so she helped me out:

I'm guessing this is something @lltakacs (?) added to `time_ave.x` long ago. But now that MAPL can provide monthly collections directly via History, perhaps MAPL could do th

[2022-06-02 19:25] bena-nasa commented on #1537
@mathomp4 certainly doable, my only concern is that History is getting a bit spaghetti codish at this point, worried this will just make that worse. And things get complicated, now when we checkpoint the collection if we are in the middle of the month, if you want the diurnal every hour that is either 24 checkpoints per collection or a big checkpoint..., what is you stop on the 1st of the month, y

[2022-06-02 19:44] tclune commented on #1537
This is somewhat related to another recent request (forgot who) for a file that shows fields at "local noon".

[2022-06-02 19:46] sdrabenh commented on #1537
If there is consideration on enhancing MAPL's monthly logic, I would first request that all checkpoint files are written in netcdf instead of binary. I agree with @bena-nasa that the logic will get complicated by dropping checkpoints in the middle of a month for diurnal output. This might require the addition of some internal counters in the checkpoint files. If an option for diurnal output is pur

[2022-06-02 20:18] tclune commented on #1537
@lltakacs  Isn't the method you suggest much more expensive?     A proper diurnal mean would have 24 arrays (per field) written each month, whereas an hourly output (with post processing) would require 24*30 arrays (per field) to be written out?    Meanwhile that I/O is slowing down other people's I/O as well.

[2022-06-02 20:20] acollow commented on #1537
I agree that this might now be worth the effort given that the system can already generate diurnal monthly means. The issue that arose for me is that I asked for the hourly files to be written out in history however the the gcm post script wasn't smart enough to clear them out from holding after the diurnal monthly mean was generated. I have since added a line to my build that deletes everything o

[2022-06-03 16:19] atrayano opened #1539 "Bring the latest sorting code (by Max Suarez)"
Couple of years ago Max redesigned the sorting code to facilitate faster rasterization in particular to support the 10 arc seconds rasters. The code has been in CVS for quite some time, but it was never imported in to github. The caveat is the new code has different Fortran interfaces from the "old" MAPL_Sort.F90 and also internally switches to a different algorithm if the sorting size exceeds a t

[2022-06-03 16:31] mathomp4 commented on #1539
For now I'll assign @atrayano since, well, he knows where the code is! We can reassign if needed after we have the code.

[2022-06-03 17:51] bena-nasa commented on #1280
@tclune Tried out Rocky's suggestion. Seemed to work, I ran ExtDataDriver.x with time-averaged collection in Hisotry.rc which goes through the particular MAPL_FieldCreate that calls MAPL_FieldCopyAttribute. The long_name and units seem to have made it to the output file so this updated MAPL_FieldCopyAttribute must work. Made PR to MAPL3 branch

[2022-06-06 17:42] mathomp4 opened #1544 "Better missing file traceback from ExtData2G"
In my trying to test ExtData2G this afternoon, I forgot to update the Chem GC version. In doing so I got this:
[code]

Now, the error is explicit, but it's from Intel not MAPL. So we should trap this.

[2022-06-07 11:48] mathomp4 opened #1549 "Possible MAPL Bug with SCM Debug"
@sanAkel discovered what I think is a bug in MAPL when you run the SCM with debugging options on. Maybe it's GOCART, but I think it's more of an uncovered case in MAPL.

To wit, when you run the `arm_97jul` case, you get a traceback:
[code]

The call tree from SU2G is [this](https://github.com/GEOS-ESM/GOCART/blob/821ef40859d6155c8594668e6261c97c49a935bc/ESMF/GOCART2G_GridComp/SU2G_GridComp/SU2G_G

[2022-06-07 14:03] bena-nasa commented on #1549
I'll fix this. Maybe the refactoring we did to horzij broke this. This is going through the non cubed-sphere path which well we did not have a use case for other than this since don't' run lat-lon.

[2022-06-07 15:15] sanAkel commented on #1549
Thanks! @bena-nasa.

@mathomp4 suggested I test other test cases.

Would you *both* like me to try them? If so, if `debug` or `release`?

[2022-06-07 18:04] #1549 closed

[2022-06-10 16:16] mathomp4 commented on #1473
Definitely long term. Adding label.

[2022-06-10 16:16] mathomp4 commented on #1472
Definitely long term. Adding label.

[2022-06-13 12:10] tclune opened #1558 "Create new error handling macro for ESMF calls with 2 error codes"
Several ESMF procedures return 2 (optional) error codes.  One for ESMF internal and one for user code that is called within.  Usually the former is `rc` and the latter is `userRc`.     Currently MAPL uses a combination of two macros to check these cases, but it happens just often enough that a new macro that checks both would possibly be useful.   The counter argument would be if we were to start

[2022-06-13 13:51] #1474 closed

[2022-06-13 17:10] tclune opened #1562 "Update support for ISO 8601 time format"
The logic in the file:
  https://github.com/GEOS-ESM/MAPL/blob/main/gridcomps/ExtData2G/TimeStringConversion.F90
is a good start at implementing this standard, but several updates are needed/desired.

1. The file should be moved to `./base` as many layers will need to use this.
2. The names must be improved for clarity.
3. Possibly the procedures should be decomposed further.
4. Further checking o

[2022-06-13 18:02] weiyuan-jiang opened #1564 "bugs ?"
should be lat_center? @bena-nasa
https://github.com/GEOS-ESM/MAPL/blob/d46c2ed476db26b4d21ba52da5cb4256b1a6cf0e/base/MAPL_LatLonGridFactory.F90#L153

[2022-06-13 18:20] tclune commented on #1564
@weiyuan-jiang please do a hotfix.

[2022-06-13 19:43] bena-nasa opened #1565 "History needs to check if a file already exists when it decides it is time to write a new file"
The title says it all, I'll be making a PR here soon.

Each time History runs, it must make a determine if it is time to write a collection and if the file is a new file or if we are appending to the file like in the case when you have multiple time steps per file. We do not check that if the file is new, that it does not already exist. I'm going to put that protection in because I wasted many hou

[2022-06-14 19:13] mathomp4 opened #1567 "Bad ASSERTs in pfio_io_demo"
Testing with Ford exposed some bad _ASSERT calls in `pfio_io_demo`, a la:

https://github.com/GEOS-ESM/MAPL/blob/d46c2ed476db26b4d21ba52da5cb4256b1a6cf0e/pfio/pfio_io_demo.F90#L52

In our code `_ASSERT` requires two arguments. Now, apparently we don't compile this code because it should have broke instantly.

I suppose the question for @weiyuan-jiang (or @tclune) is "Do we use this code anymore?"

[2022-06-15 02:09] weiyuan-jiang commented on #1567
That file is obsolete. I will remove it

[2022-06-15 12:09] mathomp4 commented on #1567
Always good to remove dead code! Probably explains why it doesn't affect the build. FORD is pretty dumb and just looks for every Fortran file.

[2022-06-17 17:38] weiyuan-jiang opened #1575 "crash when fill_vaue is not a number"
https://github.com/GEOS-ESM/MAPL/blob/9fd588af418c96ff82c52c134de45cbd2ddd4c83/griddedio/GriddedIO.F90#L1092

If the fill_value is NaN or NaNf,  it crashes. We may test the typekind here

[2022-06-22 14:18] bena-nasa opened #1577 "FileMetadataUtiliies.F90 refactoring"
Two things:

1. I noticed when looking at FileMetadata it has time handling logic to parse strings that represent time. That should be replaced by the time package @darianboggs is refactoring when this is complete.
2. The point of this class was to extend the basic filemetdata class with a bunch of useful and needed extensions when processing real files. I noticed that in the new type, I'm storing

[2022-06-22 14:23] tclune commented on #1577
I think I concur.  Seems like this is a niceway to sidestep the ESMF inability to handle NaN valued attributes.

[2022-06-22 14:27] bena-nasa commented on #1577
@tclune, this isn't directly related to the nan, issue, just a few things I noticed when looking at the code to help weiyuan fix the nan issue. Mostly opened this as a reminder to myself to do this refactoring once Darien gives us a nice iso time package.

[2022-06-24 12:14] mathomp4 commented on #1374
Marking long-term as this still might be an issue.

[2022-06-24 15:07] #1565 closed

[2022-07-05 11:57] mathomp4 commented on #1291
Time to ping @bena-nasa again.

[2022-07-11 13:21] #1537 closed

[2022-07-11 13:35] mathomp4 commented on #1376
MAPL2 → Make `CFIOasync` do `CFIO`
MAPL3 → Add `nc4` and `geosbinary` and change default of History to be `nc4`
MAPL4 → No more `CFIO` and `flat`

[2022-07-13 14:40] mathomp4 opened #1598 "AddChildFromDSO should call AddChildFromDSOMeta"
In looking at figuring out how to get the tutorials to work in MAPL3, @tclune pointed out that `MAPL_AddChildFromDSO` should now call `MAPL_AddChildFromDSOMeta`. This echoes how all that `MAPL_AddChildFromGC` does is call `MAPL_AddChildFromMeta`:

https://github.com/GEOS-ESM/MAPL/blob/abc356949ed9eaa8436b835a77dd43768f9de457/generic/MAPL_Generic.F90#L4764-L4786

If nothing else, this removes a lot

[2022-07-19 17:52] lizziel opened #1606 "Error handling for monthly mean History collection when run duration <1 month"
I am encountering the following ESMF log error after modifying my HISTORY.rc file in GCHP 14.0 (uses MAPL 2.18.3) and reducing run duration to 1hr.

[code]

I traced the issue to a new time-averaged collection that had monthly mean enabled. All other collections had monthly mean disabled.

[code]

When I disable monthly mean in the new collection the issue goes away (no ESMF error log files are ge

[2022-07-20 11:38] mathomp4 commented on #1606
@lizziel I believe this is a bug (#1495) that we fixed with #1496 which is in MAPL 2.21 (put in 2.21.0 specifically).

I suppose the question for you is: can you update to MAPL 2.21? Or do you need to stay with the 2.18 releases? If so, we'd need to backport that patch for you into a 2.18.4, I guess.

(And I guess I'd want to consult with @atrayano if there are any other monthly collection fixes w

[2022-07-20 19:37] lizziel commented on #1606
Ah, good to know! Clearly I have not been reading all the release notes. This isn't a big problem for us so I'll wait for the next MAPL upgrade which I'll probably do in the fall.

[2022-07-20 19:37] #1606 closed

[2022-07-21 17:44] mathomp4 opened #1607 "Emit good failure message with duplicates in HISTORY.rc"
This is something @sdrabenh encountered recently and I thought it would make a good update for MAPL. Namely, if you have two of the same field being output in the same collection, like:
[code]
then the model crashes in a not-very-intuitive way:
[code]

Put in enough prints and you'll figure it out.

However, we should be able to figure out you have duplicates before you crash and emit a nice `_FAI

[2022-07-25 18:06] bena-nasa commented on #470
I think the rewrite of the ESMF alarms done by ESMF will fix this in the long run.

[2022-07-27 17:23] sanAkel commented on #762
@dbarahon I just re-opened this issue for your attention. Thanks!

[2022-07-27 17:29] dbarahon commented on #762
Thought it was resolved. So what is this still the issue? [2-Moment Moist is non-zero-diff with MAPL develop](https://github.com/GEOS-ESM/MAPL/issues/762#)
#762

[2022-07-27 17:34] sanAkel commented on #762
@dbarahon please see ⬆️ . Essentially the `2-moment` option is used only within the scope of coupled model and that's how we keep tripping on _this_ and other issue(s) that I pointed you two. But this issue clearly tells us that the problem with `2-moment` option is not-regressing even in un-coupled (AMIP) mode.

https://github.com/GEOS-ESM/MAPL/issues/762

*No* this was closed beyond the problem

[2022-07-28 12:58] mathomp4 opened #1612 "Error with MAPL `develop` and NAG 7.1_7113"
I recently grabbed NAG 7.1_7113 and decided to build MAPL with it. When I did so I got the following error:
[code]

So, we have:
[code]
and:
[code]

So, okay, I do what NAG says and add the target:
[code]
and:
[code]
Ah, okay, should be an array. Well, lets make the interface nigh-identical:
[code]
and:
[code]

because of:
[code]
and `buffer` is 1-D:
[code]
I get the same error if I do:
[code]

I

[2022-07-28 16:33] mathomp4 opened #1613 "unaligned pointer error with macOS, Intel 2022.1, and Release"
Today I tried to build GEOSgcm on Parcel (macOS, x86_64) and it failed linking `libMAPL.shared.dylib`. So I grabbed MAPL alone and tested and you get:
[code]

Debug does *NOT* show this.

As far as my testing goes, this seems to be due to my having:
[code]
in my environment. That said, it didn't *use* to matter. So I'm not sure what changed.

I have tried rebuilding MPI and Baselibs from scratch a

[2022-08-01 18:42] mathomp4 opened #1614 "Bundleio test on MAPL3 is failing...and we don't capture the failure."
This is possibly a 2-part issue. One part is a bug in the code, the other is...another bug in the code.

To wit, I was testing MAPL3 on M1 and noticed that the bundleio test failed. Odd since @bena-nasa fixed it in #1559 (for all but Open MPI which is an Open MPI bug it seems).

So, I went to discover and tried out with Intel and MAPL3 and we get:

[code]

and yet:

[code]

So they "passed" only b

[2022-08-02 15:15] mathomp4 opened #1618 "Add support for zstandard compression"
I am hoping to build netCDF-C 4.9.0 and netCDF-Fortran 4.6.0 in Baselibs soon. In doing so, we have the capability to maybe try out zstd compression (see https://github.com/Unidata/netcdf-c/issues/2173)

As such, I'll probably need to ask @bena-nasa to help me figure out how to get a new flag added to History so that I can test it out.

[2022-08-02 19:46] mathomp4 commented on #1539
Setting as long-term as we will need to do something with this.

[2022-08-05 16:24] bena-nasa opened #1620 "PFIO server needs to be smarter and remember who created a file"
@tclune here's about what PFIO should probably do with clobbering and History

Recently a change was added in v2.22.0 of History with the following behaviour.
History has logic each time it runs that decides if I am writing, will it be to a new file or an existing file (say you have multiple times per file).
However, it did not check if it decides it is time for a new file, does it exist already f

[2022-08-05 16:34] tclune commented on #1620
Looking at it now.   PFIO (NetCDF4_FileFormatter) has the necessary interface, as `mode` is one of the arguments to `open()`.   The client code would then just include `NO_CLOBBER` as one of the options.

So some steps:

1. Create a new pFIO enum for NO_CLOBBER alongside pFIO_READ and pFIO_WRITE.
2. Fix current logic that converts `mode` (pfio) to `mode` (netcdf).  This needs to involve some IOR t

[2022-08-05 16:35] tclune commented on #1620
I don't think PFIO should track whether or not it created a file.   Client code needs to tell PFIO what to do including setting non-default NO CLOBBER if desired.

[2022-08-05 17:12] bena-nasa commented on #1620
@weiyuan-jiang  @tclune Then solution is we need to modify the client - server api so that the client can tell the server as needed that when it is time to write, DO NOT check if the file exists and open (by open I mean use NF90_Open)/use the existing file. Simply call the NETCDF4_FileFormatters create method which of course it just a hook to NF90_Create and has the appropriate optional mode, pres

[2022-08-05 17:24] bena-nasa commented on #1620
@tclune @tclune
On the other hand, what's wrong with the PFIO server tracking if it created the file as long as the client code can override? I mean you are saying write to this file, certainly we are relying on the server to create the file in the first place. It seems perfectly logical that if the server gets a request to write to a file it did not create, at the very least the default behaviour

[2022-08-05 17:36] tclune commented on #1620
I'm not opposed to the _server_ remembering.   I just don't want the NetCDF layer remembering.

[2022-08-05 17:39] bena-nasa commented on #1620
Neither do I, I was never saying it should... this is a issue with the server logic, always has been.

[2022-08-05 17:49] bena-nasa opened #1621 "Make History check for file existence optional"
The change that came it at v2.22.0 to check if a file already exists when History decides it is time for a new file (and thus indicating improper cleanup in the driving scripting) needs to be made optional for NOAA as they apparently rerun but do no clean the temporary work space they are running in. This will be a trivial change.

[2022-08-05 17:57] tclune commented on #1621
Just for the record - usual runs by NOAA do not have any problem.  The situation happens when some other problem occurs and they must _restart_ a segment.  Apparently they do not get a clean directory under such scenarios.

[2022-08-05 18:26] bena-nasa commented on #1620
@tclune I think I see how  to track and take action and do things correctly on the PFIO Server side (if the server didn't create it clobber), modifying the API so the client can control this behaviour is more work, I bet @weiyuan-jiang can do that.

[2022-08-05 18:53] weiyuan-jiang commented on #1620
I agree it should let the client control the behavior.

[2022-08-05 20:10] bena-nasa commented on #1620
@weiyuan-jiang @tclune
I started this branch, and it is just a start:
https://github.com/GEOS-ESM/MAPL/tree/feature/bmauer/fixes-%231620
I've modified HistoryCollection.F90 in PFIO so that it tracks if it creates the file and clobbers in an NF90_Create sense if the file already exists and it was not created by the PFIO Server.
The hard part is getting the option from history to modify the server b

[2022-08-06 14:40] weiyuan-jiang commented on #1620
I think it really does not matter if the file is created by pFio or not.  There are 3 choices if the file exists. 1) overwrite  2) exit 3) append ( need to match the meta data, at least the dimension)

[2022-08-08 13:19] #1614 closed

[2022-08-08 13:22] bena-nasa commented on #1620
@weiyuan-jiang yes it absolutely does matter. What is pfio did not create the file and the user has put some other file in there with the same name. Or worse put a file in there that has everything in it except one variable! So yes it does matter. If PFIO did not create it, it should either clobber by doing an nf90_create with the mode = clobber or throw an error. **It should not use an nf90_open