[2020-10-29 16:58] lizziel opened #589 "Fortran runtime error with GNU compiler debug flags using MAPL 2.2.7 in GCHP"
When I build and run MAPL 2.2.7 in [GCHP](https://github.com/geoschem/gchpctm) with gfortran 8.3 and build type `Debug` I see the following error:

[code]

That line number is simply where the implementation for subroutine `MAPL_GenericWrapper` is located. I can resolve it by adding in `no-recursion` to the GNU compiler default `-fcheck` flags set [this line of ESMA_cmake](https://github.com/GEOS-

[2020-10-29 17:09] mathomp4 commented on #589
I don't think I've ever seen that error with GEOS, no. Hmm.

[2020-10-29 17:17] mathomp4 commented on #589
Even more oddly, I'm not sure why it thinks that's recursive? We define the `MAPL_GenericWrapper` procedure and then use it in one place:
https://github.com/GEOS-ESM/MAPL/blob/29286d8a78b0bdea447465ede7bb4217782538c2/base/MAPL_Generic.F90#L3659-L3661

[2020-10-29 17:29] lizziel commented on #589
Here's the full traceback which I have not gone through yet.

[code]

[2020-11-05 22:02] LiamBindle commented on #579
I'm going to close this issue. We aren't able to reproduce the issue, and there's a easy work around we recommended to the user. I'll reopen if we get any more reports of this.

Thanks for everyone's time in looking into this!

[2020-11-05 22:02] #579 closed

[2020-11-10 23:10] bena-nasa opened #600 "Subtle difference in MAPL_TerminateImportAllBut and MAPL_TerminateImportAll that causes different behaivor"
When testing using ExtData to deliver fields to components on the ocean side of the model, I discovered a strange bug. Normally at the OGCM level we terminate all imports. Now if we want something to go to ExtData, I had to use a different interface for MAPL_TerminateImport which underneath is the MAPL_TerminateImportAllBut overload. This was added by myself, several years ago just for this purpos

[2020-11-11 20:13] wmputman opened #602 "timestampEnd"
I'm getting an error when I try to use (timestampEnd) in my HISTORY.rc for a time-averaged file:
FAIL at line=01091    MAPL_HistoryGridComp.F90

Does this still work?

[2020-11-12 13:29] atrayano commented on #602
@wmputman could you point me to your HISTORY.rc, and your MAPL version. I am suspecting History expects a logical, and we are supplying integer

[2020-11-12 13:44] atrayano commented on #602
@tclune I already asked Bill for his HISTORY.rc. The code MAPL should be able to handle timestampEnd, and my theory is that since the variable is logical, this simply could be integer vs logical in the resource file issue

[2020-11-12 14:17] lizziel commented on #602
I am interested to see what the HISTORY.rc looks like for this feature and how it is used. This is a MAPL history feature I don't think anyone in the GEOS-Chem community is aware of.

[2020-11-12 15:47] #600 closed

[2020-11-12 19:59] mathomp4 commented on #602
Commenting here. For some reason, if you did:
[code]
it fails. But if you 'quote' the true, it works:
[code]

I've stared at the code and cannot figure out why it needs to be a string.

[2020-11-13 23:42] lizziel commented on #602
I would like to test this in GCHP as well. What is the expected behavior?

[2020-11-16 13:17] mathomp4 commented on #602
@lizziel I think all it does is change the timestamp on the file that MAPL writes out. Using `geosgcm_tracer` (which is a 3-hourly time-averaged collection) as an example, without the flag you get:
[code]
So the time stamp is midway between the collection period. With the flag:
[code]
the stamp is at the end of the period.

(Though now that I look at it, the tracer collection is...not quite set up

[2020-11-30 17:32] LiamBindle commented on #548
Last week I tried C360 with Intel MPI on Compute1 (WashU cluster) and the checkpoint file was being written extremely slowly. I saw @mathomp4's comment about about `I_MPI_ADJUST_GATHERV=3`, and I just thought I'd mention that this fixed my problem. Thanks @mathomp4!

[2020-11-30 21:04] mathomp4 commented on #548
@LiamBindle The other one to watch out for is `I_MPI_ADJUST_ALLREDUCE`. For some reason (on discover) we had to set that to 12. I think it was a weird allreduce crash inside of ESMF that @bena-nasa and I took a while to track down. Since then, we've always run GEOS with both the GATHERV and ALLREDUCE settings with Intel MPI.

[2020-12-01 17:30] LiamBindle commented on #548
Thanks @mathomp4&mdash;I will give that one a try as well.

[2020-12-07 13:58] tclune opened #626 "Provide informative message for bad chunking values"
If the requested chunking in netcdf is inconsistent with the grid dimensions, an informative error message should be provided.   This might already be the case, but recent work suggests that the failure is subtle.

[2020-12-07 14:05] bena-nasa commented on #626
This is a more pervasive problem that just chunking. In general errors on the server side are not being trapped because of inconsistent use of return codes and the concurrent nature. For example, when you do pass a bad chunking the call does throw the error as Bill is seeing but does not stop the code. I did look at this tried to chase it up the chain. At some point the OO becomes difficult to tra

[2020-12-07 14:08] bena-nasa commented on #626
Here is what I started trying to trap an error on the variable create. I got to the point where I could get the code hang but not cleanly crash when running a concurrent server.
https://github.com/GEOS-ESM/MAPL/tree/feature/bmauer/pfioserver_errorhandling

[2020-12-07 14:15] mathomp4 opened #627 "Bad Chunking doesn't halt GEOS: Intended?"
This is an odd one. I decided to try and see if I can chunk with GEOS (in re Bill's runs) and notice something odd. When I got it wrong, say, trying to chunk a c24 cube output with:
[code]
the model didn't crash, just failed in HISTORY:
[code]
and then kept on going. I was also outputting a latlon collection as well and since its chunksize was good, it wrote those. It did make cube files but they

[2020-12-07 14:23] mathomp4 commented on #627
Duplicate of #626. Closing

[2020-12-07 14:23] #627 closed

[2020-12-07 14:28] weiyuan-jiang commented on #626
@mathomp4 , I don't think that is intended. When we developed the pFIO, we didn't have a 'standard' way for the  return codes.  I added that latter on and obviously missed a lot of places

[2020-12-07 14:39] tclune commented on #626
Perhaps the 1st step is just to do a code review (min 2 people) where the focus is entirely on error handling.   E.g.,  look at each procedure interface and ensure that it has an RC dummy argument (unless it can be proven to not need one).  And ensure that each procedure uses the `_RETURN` macro (again unless it does not need one).

That should also prime the participants for thinking about how to

[2020-12-07 15:05] bena-nasa opened #628 "--npes_output_server argument being ignored"
I'm trying to run a split model/oserver case on one node due to the difficulty in getting nodes currently on Discover, MAPL develop branch as of today (12/7) I have the model set to use 12 cores (NX: 2 NY: 6) and am running GEOS like this:

mpirun -np 18 GEOSgcm.x --npes_model 12 --npes_output_server 6 --logging_config 'logging.yaml'

It appears to be ignoring both npes arguments are just running

[2020-12-07 15:19] bena-nasa commented on #628
Something seems to be broken in develop. I tried running on 2 nodes, asked explicitly for 24 cores per node, model on 24 cores, server on a node (24 cores) and it still just tries to run the model on 48 cores.

[2020-12-07 15:43] weiyuan-jiang commented on #628
I believed I have run that small jobs before and it seemed OK. I will try again.

[2020-12-07 15:56] bena-nasa commented on #628
Matt tried 2.4 and says it works. 2.4 does not have the cap in gridcomps which is now in develop. I'm wondering if that somehow broke flap. From the prints I put in, it seems like any command line options are just being ignored.

[2020-12-07 16:06] bena-nasa commented on #628
nevermind, apparently you have to explicitly toggle something in the gcm_run.j script, just setting the server nodes to something in the AGCM.rc is not enough. False alarm.

[2020-12-07 16:57] bena-nasa commented on #628
I was too hasty. 24-24 works (24 cores for the model, 24 cores for the server on a separate node). However,
[code]
seems to cause a hang with develop

[2020-12-07 17:04] weiyuan-jiang commented on #628
For above to work, we need to pass in "isolate_nodes=.false." which is not in the flap.  I will fix it

[2020-12-07 17:13] tclune commented on #628
There is some special logic for when all the cores fit on one node, which your case maybe does?   I did that to allow using an external server or my laptop - so that I could test locally.   It's probably not been exercised in a couple of years now and that logic could now be broken with the new command line options.

[2020-12-07 17:13] tclune commented on #628
Ah - I had not read @weiyuan-jiang 's message.    Yes -that seems related.

[2020-12-07 19:12] bena-nasa commented on #626
Looks like I was close in the branch, almost to the top of the server. I just pushed my branch to demonstrate that an MPI_Abort in the MPIServer is able to trap and kill on error in the file creation for reference. Of course we have the simple server, the new mutli-layered servers, other error possibilities.

[2020-12-07 19:46] bena-nasa commented on #626
Pushed again, got it to crash when running the shared (Simple) server on the file create.  Lots of places in ClientThread.F90 need return status checks added.

[2020-12-08 13:40] weiyuan-jiang commented on #628
@bena-nasa can you try the branch https://github.com/GEOS-ESM/MAPL/compare/feature/wjiang/pass_in_isolated_node ?
add " --isolate_nodes .false. " in the command line should work.  I don't know why gcm broke for me.  I believe it is not related to this branch because it passes the init stage

[2020-12-10 20:32] LiamBindle opened #634 "Could HISTORY output include stretching parameters?"
During the MAPL telecon today, the question of stretched-grid parameters in HISTORY output came up. Is it possible to include the stretched-grid parameters as metadata in HISTORY output?

[2020-12-10 20:37] LiamBindle opened #635 "Can checkpoint files have 6,N,N grid shape (rather than 6N,N)?"
During the MAPL telecon today, we talked about the shape of the checkpoint files. Is it possible for the checkpoint file to have shape (6,N,N) rather than (6N,N)?

[2020-12-10 21:24] LiamBindle opened #636 "Can checkpoint files include stretched-grid metadata?"
Is it possible for checkpoint files to include grid-stretching metadata? That way, if the checkpoint file's stretched-grid parameters were different from the native grid's parameters the error could be caught.

[2020-12-11 12:42] tclune opened #637 "Regridder to conserve horizontal mass fluxes"
@sdeastham has requested a MAPL regridding option to provide exact regridding for horizontal mass fluxes  to a coarse grid from a fine grid that nests "exactly".   E.g.  C90 and C360.   The basic ideas is that conservation is then a simple process of summing the fluxes from the finer grid.   Generalization would be nice, but is not essential.

[2020-12-11 13:09] tclune commented on #637
NOTE:   I encountered a surprise that will require more thought on our end when I started sketching out the process.   You are welcome to read below, as it is at least indicative of what needs to be done.       If I knew for certain how to ensure that ESMF conservative regridding would include the cells with the correct edges then this could just be a matter of setting up some custom weights  in a

[2020-12-11 14:28] sdeastham commented on #637
Thanks Tom! I want to make sure I understand correctly before I act. Am I right in thinking that this could currently be implemented using the "old" techniques without necessarily causing a problem, but that it will be non-trivial to develop an "ESMF-based" method? Or is there a way already in which the ESMF regridding will interfere?

[2020-12-11 14:45] tclune commented on #637
It could have been implement in the older mechanism in a straightforward manner, but ... the older mechanism is not used in ExtData so it won't help us now.      Doing this as a custom ESMF regridder might be possible, but I currently don't know how to force ESMF to choose the right cells.     Setting the weights is otherwise straightforward, and we'd be able to loosen the constraint that both gri

[2020-12-11 22:02] bena-nasa commented on #628
closing this. I think the PR from the referenced branch fixed this.

[2020-12-11 22:02] #628 closed

[2020-12-14 14:08] tclune commented on #637
Hmm. Had not realized that the line of dashes was making my "note" above bold and large font.  Had not meant to "scream".  Sorry about that.

Gave this a bit more thought and came back to the same conclusion.  Here are the implementation steps (and rough guidance on GMAO vs GCHP regarding who should implement):

1. (GMAO) Introduce new base class for regridding methods.       Possibly this can be

[2020-12-14 14:28] tclune commented on #637
Just a note to myself:  confirming that one cannot "extend" ESMF types:
[code]

[2020-12-14 14:42] bena-nasa commented on #635
Possible, but not trivial to implement. This really should be done as part of a broader refactoring effort to try to unify common functionality in the IO systems used by MAPL where possible.

[2020-12-14 14:48] bena-nasa commented on #634
@LiamBindle
Added by https://github.com/GEOS-ESM/MAPL/pull/638
Not sure why this didn't autoclose

[2020-12-14 14:48] #634 closed

[2020-12-14 15:48] mathomp4 commented on #634
Github only autocloses issues when they get to the "default" branch. So it would close next time we merge to `main`.

[2020-12-14 23:01] sdeastham opened #639 "[FEATURE REQUEST] Automatic regridding of restart"
The GEOS-Chem community would benefit greatly from being able to use a single restart (e.g. C24) for simulations even when at different resolutions (e.g. C48, C180). Although the overhead of regridding the restart is relatively minor, it introduces a failure mode for our community. We currently regrid a single, spun up, C48 restart to all of the "likely" simulation resolutions for each major updat

[2020-12-14 23:16] sdeastham opened #640 "[FEATURE REQUEST] Allow clobbering of existing NetCDF files"
Currently MAPL fails if an attempt is made to create a new NetCDF file when one already exists in that location. However, this is problematic, as it can result in frustrating loss of productivity. For example, we (the GCHP developers) frequently perform a series of tests in the same working directory; adding lines to the run script which clear out the working directory and storage directories woul

[2020-12-15 13:03] tclune commented on #639
As an intermediate step, are the error conditions for using incorrect resolution in the restart at least reasonably informative?     This seems that it would at least improve the situation for those that do "not realize they are suing restarts from the wrong version".

[2020-12-15 14:25] bena-nasa commented on #639
- While it would be possible to add this ability to the IO layer (MAPL_IO) we are really getting to the point that if we want to start adding new capabilities like this, it really needs a refactoring before embarking on adding new functionality to MAPL_IO. It as become too unwieldy. (This echos what I said for this request: https://github.com/GEOS-ESM/MAPL/issues/635)

- What about an intermediate

[2020-12-15 15:04] bena-nasa opened #641 "Time for MAPL_IO refactoring?"
Multiple feature requests have been made for the restart IO layer in MAPL.
https://github.com/GEOS-ESM/MAPL/issues/639
https://github.com/GEOS-ESM/MAPL/issues/635

Putting this out here for comment about the general state of MAPL restart IO. Those requests referenced above made me think it is time we at least have a discussion about refactoring of MAPL_IO.

MAPL_IO has reached a state that it is i

[2020-12-15 23:25] sdeastham commented on #639
Thanks for the swift response @tclune and @bena-nasa !
* Regarding error conditions on using incorrect resolution restarts - I just tried this out, feeding a c48 restart file to a c24 simulation. It appears to have resulted in no errors - the variables were loaded perfectly happily, which is rather alarming. It only failed because I ran out of memory on the test node, later during the simulation.

[2020-12-15 23:28] sdeastham commented on #637
That breakdown of responsibilities for implementation makes sense to me. Assuming I understand correctly, I'll wait on completion of (2) (or at least (1)) before embarking on (3) or (5).

[2020-12-16 13:05] tclune commented on #639
That first item should definitely be addressed asap.    Hopefully just a missing `_VERIFY()` or `_RETURN()` somewhere.

[2020-12-16 13:19] tclune commented on #637
I suspect I'll do most of everything in the end anyway - just to have something to exercise the new machinery.    But I'll leave it to you to test with real use cases.

Below is mostly catharsis for myself, but others may find the reasoning useful:

I did a fair bit on this on Monday, and decided I was making a mess by cleaning  and extending at the same time.   Started over Tuesday and did a quic

[2020-12-16 14:59] mathomp4 opened #642 "Two variables in native cube output are broken"
This was discovered by @aoloso when testing the compress-and-compare of @wmputman 's DYAMOND2 data. Namely, two variables in the CS native output are garbage. They are defined as variables but never set it looks like, so you get...uninitialized junk in them. Luckily they seem to be variables nothing cares about, but we should fix it.

The big broken variable is `orientation` and the other one I su

[2020-12-16 15:03] mathomp4 commented on #642
Note: This might be an opportunity as well for @bena-nasa and myself. Perhaps we should come up with a special `HISTORY.rc.tmpl` we could have my nightly tests run. The reason this was never caught is that my nightly tests use the "standard" @sdrabenh / @lltakacs `HISTORY.AGCM.rc.tmpl` for most tests. They don't have cube-output so I don't have cube output.

But if @bena-nasa could dream up a craz

[2020-12-16 15:36] mathomp4 commented on #639
Interesting. It looks like we are "spared" this in GEOS because of the saltwater checker. If I comment that out, indeed, we *can* run a little while with C48 restarts until the model falls apart. I'll make an issue.

[2020-12-16 15:41] mathomp4 opened #643 "GEOS runs with wrong restarts!"
This is something mentioned by @sdeastham in #639. Namely, GEOS doesn't die as fast as I'd expect if you have the wrong restarts. To wit, I made a C24 experiment, but used C48 restarts to run with. Now, GEOS at first will die because of the salt tile checker:
[code]
But let's say we don't have that check. If we comment that out, the model will run a fair bit. Indeed, I think it only dies in the **

[2020-12-16 15:51] mathomp4 commented on #643
Even more exciting, if I hack `linkbcs` to point to the c48 `vegdyn.data`, the model runs to completion for at least a day! The output is utter garbage, because it's only a 1/4 of the world or something, but it works!

Correct Restarts T:
![T_in_right_restart](https://user-images.githubusercontent.com/2982494/102371764-89838000-3f8c-11eb-9cbf-b3bb852b1b99.png)

Wrong Restarts T:
![T_in_wrong_resta

[2020-12-16 16:46] sdeastham commented on #639
Thanks for the follow-up @mathomp4 ! That example you showed was.. wow. I wonder what happens if you run (say) C48 with a C24 restart? In any case, I'd be very much in favor of a runtime, in-code verification rather than a script-based guard if at all possible!

[2020-12-16 16:53] mathomp4 commented on #639
@sdeastham We seem to be better there. As @bena-nasa was telling me, we are using pure netCDF to do some of this. It turns out netCDF is not happy when you ask for c48 amount of data and only c24 worth exists on the files:
[code]
But in the other case, I guess we just read the first c24 worth of data from a c48 restart and it satisfies netCDF because the buffer was filed. I'm more amazed our model

[2020-12-16 17:03] mathomp4 commented on #643
Note: Those pictures are of course T at the lowest level (which is why there are undefs)

[2020-12-18 15:45] bena-nasa commented on #640
I'm fine with changing the default behavior if that is better for you workflow. The fact that GEOS never fails because a file is in the way means our scripting is moving everything out of the way so I can't see a harm in changing the default. As you say, because of how History works there is inconsistency in the behavior anyway due to the fact that if a file exists in the pfio server side, it "ope

[2020-12-18 17:04] mathomp4 opened #644 "ExtData Crashes with Intel 2021.1"
I recently installed Intel 2021.1 on my mac and found that GEOS dies in ExtData:
[code]
I did some screen sharing with @bena-nasa and we figured out that it could be triggered by his `ExtDataDriver.x` as well. The issue seems to be that once it's seen a file template 3 times, it dies when it tries to erase the metadata:
https://github.com/GEOS-ESM/MAPL/blob/8e933d8adf111af0d4215ecf09c7e0dbe1388ff9

[2020-12-18 17:08] tclune commented on #644
Unfortunately, these types of things usually turn out to be compiler bugs.  Vector is otherwise fairly well tested.   But if you can boil it down to a simple driver that exercises vector, I should be able to craft a unit test for gFTL and then submit a reproducer to Intel.   (Or fix the implementation if it actually does expose a bug.)

Does it also fail with an optimized build?   If it only durin

[2020-12-18 17:44] tclune commented on #637
OK - the basic infrastructure is now in place on branch `feature/tclune/#637-horz-conserve-regridder`

There is a stub implementation of HorzFluxRegridder.F90 in MAPL/base.    I suspect I need to do the rest of the implementation, but it really should be very much like I sketched out at the beginning of this issue.

[2020-12-18 17:48] bena-nasa commented on #644
I'll try to rig up something simpler to replicate this next week.

[2020-12-18 20:48] tclune commented on #637
The intermediate progress is now merged into the develop branch, so no need to look at the feature branch.

[2020-12-23 14:08] bena-nasa commented on #644
I made a simple reproducer that replicates the behavior that seems to cause the problem. Namely declaring a vector a simple derived type (the derived type contains just gFTL string vector, where as in the ExtData case this is a pfio metadata object) , then growing the vector up to a fixed size, and then erasing an entry and adding a new one when you hit this size. @mathomp4 reported it actually fa

[2020-12-23 18:06] mathomp4 opened #650 "MAPL develop compiler error with NAG 7.0_7036"
I recently installed NAG 7.0_7036 and built a new NAG Baselibs and decided to try it out on MAPL `develop`. In doing so, the build failed with:
[code]
This is a @tclune and @weiyuan-jiang level of error though. I have thoughts, but I'd probably break pFIO. 😄

[2020-12-23 19:46] mathomp4 opened #651 "pFIO_tests_mpi_2comm crash with GCC 10.2 and Open MPI 4.1.0"
Reporting that I have a crash with the mpi_2comm pFIO test in MAPL using GCC 10.2 and Open MPI 4.1.0. I tried this on Discover with GCC 10.1.0 and Open MPI 4.0.4, but it passed. I'll work on trying to get Open MPI 4.1.0 built on discover so this can be tried there.

[code]

[2020-12-23 20:08] mathomp4 commented on #651
Hmm. I just tested locally on my laptop with Intel 19.1.3 and Open MPI 4.1.0 and it passed. So...huh

[2020-12-23 22:05] bena-nasa opened #652 "Multigroup server broken when writing more than one collection."
I made an initial attempt at benchmarking a GEOS run with the multigroup server in pfio.
I ran a c180 job on 14 skylake nodes. I ran the model on 8x48 (384) processors and devoted the other 4 nodes to the oserver.

The configuration and run command for GEOSgcm.x was as follows:
[code]

Here are my observations. I tried running this with the standard History.rc used by the AGCM, only writing surf a

[2020-12-24 14:28] weiyuan-jiang commented on #652
I have examples that wrote many collections and they run fine. But I will check it again

[2020-12-24 15:59] tclune opened #653 "Build with NAG is broken"
Several (minor) illegal/non-portable Fortran issues have been introduced since the last attempt to build with NAG.

There ability to skip FLAP dependencies is also broken.

[2020-12-24 17:15] weiyuan-jiang commented on #650
PR #654 should fix this issue

[2021-01-04 16:33] bena-nasa commented on #652
Unfortunately, this seems to be something related to the model size/number of cores etc ...
I've tried a smaller case. Running c24 on 8 nodes, with 24 cores-per-node to make the math easy. I give 96 cores to the model, the other 96 to the o-server, and give the back 48. That runs fine. I'm able to run a day with the standard History.rc

[2021-01-04 17:12] bena-nasa commented on #652
This is seeming to be a skylake thing. I got 22 haswell nodes, 24 cores per node. I use 16 nodes for the model, 6 for the server, with 2 for the backend. That runs fine, I can output multiple collections.
Now I do the same thing but request 22 skylake nodes, 24 cores per node but the run parameters the same. That fails with the original error in the first post in this chain.
 @weiyuan-jiang was al

[2021-01-04 18:36] bena-nasa commented on #652
More datapoints, seems to be a multi node issue + skylake issue
The latest experiment. I requested 4 skylake nodes with 12 cores per node, run the model on 24.
If I mpirun with 36 cores, have 1 node for o-server and 6 cores for the backend it works.
If I mpirun wtih 48 cores, have 2 nodes for the o-server and 12 cores for the backend it fails, still the same win fence error.

[2021-01-04 19:02] bena-nasa commented on #652
Not unexpectedly based on the error being seen, it appears to be failing on the MPI fence call here:
https://github.com/GEOS-ESM/MAPL/blob/develop/pfio/MultiGroupServer.F90#L562

[2021-01-04 19:56] bena-nasa commented on #652
Summarizing what I see.
1.) if I set --oserver_type multigroup
2.) if running on skylakes
3.) if running the oserver on multiple nodes --nodes_output_server n, where n > 1
4.) if History attempts to write 2 or more collections during an iteration

The code appears to fail in the 2nd mpi_win_fence call here:
https://github.com/GEOS-ESM/MAPL/blob/develop/pfio/MultiGroupServer.F90#L562
It was not cle

[2021-01-04 20:12] weiyuan-jiang commented on #652
mpi_win_fence should be fine as long as all the processes participate the call. I am not sure if skylate has special env for this call. I will test it on skylate.

[2021-01-05 17:43] weiyuan-jiang commented on #652
I can confirm that if the front and the back split into different nodes, it hangs. Need more investigation

[2021-01-05 18:59] weiyuan-jiang commented on #652
UPDATE:   I have tested c24, and it is still working even under @bena-nasa 's constraint.  It becomes very very  slow. I believe it is due to MPI_put.  more investigation.....

[2021-01-05 19:50] bena-nasa commented on #643
Fixed by https://github.com/GEOS-ESM/MAPL/pull/655

[2021-01-05 19:50] #643 closed

[2021-01-05 20:32] weiyuan-jiang commented on #652
I am wondering to ask NCCS to add accelerated RDMA option.  https://edc.intel.com/content/www/us/en/design/products-and-solutions/networking-and-io/fabric-products/omni-path/rn-intel-omni-path-software-release-notes-for-v10-10-3-1/accelerated-rdma-information/

In the file, it said the memory may explode.

cat /etc/modprobe.d/00-hfi1.conf
##
## Managed by Puppet
##

#
# Omni-Path hfi1 module param

[2021-01-06 15:15] bena-nasa commented on #652
I ran again, different build I'm still see a crash. Are you sure you are tested the same configuration?
I requested 4 skylake nodes with 12 cores per node.
I'm running a c24 with NX=2, NY=12 and launch GEOS like so:
[code]
and my History.rc
[code]

[2021-01-07 14:42] mathomp4 commented on #651
More fun: I just seemed have encountered this crash with GCC 10.2.0 and Open MPI 4.1.0 on my macOS laptop. Hmm.

[2021-01-07 19:52] bena-nasa commented on #652
Another user was able to replicate this on the skylake nodes. They experimented with some MPI settings that shed some light on the problems however, per the user

"I just looked at this again. I tried the tcp OFI provider and it works, of course significantly slower than psm2. On the Haswell nodes, either the verbs or the mlx provider is used, and of course tcp will work too. It looks as if the ps

[2021-01-08 13:56] mathomp4 commented on #652
@bena-nasa Interesting. I just sent an email to NCCS about (if they have a chance) to update the libpsm2 on the skylakes. Turns out I can't build Open MPI 4.1.0 on them because:
[code]
I guess there must be something in libpsm2 that Open MPI 4.1.x relies on?

Are these related? Probably not. But seems like libpsm2 is having a moment here. 🤷🏼

[2021-01-12 14:48] gmao-esherman opened #660 "Extend MAPL_ConfigSetAttribute to include array of integers as input"
As part of refactoring GOCART2G, we need the capability to add a list of integers to a config object using ESMF_ConfigSetAttribute. ESMF_ConfigSetAttribute currently only accepts a single integer as the value argument. Please let me know if you need a description of the use case or any additional information. Thanks.

[2021-01-13 13:13] mathomp4 opened #661 "Why is ExtData with GOCART.data so slow?"
This is mainly just a question for @bena-nasa because I want to know. I'm looking at the SCM (see https://github.com/GEOS-ESM/GEOSgcm_GridComp/issues/399) and so I'm doing some SCM runs. And I noticed that ExtData is pricey when you only run, say, a day with the SCM:
[code]
Obviously with longer runs, it gets less and less of the time, but at one day, you notice it. Is it the structure of the GOCA

[2021-01-13 14:34] bena-nasa commented on #661
My first guess is that you are having to read the full resolution file, then it is doing a regrid creation and operation to regrid from the full resolution to the single point. This is probably more expensive or slower due to the file system than running the column.
That's my guess.

[2021-01-13 14:50] mathomp4 commented on #661
@bena-nasa Ah. Okay. It intrigued me as I think "real" GOCART runs faster.

Using a 1-day c24 run, real GOCART:
[code]
GOCART.data:
[code]
So mainly `prefetch` in GOCART and `IclientDone` in data. 🤷🏼‍♂️

[2021-01-13 15:03] mathomp4 commented on #660
I'm assigning to @atrayano or @bena-nasa but if this needs to be in ESMF, we might have to contact...ESMF.

[2021-01-13 15:54] atrayano commented on #660
Ultimately ESMF needs to support this, but I have extended similarly ConfigSetAttribute for variety of overloads. I discussed this topic briefly with @tclune yesterday, and I plan to address it as part of another change I am doing for @gmao-esherman (and Arlindo)

[2021-01-13 16:09] bena-nasa commented on #661
It makes perfect sense that gocart.data is slower, you are reading 3D files as these are the full 3D climatologies for each component/bin. Where as regular gocart is mostly reading 2D emissions files.

[2021-01-13 16:11] mathomp4 commented on #661
Ah! Smart! Thanks!

[2021-01-13 16:11] #661 closed

[2021-01-13 16:17] bena-nasa commented on #660
You can do this, esmf can read a label with multiple values, this just not one step. We would have to write a wrapper to do this. See the documentation:
[code]

[2021-01-13 16:21] mathomp4 opened #663 "Issue reading vegdyn with Coupled Model"
I'm making an issue here only because the traceback is in MAPL. Namely, when I try to run MOM6 (c90, default ocean) with GNU you get a crash (focusing on pe 0):
[code]
with:
[code]
either before or after. (Also see: https://github.com/GEOS-ESM/GEOSgcm_GridComp/pull/377)

Now, you *can* run C90 GNU AMIP, and it's happy:
[code]
The line above seems to refer to this code about `IOSTAT_END`:
https://g

[2021-01-13 16:29] yvikhlya commented on #663
How MOM5 behaves with GNU? I think coupled runs with MOM6/MOM5 use same land restarts.

[2021-01-13 16:39] mathomp4 commented on #663
I guess @sanAkel has infected me with the "MOM6 is the future" bug. I forget about MOM5...

Just did a C90 MOM5 run and it crashes the same way.

[2021-01-13 16:49] yvikhlya commented on #663
Which is good. We know that the problem is unrelated to ocean model now. What was the last tag which worked with GNU compiler? It worked at some point right? I can guarantee, that land restarts did not changed since then.

[2021-01-13 17:13] mathomp4 commented on #663
@yvikhlya I'm not sure MOM ever worked under GNU? Maybe it did at one point? My nightly testing for MOM5/6 is only with Intel because I didn't want to add more C90 tests.

I only really tried it this time because I wanted to see if the DSO branch on GEOSgcm_GridComp worked with GNU as well as Intel (DSO's are always twitchy). But this crash obviates that test for now. (And the Intel doesn't work f

[2021-01-13 17:17] sanAkel commented on #663
1. @mathomp4 indeed MOM6 is the **future**! 😄
2. We seem to have confirmed that something isn't correct with the modifications proposed in https://github.com/GEOS-ESM/GEOSgcm_GridComp/pull/377 (though unrelated to _this_ issue)

[2021-01-13 17:31] yvikhlya commented on #663
Not sure about that. The issue could be introduced by some earlier modifications.

[2021-01-14 01:13] sanAkel commented on #663
Regardless of when and how it was introduced, _here_ we are and it is broken! Of course, fixing it with one ocean model (e.g., MOM5) would most probably fix for the other (e.g., MOM6). Given that the **future** can only be _realized_ if we work towards it, so let's fix it for MOM6.

1. How was the `vegdyn.data` generated? For starters, I don't even understand why it should be different for what st

[2021-01-14 11:41] smahanam commented on #663
Could you please point me to the BCSDIR of your experiment?
At some point, we changed  the  file format of vegdyn to nc4. But I am sure MAPL can autodetect the format.
We added 2 new fields to the file few years ago, if your BCs are from pre-Icarus era, GEOSvegdyn would crash.
So please point me to your EXPDIR or BCSDIR, I'll check.

[2021-01-14 12:59] sanAkel commented on #663
@yvikhlya would know best!

[2021-01-14 13:10] mathomp4 commented on #663
@smahanam Here is what my runs are pointing to:
[code]

[2021-01-14 13:19] smahanam commented on #663
Thanks Matt !
This experiment uses Ganymed-4_0 BCs.
Since Ganymed-4_0 and Icarus land tiles are the same, we can just replace the Ganymed-4_0 vegdyn file with the below Icarus vegdyn file.
/discover/nobackup/ltakacs/bcs/Icarus/Icarus_MERRA-2/CF0090x6C_DE1440xPE0720/vegdyn_90x540.dat

[2021-01-14 13:25] sanAkel commented on #663
Thank you @mathomp4 ,

@smahanam any reason why these files should be **different** for uncoupled (atmosphere-only; AMIP) and coupled model runs? Also are the land tiles same between Icarus and Jason? @mathomp4 is of course running a Jason (from _this_ repo!). Thanks a lot!

[2021-01-14 13:46] smahanam commented on #663
Land tiles depend only on the atmospheric grid resolution.
All ocean grid resolutions under the same atmospheric grid use the same land tiles for e.g.: Reynolds (AMIP), MERRA-2 (AMIP), Ostia (AMIP), MOM  coupled to CF90 atmosphere, will use CF90 land tiles.

Yuri has copied from Larry's BCs directory. When we added the 2 new fields, we updated vegdyn files in the Icarus BCs directory. Sorry, we ju

[2021-01-14 13:49] atrayano commented on #663
@smahanam Technically, the the land tiles (and all the tiles in general) depend also on the resolution of the raster (i.e. pixel) grid. In the very old system, this used to be 8640x4320. And with increase of the resolution of the grids, we typically bump up the raster resolution (but not always)

[2021-01-14 14:11] mathomp4 commented on #663
As a test, I decided to copy over @yvikhlya's directory to my nobackup and then copied in the C90 `vegdyn.data` from Larry's BCs into that directory and fixed up `gcm_run.j` to run it. And, it seems to work:
[code]
Not sure about the output, but it doesn't crash!

[2021-01-14 14:35] smahanam commented on #663
Yes @atrayano ! land tiles depend on both the land mask (catchment mask) and the atmospheric grid. Yuri's experiments use old mask based BCs with the raster resolution of 8640x4320 - so the vegdyn file that I pointed from Larry has the same number of tiles (104,103).

NL BCs series uses a finer catchment mask and a raster resolution (43200x21600) - so Icarus-NL/CF90 has more tiles than Icarus/CF90

[2021-01-14 14:36] sanAkel commented on #663
@mathomp4 Is this plot a **diff** between ...? if so, it would make sense!

Just to be clear, you just replaced whatever @yvikhlya had with those from Larry?

[2021-01-14 15:19] yvikhlya commented on #663
vegdyn.data in 1 degree resolution is the same as was used to be in AMIP set up. I had no idea that it changed.

[2021-01-14 16:18] mathomp4 commented on #663
Diff between Intel MOM6 and GNU MOM6 of `BULK_SST`

Yes, though I was stupid about it. I copied over the `vegdyn_90x540.dat` but didn't copy it *into* `vegdyn.data` so I had to fix bits of `gcm_run.j` to make the link correctly. Probably the better thing is to just copy that file *over* `vegdyn.data` then the `gcm_run.j` needs less fiddling.

Yes. It's GNU. And it seemed to run!

[2021-01-14 19:07] sanAkel commented on #663
Thank you @mathomp4 and also @smahanam

I guess for now we can settle for

that difference.

I would suggest @yvikhlya update the files as suggested by @smahanam and when he does that, this problem will be fixed for GNU and there will be a non-zero diff answer for INTEL too.

@yvikhlya would you please put in a PR linking this issue? Thanks!

[2021-01-14 19:17] yvikhlya commented on #663
Right now we are using different versions of coupled model (s2sv2, s3sv3 and jason) with several different resolution. I would argue that we need to manage boundary conditions a little bit more transparent way than we do now. I am always confused which BCs should be used for which version of the model. @sanAkel what PR are you talking about?

[2021-01-14 19:29] sanAkel commented on #663
@yvikhlya

Both S2S v2 and V3 are residing in **CVS** repository; they don't reside **here** in github. So what you have in
https://github.com/GEOS-ESM/GEOSgcm_App/blob/ee1397d9a0a25a64ef244ce90179f2a0059c7ad4/gcm_run.j#L340-L361
has absolutely nothing to do with S2S v2 and v3. Once you change
https://github.com/GEOS-ESM/GEOSgcm_App/blob/ee1397d9a0a25a64ef244ce90179f2a0059c7ad4/gcm_run.j#L409 to p

[2021-01-20 14:30] atrayano opened #673 "Variable splitting in multiple History collections"
This is a bug, that can be reproduced when we try to split the same variable in more that 1 collection. The issue is that result of the splitting is a new field, and currently we put it in the same export state as the original field. This works as long as the same variable is not split again in another collection. The second time we do this, ESMF will return an error that the export state already

[2021-01-20 14:33] atrayano opened #674 "Optional renaming of the split field in History"
This is a new feature requested by Arlindo, to allow using the alias feature in History to rename split fields, for example, by wavelengths

[2021-01-20 16:10] bena-nasa commented on #122
This has been completed

[2021-01-20 16:10] #122 closed

[2021-01-21 22:40] weiyuan-jiang commented on #652
Now I can reproduce the crash.  All the crashes come down to the error:

MPIDI_OFI_handle_cq_error(1042).........: OFI poll failed (ofi_events.c:1042:MPIDI_OFI_handle_cq_error:Invalid argument)

Considering I can run the program in Hashwell and also in Skylake with verbs ( very very slow though), I suspected the error is due to libfabric as @aoloso suggested. I am not sure if our problem is relate

[2021-01-22 14:21] mathomp4 commented on #644
Okay. I can now reproduce this on discover. Something "fun" for @tclune to look at 😄

@bena-nasa made a tester that borrowed the ESMA CMake system and "embedded" the tester inside of `MAPL/base` as:
[code]
as well as entries in `base/CMakeLists.txt` to let it build. I didn't want to figure out how to pull out all the ESMA, so I did the same and put it in a tmp branch of MAPL.

To get the code do:

[2021-01-22 14:38] mathomp4 commented on #652
Note: We do now have a new(-er) Intel MPI to test with, though using the Model as a tester might be out until #644 can be diagnosed by @tclune. But if you can reproduce this outside of GEOS somehow...

Note 2: Not sure if Intel MPI 2021.1.1 change anything in this area, though. The [release notes](https://software.intel.com/content/www/us/en/develop/articles/intel-mpi-library-release-notes.html) a

[2021-01-22 17:01] tclune commented on #644
I consolidate the code into a single file (eliminating comments and cpp to make the gFTL aspects tolerable).   The error is still at the same location, though oddly it is a different error message now:

[code]

I made this small change and the error goes away:
[code]

So it will be simple to patch gFTL to make this work.    A bit annoying though that ASSOCIATE is so fragile.

Will try to boil down

[2021-01-22 18:26] tclune commented on #644
I am attaching the standalone reproducer here.   If lines 1580-1582 are commented out and line 1583 is uncommented the code will run correctly.

The reproducer should be boiled down further, but I'm inclined to let Intel to that.   Can @mathomp4 take on getting this submitted?

[reproducer.gz](https://github.com/GEOS-ESM/MAPL/files/5857826/reproducer.gz)

[2021-01-25 14:03] mathomp4 commented on #644
I have submitted the reproducer to Intel (Ticket 04949042). We'll see what they say...

[2021-01-25 15:08] mathomp4 commented on #644
Well, Intel apparently has decided I'm not allowed to open tickets? So, I posted the bug on the Forums.

[2021-02-01 15:10] #30 closed

[2021-02-01 15:10] tclune commented on #38
@atrayano and @lizziel  Can this issue be closed?   It is very stale.

[2021-02-01 15:17] #94 closed

[2021-02-01 15:18] tclune commented on #123
@bena-nasa   You are working on this now, right?  (Albeit indirectly.)  Trying to close out old tickets.

[2021-02-01 15:19] #143 closed

[2021-02-01 15:20] atrayano commented on #38
@tclune , I had all forgotten about this issue. Let me touch base with @bena-nasa , renaming this is piece of cake, but we need to come up with good substitution (Ben came up with the current choice) and then see what the impact of such change would be

[2021-02-01 15:20] #165 closed

[2021-02-01 15:21] #207 closed

[2021-02-01 15:22] tclune commented on #210
@atrayano  - can this be closed?   Or are we waiting for @lizziel to evaluate

[2021-02-01 15:22] #216 closed

[2021-02-01 15:24] #520 closed

[2021-02-01 15:25] #522 closed

[2021-02-01 16:44] atrayano commented on #210
@tclune let's close it. If needed, we always can open a new issue

[2021-02-01 17:13] tclune commented on #210
Then close it ...

[2021-02-01 17:13] #210 closed

[2021-02-02 14:09] atrayano opened #678 "Bug: incorrect handling of R8 tile restarts"
Under code review I found two instances of referring to the R4 variables when handling R8 in MAPL_IO.F90. This bug must have been there for a very long time, but apparently is not exercised. Nevertheless, it is a bug

[2021-02-02 16:26] rmontuoro opened #680 "Bug: Floating divide by zero error when reading input volcanic emissions in GOCART/SU with UFS"
A `floating divide by zero` error occurs in `MAPL_BaseMod > MAPL_GetHorzIJIndex() > cube_xy()` while reading in volcanic emissions in `GOCART2G_GridComp/SU2G_GridComp/SU2G_GridCompMod.F90` when running UFS-GOCART built in debug mode on Orion. Relevant stack trace information are provided below:

[code]

The MAPL library (branch: `main`, revision `bc57d97c`) was built without debug flags and with `

[2021-02-02 18:18] atrayano commented on #678
Fixed by PR#679

[2021-02-02 18:18] #678 closed

[2021-02-03 13:12] tclune commented on #680
I'm adding @bena-nasa to this ticket.    He's more experienced with GetHorzIJIndex for the CS grid.

@rmontuoro - any clue as to what was different about this particular run?   Clearly GOCART has run successfully many times, and no changes have been made recently in  that bottom most routine.

[2021-02-03 13:27] tclune commented on #680
The division at that line has `SIN(LAT)` as the denominator.    Presumably the CS grids in GEOS don't quite have points right at the pole (cell corner is at pole, but centers are slightly displaced), but the NOAA CS grid does.   (But this surprises me, since we nominally both get our grids from the FMS / FV layer.)

Aside from this, the code in MAPL should not need to do such divisions.   I would

[2021-02-03 13:47] bena-nasa commented on #680
I talked with Rafeale and Williams yesterday. We found a couple things, for example the grid coming in from UFS is in degrees, this assumes the points were radians. There were a few other assumptions in there (the fuji rotation) Also this is not using the centers, only the corners.

This needs to be rewritten to be more robust in any case. What is the trig to tell if a point is in a rectangular po

[2021-02-03 13:48] tclune commented on #680
Are  the coordinates for the grid or for the volcano emissions?

[2021-02-03 13:54] bena-nasa commented on #680
This takes an arbitrary list of coordinates and an ESMF grid. Then for each coordinate we want to know, is it in the local domain? If so what are the indices of the cell in that domain that contain that point so you have to search. So there are two coordinate sets the grid and the arbitrary list of points.

I thought maybe ESMF locstream -> grid transform could do this but I'm not thinking so sinc

[2021-02-03 14:00] tclune commented on #680
Overall, the current approach also seems expensive.    E.g., there may just be 1 volcano at a given time, and yet essentially all the entire grid is brought into memory.      I'm wondering if the C5760 runs are being impacted by this?

If ESMF regridding can do the job, great.   Otherwise, a bisection algorithm will significantly reduce the cost without requiring any unsafe divisions.

[2021-02-03 14:09] bena-nasa commented on #680
Bill said he is not running gocart for c5760 run

[2021-02-03 17:39] rmontuoro commented on #680
@tclune - this test run is using volcanic emissions, which were not included in previous runs.

Transforming the grid coordinates to radians fixed the problem, however a more general strategy is needed to properly handle:

**(a) coordinate units**

- Option 1: MAPL could check the coordinate units and perform a proper conversion. This needs to be done both in `base/MAPL_Base.F90` and `base/MAPL_Or

[2021-02-03 17:55] bena-nasa commented on #680
I'm just going to try to implement a more general algorithm for the cube. So hopefully that should make the shifting irrelevant. You can apparently retrieve the coordinate type with a MAPL_GridGet call so that can take care of any radians/degrees confusion for anything needing to use the coordinates. I'm going to work on this now so hang tight.

[2021-02-03 18:14] rmontuoro commented on #680
Thanks a lot @bena-nasa! I look forward to the new implementation.

The question on whether we should create a full copy of the external grid for MAPL still remains, and may help address this issue. What's your preference?

[2021-02-03 18:31] bena-nasa commented on #680
No, I don't think you need to make a full copy.  We can determine the coordinate type so no need to make a copy with different units.

[2021-02-03 19:28] tclune commented on #680
The actual offset used should not affect the algorithm.  The grid is a set of coordinates and we're just implementing an (efficient) search to find the cell that contains a given point.      I'd otherwise hate to try to "guess" the offset from data.

Even the radians issue will probably evaporate once the new algorithm is in place.        I may need to better understand how/if ESMF detects radians

[2021-02-04 17:22] rokuingh commented on #680
ESMF regridding is done in Cartesian coordinates. The coordinate system of the Grid, Mesh or LocStream that is being used to represent the coordinates of the data that is being regridded is specified at creation time.

[2021-02-05 13:08] mathomp4 opened #681 "Issues with History on Rome Nodes at NAS"
For some reason, there seems to be an issue with the IOSERVER at NAS when running on the Rome nodes. For example, if I try and run c720 with the IOSERVER, eventually the model just "dies" in History:
[code]
This is from FV3 Standalone, but it shows the symptoms.

Likewise, Samson Cheung was trying to run C360 Ostia. If you have IOSERVER nodes on, it crashes, if you don't have any IOSERVER nodes, i

[2021-02-08 03:53] sanAkel commented on #663
Is this issue _resolved_?

Paging @yvikhlya @mathomp4

[2021-02-08 14:18] #257 closed

[2021-02-08 14:19] #129 closed

[2021-02-08 14:21] mathomp4 commented on #233
@bena-nasa @weiyuan-jiang Can this be closed? Perhaps this issue is "complete"?

[2021-02-08 14:22] mathomp4 commented on #254
@bena-nasa Is this a feasible thing to do?

[2021-02-08 14:23] mathomp4 commented on #259
@mmanyin Is this still needed?

@atrayano @bena-nasa Has this been implemented?

[2021-02-08 14:23] #266 closed

[2021-02-08 14:25] #268 closed

[2021-02-08 14:27] #336 closed

[2021-02-08 14:27] #343 closed

[2021-02-08 14:27] #344 closed

[2021-02-08 14:28] #345 closed

[2021-02-08 14:28] #378 closed

[2021-02-08 14:29] #404 closed

[2021-02-08 14:30] mathomp4 commented on #642
@bena-nasa Did we ever fix this? I want to say you looked at it...

[2021-02-08 14:31] mathomp4 commented on #650
Builds with NAG now. Closing!

[2021-02-08 14:31] #650 closed

[2021-02-08 14:32] mathomp4 commented on #651
I believe this now works as well thanks to @weiyuan-jiang. I'll close and open a new ticket if needed.

[2021-02-08 14:32] #651 closed

[2021-02-08 14:33] mathomp4 commented on #515
Done. Closing.

[2021-02-08 14:33] #515 closed

[2021-02-08 14:39] yvikhlya commented on #663
I think the best would be to point land BCs in coupled set up to be the same as in AMIP set up. I'll do the PR in GEOSgcm_App.

[2021-02-08 15:24] bena-nasa commented on #680
Making this contingent for now. When I ran both algorithms simultaneously and compared the assigned indices it never complained that they did not match. But now after stripping out the old algorithm I'm finding it is non-zero diff so I'm confused. I'll do some more checking but keep the PR as DNA to save retyping later.

[2021-02-08 15:56] mmanyin commented on #259
Yes, there are still TR species which share common input datasets.  The work-around, as coded at the top level of TR is still in place, and I assume that it's still needed.  As I recall, the solution in HEMCO was to use distinct import names, which likely leads to multiple copies of the data in memory.

[2021-02-08 19:03] sanAkel commented on #663
👍 looking forward to it

[2021-02-08 20:19] bena-nasa commented on #680
I just made a PR to the develop branch of MAPL that should fix this. I generalized the search, no assumptions about rotations, when I grab the full corners I need to do the search that I now store in the grid (they have to so somewhere) if they were created as degrees, I convert to radians.

[2021-02-09 15:59] mathomp4 commented on #681
Update: it turns out that 12x72, C360, Ostia, no ioserver nodes runs. *BUT* if you use 14x96, it fails. So it's not the "extra" IOSERVER nodes that are the issue. It's more subtle.

Dangit.

[2021-02-09 15:59] mathomp4 commented on #681
Might need @tclune to ponder this as well...

[2021-02-09 18:58] mathomp4 commented on #42
Here's a list of changes that need to be made I think:
[code]

[2021-02-10 16:02] mathomp4 opened #685 "Update MAPL (and GEOS) to use Namespace GFE"
Recently, @tclune released updates to GFE to move it to use CMake namespace, i.e., use `GFTL::gftl` instead of `gftl` in CMake.

Currently this will require changes to many places:

- ESMA_env for Baselibs
- MAPL
- GEOSgcm_GridComp
- FvdycoreCubed_GridComp
- fvdycore

I'm opening this issue so that @tclune and myself have a place to think about how to handle this. Change all at once? or maybe drib

[2021-02-11 15:41] mathomp4 commented on #644
Well annoyingly I'm now dying *before* ExtData with Intel 2021. Grah!

[2021-02-11 17:54] mathomp4 commented on #644
Update update: With the GFE updates I can run one day on Discover with Intel 2021. It's just my mac that's broken. Bluh.

[2021-02-11 19:26] tclune commented on #637
Wow - it has already been 2 months since this was (re) opened!    I think I now finally have some time to address the issue.   I'll catch up on the weekly telecon to be sure I capture any work @sdeastham has done in the mean time.

[2021-02-12 16:57] #248 closed

[2021-02-12 16:57] #653 closed

[2021-02-12 16:57] #232 closed

[2021-02-12 17:32] tclune commented on #637
This is nominally completed no on the feature/tclune/#637... branch.     Almost worked right out of the box - just needed some little tweaks for the declaration of ESMF arguments.    Tested with synthetic case using @bena-nasa 's ExtDataDriver.   Now could use some more thorough testing before being merged.

[2021-02-12 18:22] sdeastham commented on #637
Great! Attempting a merge into GCHP now - I'll try to test this out with some mass fluxes over the next few days.

[2021-02-12 21:35] sdeastham commented on #637
@tclune - merge went smoothly, and just ran the first test (regridding from C90 to C30). Results not quite as expected, so wanted to check that I'm doing things correctly:

1. Getting MFXIN and MFYIN through ExtData.rc with the following line:

`MFXIN;MFYIN 'kg s-1' N H F0;003000 none 1.00 MFX;MFY  ./Met_c90/tavg1_3d_asm_CSv-/%y4%m2/Heracles-5_4_p3.tavg1_3d_asm_CSv-.%y4%m2%d2_%h230z.nc4 2000-01-01

[2021-02-13 00:13] sdeastham commented on #637
Follow-up: this issue appears to be sensitive to the number of cores (see figure below, which shows a c90 simulation and then a c30 simulation using online regridding with 24, 12, and 6 cores). Most interestingly, the X and Y mass fluxes respond differently?

![image](https://user-images.githubusercontent.com/6618732/107835082-45cbad80-6d66-11eb-91f6-a66f4209c94c.png)

[2021-02-16 21:11] sanAkel commented on #663
https://github.com/GEOS-ESM/GEOSgcm_App/pull/201 should have closed it??!

[2021-02-16 21:11] #663 closed

[2021-02-16 22:11] bena-nasa opened #698 "ExtDataDriver test case for sparse input/output broken in IO server."
I had merged develop into my ExtData refactor branch and ran my usual tests with ExtDataDriver.x where I found one was failing. I then checked and found the plain develop branch was also failing. This test exercises the case when the input or output grid is so coarse that is can not be decomposed in such a way that every processor has a DE. This test has worked in the past. It is now failing in th

[2021-02-17 13:22] tclune commented on #637
Sorry - I missed this email is a blizzard of other GEOS-ESM traffic.       I think you are correct that this is probably related to the "rotate" option.       Worst case is that I need to add a mechanism to deactivate some otherwise automatic treatment of vectors that operates at a higher level in the call sequence.

[2021-02-17 13:31] bena-nasa commented on #698
I'm going back in time, trying to see what version of MAPL broke this.

[2021-02-17 13:54] tclune commented on #698
My guess would be recent changes by Matt, Weiyuan, and myself to improve NAG portability.  There were subtle issues with treatment of 0-sized arrays that probably caused the problem.   (@weiyuan-jiang if so, then please try to add another unit test that guards against this.)

[2021-02-17 14:04] bena-nasa commented on #698
Got it. In the module LocalMemReference.F90 there is a routine "allocate".
In 2.5 it looks like this:
[code]

where as in 2.6 it looks like this:
[code]
Reverting that fixes the test. Does this have implications for NAG?

[2021-02-17 14:31] tclune commented on #698
Probably not the best fix, but as a hotfix it lets us move forward.

I think the "right" fix should be upstream where the C_NULL_PTR is consumed.     Something there is apparently distinguishing between a pointer to a 0-sized array and a C_NULL_PTR and should now check first if it is C_NULL_PTR.  @weiyuan-jiang probably knows where this is.  (Possibly in multiple places, unfortunately.)

If we can

[2021-02-17 16:16] bena-nasa commented on #698
@weiyuan-jiang I can reproduce on 6 cores if I hack History so it doesn't let MAPL pick a distribution for the output grid but just uses 1x6 if that helps to debug.

[2021-02-17 16:38] weiyuan-jiang commented on #698
I have noticed this problem. In my new branch, I changed back to the original one https://github.com/GEOS-ESM/MAPL/blob/f5615cfce6a0e4e256418460f9aec5f855520fcf/pfio/LocalMemReference.F90#L365-L373

Tom told me we can use __NAG_COMPILER_BUILD.  It seems working

[2021-02-17 16:46] tclune commented on #698
OK - that is an acceptable solution.   I'm still curious how the Intel compiler was not able to use C_NULL_PTR when this%base_address is consumed at the later stage.

[2021-02-17 19:12] tclune commented on #637
I spent a bit of time on this, but am still none the wiser.    The synthetic data I originally tested with was constant which clearly would not reveal any pattern like what you are seeing above.   But it does indicate that X and Y are not being mixed, which eliminates certain types of issues.

I'm going to try to modify the synthetic case to have more useful results.   I'll also speak with @bena-n

[2021-02-17 21:47] bena-nasa commented on #637
This made me think I should add something to my tester so that I could fill in something other than constant values so I added the ability to use the grid lats and lons from the grid in the expression used to fill in the variables when generating the synthetic data. I then tested this on top of Toms flux regridding branch and ran the test case I provided him utilizing the new flux regridding optio

[2021-02-17 22:00] tclune commented on #637
OK - I'll double check my code again.    The decomposition dependence is an important clue.

In theory we should be able to look at 3 neighboring cells in the input data (with the right modulo wrt the nesting ratio) and add the fluxes by hand.   And then go see what is in the output grid at the corresponding position.

[2021-02-18 14:26] bena-nasa commented on #637
Shouldn't this be ii, and not i on the right hand side of that expression:
https://github.com/GEOS-ESM/MAPL/blob/feature/tclune/%23637-horz-mass-flux-regrid/base/HorizontalFluxRegridder.F90#L144
Likewise for the y fluxes, j->jj?

[2021-02-18 14:49] bena-nasa commented on #637
Yep, that fixed in my layout test. I get the same answer now on difference core counts.

[2021-02-18 15:22] bena-nasa commented on #637
I pushed to the branch with this fix Seb if you want to pull and try again.

[2021-02-18 15:25] mathomp4 commented on #642
@bena-nasa Did your recent work on the cube sphere factories, etc. fix this?

[2021-02-18 15:53] LiamBindle opened #702 "1D output is slow when there are many points"
I'm trying to use 1D diagnostics to mimic a SSO satellite overpass diagnostic (sample each grid-box at a constant solar time). It's kludgy, but an old diagnostic in GEOS-Chem Classic, and it's still needed for a couple projects.

The issue I'm running into is it's very slow at high resolution. This 1D diagnostic at C360 brings my simulations throughput from 7 days/day -> 2 days/day. Here is what m

[2021-02-18 16:38] sdeastham commented on #637
Looks good! Preliminary tests show that the online regridding

 a) reproduces the expected fluxes based on hand regridding;
 b) yields the same results with 6 and 24 cores;
 c) produces reasonable transport; and
 d) seems to result in pressure errors which are ~30 times smaller (at c30) than when using winds (compared to ~10 times smaller at c90).

 That last line is subject to (a lot) more testin

[2021-02-18 19:48] bena-nasa commented on #702
Liam,
I suspect I did this in an inefficient manner. To do the sampling I create an ESMF location stream (i.e. a set of geospatial points). When I do this each point is assigned to a PET (mpi rank). I think for simplicity I put them all on root. This does mean, that the transform I create between the locationstream and the grid to do the sampling essentially is doing everything to root. I did this

[2021-02-18 20:01] LiamBindle commented on #702
Hi @bena-nasa, thanks, that makes sense. Here is my track file and HISTORY.rc: [track_and_history.zip](https://github.com/GEOS-ESM/MAPL/files/6005566/track_and_history.zip).

Thanks for taking a look. If there's something I can do on my end, please let me know.

[2021-02-19 13:53] bena-nasa commented on #702
I see what you mean. At C48 running no history vs a single collection sampled with the track you provide was a 2X slowdown in throughput for GEOS. I have one idea to try to see if it helps.

[2021-02-19 17:41] bena-nasa commented on #702
I think I have a tweak that seemed to help a lot in my test. I distribute the points for the locstream across all processors, of course there is no free lunch, it means I have to do a gatherV to get the full 1D locstream field back to root for the time sampling and writing. Still, at least with the file you provided in my limited test performance seems much better.
I pushed a branch if you want to

[2021-02-19 18:56] LiamBindle commented on #702
Thanks, @bena-nasa! I'll give it a try and get back to you on Monday.

[2021-02-19 20:17] #637 closed

[2021-02-22 14:21] mathomp4 commented on #284
@bena-nasa @atrayano Was this fixed/completed?

Also, adding @WilliamJamieson as he is now looking at HistoryNG

[2021-02-22 14:22] mathomp4 commented on #211
@atrayano Can this be closed? I want to say you've done this (or part of it)? If so, a new issue could be opened with what is needed.

Or is there a new issue??

[2021-02-22 14:23] mathomp4 commented on #233
Closing for now. If ModelE work resumes, open new issue.

[2021-02-22 14:23] #233 closed

[2021-02-22 14:24] mathomp4 commented on #360
Closing. Open new issues if missed routines are found.

[2021-02-22 14:24] #360 closed

[2021-02-22 14:25] mathomp4 commented on #394
Closing. @weiyuan-jiang , etc are on the right path for this.

[2021-02-22 14:25] #394 closed

[2021-02-22 14:27] mathomp4 commented on #396
@tclune says this is trivial. I'll assign to him.

[2021-02-22 14:28] mathomp4 commented on #403
@dr0cloud Was this completed?

[2021-02-22 14:29] mathomp4 commented on #467
@weiyuan-jiang Can this be closed? Maybe close this and open a new issue?

[2021-02-22 14:29] mathomp4 commented on #484
@atrayano Has this been done?

[2021-02-22 14:31] mathomp4 commented on #486
@atrayano Do you know if anything was done in this realm? So many PRs since this was opened...

[2021-02-22 14:31] mathomp4 commented on #470
@bena-nasa Is this all tied up in the "Alarms are broken in ESMF" issue?

[2021-02-22 14:32] mathomp4 commented on #493
@tclune Was the GCC 8.3 issue taken care of in this? Or maybe the "intentional leak" was removed?

[2021-02-22 14:33] mathomp4 commented on #497
@weiyuan-jiang Was this taken care of during your many sweeps through MAPL to get finalize to work?

[2021-02-22 14:34] mathomp4 commented on #499
@weiyuan-jiang @bena-nasa @tclune Can we close this issue? I don't think Bill is hanging at EGRESS anymore (if anything he hangs at "ingress" at init time).

[2021-02-22 14:35] atrayano commented on #211
@mathomp4 , I think this can be closed. I've done several iterations and the latest version addressed all requests by Arlindo and Elliot

[2021-02-22 14:35] mathomp4 commented on #500
Closing as it looks like @WilliamJamieson fixed this.

[2021-02-22 14:35] #500 closed

[2021-02-22 14:36] mathomp4 commented on #505
I believe @yvikhlya "fixed" this in the coupled model by changing/updating/fixing the boundary conditions.

[2021-02-22 14:36] #505 closed

[2021-02-22 14:37] mathomp4 commented on #507
@tclune @bena-nasa @lizziel Is this still an issue with GCHP?

[2021-02-22 14:38] mathomp4 commented on #508
@bena-nasa @rsdunlapiv Do you know if this has been taken care of in ESMF 8.1.0 development? Or is it something we need to press for ESMF 8.2.0?

[2021-02-22 14:40] gmao-esherman commented on #211
Yes, this can be closed. The feature request has been addressed.

[2021-02-22 14:40] #211 closed

[2021-02-22 14:40] mathomp4 commented on #511
@tclune @weiyuan-jiang Has the new profiler been spread enough in GEOS to consider this "fixed"? It does look like we still have a good mix:
[code]

[2021-02-22 14:42] mathomp4 commented on #514
I am going to close this. If it was based on Baselibs, then we "fixed" this a while back.

[2021-02-22 14:42] #514 closed

[2021-02-22 14:43] mathomp4 commented on #523
@weiyuan-jiang @tclune Has this been "solved" in MAPL? It's been 6 months so perhaps the pFlogger initialization has evolved since now?

[2021-02-22 14:44] mathomp4 commented on #530
@bena-nasa @tclune Did we fix this?

[2021-02-22 14:45] mathomp4 commented on #535
@tclune @bena-nasa Was this fixed? Or was this a "wontfix"?

[2021-02-22 14:50] mathomp4 commented on #538
I stared at this and it looks like we might be nearly clean:
[code]
Of these:
[code]
seem to be the main ones to consider (for `_ASSERT`).

As I see files in both `pfio/` and `shared/` using `_ASSERT` I can assume this can be "fixed"? Maybe I'll give it a try and let you and @weiyuan-jiang judge me!

[2021-02-22 15:13] yvikhlya commented on #505
This PR should fix this https://github.com/GEOS-ESM/GEOSgcm_App/pull/201. Basically, vegdyne in coupled model is now the same as in AMIP model. This works with intel compiler. I did not test a coupled model with gcc though.

[2021-02-22 15:47] dr0cloud commented on #403
Yes, completed as per my response to Lizzie just above.

[2021-02-22 15:51] mathomp4 commented on #403
Closing.

[2021-02-22 15:51] #403 closed

[2021-02-22 16:06] mathomp4 commented on #338
Okay. I can confirm this still fails with GNU on discover:
[code]
still dying in `MAPL_IO.F90`:
https://github.com/GEOS-ESM/MAPL/blob/7fe10c79849e76988e2c6a34055131344be79fcb/base/MAPL_IO.F90#L1305-L1322

I might try and whip up an OpenMPI + Intel Compiler baselibs to try it out, but I *really* think this is a GNU thing.

[2021-02-22 16:09] mathomp4 commented on #338
I wonder if it's a "GNU can't read binary restarts" thing? I mean, I've probably never tried doing that with GNU as we were NC4 by then...

[2021-02-22 16:19] LiamBindle commented on #702
Hi Ben, I got a runtime error because `global_dst_3d` was already allocated. I look briefely at the code and added these `deallocate()` calls (not sure if correct, but did it quickly so it could run over the weekend)
[code]

With this update, I see a marginal improvement (1.8 d/d --> 2.5 d/d). Note that the output files are ~13G. Do you have any suggestions? Alternatively, I could make a post-proc

[2021-02-22 16:47] mathomp4 commented on #680
Closing this as (for some reason) the autocloser didn't work...

[2021-02-22 17:52] mmanyin commented on #530
As of early this month (Feb) the problem was still there.  If you want an example case, let me know.

[2021-02-22 18:17] mathomp4 commented on #530
@mmanyin Please do supply a case!

[2021-02-22 19:47] tclune commented on #493
I'm terribly confused after reading the thread.    If the "intentional leak" was removed, it was not by me.

MAPL requires at least 8 and 8 supposedly has the fix.  So the leak should be removed (if it has not already) and this ticket should be closed.

[2021-02-22 19:47] tclune commented on #499
Yes - this can be closed.

[2021-02-22 19:47] #499 closed

[2021-02-22 19:49] tclune commented on #507
I believe that ExtData is now properly instrumented with pflogger and this issue can now be closed.

[2021-02-22 19:49] #507 closed

[2021-02-22 19:52] mmanyin commented on #530
@mathomp4 Run gcm_setup but do not ask for MERRA2 or MERRA2-DD emissions;  copy restart files and set to run sometime in the late 2000's.  This should run fine.  Repeat the exercise, but this time, in RC/SU_GridComp_ExtData.rc, replace the line for SU_BIOMASS with this line:
SU_BIOMASS NA  N Y %y4-%m2-%d2t12:00:00 none none biomass /discover/nobackup/projects/gmao/merra2_gmi/work/ExtData/FEER/%y4/

[2021-02-22 21:10] mathomp4 commented on #642
Okay. This is a fun one. @bena-nasa and I looked at this and we figured out there might be *NO* way for either of these to be written out. Why? Well if you look at `write_const_variables` in `pfio/NetCDF4_FileFormatter.F90`:
https://github.com/GEOS-ESM/MAPL/blob/beba7fc571c9096b9b0897b4966d8ee0d10ba987/pfio/NetCDF4_FileFormatter.F90#L466-L484
A string would fall under `class default` and...fail!

[2021-02-22 21:21] tclune commented on #523
I think this is solved to the extent anyone cares so far.      Certainly we don't want "in source" YAML text streams.

[2021-02-22 21:21] #523 closed

[2021-02-22 21:23] tclune commented on #535
It's a "wontfix".

[2021-02-22 21:23] #535 closed

[2021-02-22 21:24] tclune commented on #538
Yeah - I did a fair bit on this back in December.    I recommend doing any of the remainder that are "easy" and closing this issue.

[2021-02-22 21:29] mathomp4 opened #714 "pFIO does not support writing strings to netCDF"
As seen in #642, it looks like pFIO cannot output string variables to netCDF:

https://github.com/GEOS-ESM/MAPL/blob/beba7fc571c9096b9b0897b4966d8ee0d10ba987/pfio/NetCDF4_FileFormatter.F90#L466-L484

Strings seem to fallover into `class default` and will fail.

I suppose the question is: should it?

[2021-02-23 14:16] lizziel commented on #211
Could you link to documentation for the feature, either the PR or a related issue that details it?

[2021-02-23 14:25] gmao-esherman commented on #211
Unfortunately I don't know of any documentation for this feature.

To use this feature please add "collection_name:splitFIeld: 1" to the collection parameters. This will take the ungridded dimension of a variable and serialize it. The serialized variable(s) will have "00n" appended to the variable name. Please see example below.

DU(x,y,z,ungridded) --> DU001(x,y,z), DU002(x,y,z), ... DU00n(x,y,z)

[2021-02-23 14:38] lizziel commented on #284
I think @LiamBindle was going to look into this too. However, I never got back to him with any guidance before my leave (sorry!).

[2021-02-23 15:22] weiyuan-jiang commented on #642
You are right we cannot write string variable at this moment. Is that important ? can that be in attribute section?

[2021-02-23 15:30] mathomp4 commented on #530
Huh. Yup, that does it:
[code]

And looking at the web, this does not inspire confidence:
https://www.unidata.ucar.edu/mailing_lists/archives/netcdfgroup/2014/msg00103.html
but that was 6 years ago. Maybe things have changed...
Nope:
https://github.com/Unidata/netcdf-fortran/issues/181

So, my only thought right now is to make that code "ignore" `NF90_STRING`? A la:
[code]
I just tried something l

[2021-02-23 15:31] mathomp4 commented on #642
@weiyuan-jiang At the *moment* it seems to be okay not to do. The issue would arise in the future if there was a "standard" cubed-sphere format where this would become important.

[2021-02-23 15:47] mmanyin commented on #530
It appears that the FEER files only have  NF90_STRING  attributes as "global attributes", which are not important, right?

[2021-02-23 16:44] LiamBindle commented on #284
@lizziel No worries! I was, but I ended up just doing the vertical flipping offline (easy).

[2021-02-23 17:03] sdeastham commented on #284
I wondered about that! In the long term I think we still need to solve this though - unless we want to continue with met pre-processing forever, the only alternative to having a fix such as above in place (that I can see) would be to rewrite the GCHP interface and modify all of our met inputs to be GMAO-standard.

[2021-02-23 17:38] tclune commented on #642
If there is a reasonably straightforward fix for this, my preference would be to enable this now.    Even if it has to be disabled for gfortran.

[2021-02-23 17:40] mathomp4 commented on #530
I defer to @bena-nasa or @tclune on that. My guess is...no? Or at least, we have none we care about that are `NF90_STRING`?

[2021-02-23 17:56] tclune commented on #530
Global attributes are important, but those are working.   The problem with string _variables_ (as opposed to attributes) is the potential for being multidimensional.    Fortran and C don't quite treat arrays of strings in the same manner which leads to subtleties at the interface.  (As well as bugs in the Fortran compilers themselves.)

[2021-02-23 19:41] mathomp4 opened #715 "Whither submodules in MAPL?"
Since we don't have Discussions setup here in MAPL (though maybe we should for things like this?), I thought I'd make a question issue for, say, @tclune to ponder.

Inspired by https://github.com/geoschem/GCHP/issues/12, I wonder: where might be a good place for submodules in MAPL? Maybe a profile of the build could find us a good tall pole to work on?

I will say it was fun learning to use them i

[2021-02-23 19:49] tclune commented on #715
I like the idea of using a profile to target high profile files.   Biggest bang for the buck.

If that proves problematic, choose the simplest layer and do it uniformly as a proof of concept.

For my latest OO work I've been better about making the base classes entirely abstract.   That should provide the same benefit as Fortran submodules, so don't go creating submodules for the subclasses in suc

[2021-02-23 20:33] weiyuan-jiang commented on #652
Now we don't use one-sided mpi_put anymore.  The problem disappears. Closed

[2021-02-23 20:33] #652 closed

[2021-02-23 20:34] #549 closed

[2021-02-23 20:36] weiyuan-jiang commented on #714
I will revisit the string in pFIO. We had problems before. Maybe the new compilers can help us go through this issue

[2021-02-23 20:38] weiyuan-jiang commented on #497
Yes. It has been taken care of.

[2021-02-23 20:38] #497 closed

[2021-02-24 13:43] mathomp4 opened #717 "bundleio tests failing with Open MPI"
On my laptop using GCC and Open MPI and on discover using GCC and Open MPI, the new (?) bundleio tests are failing:
[code]

Obviously, it works with Intel Fortran and Intel MPI on discover. I'll build MAPL with Intel + Open MPI on my laptop to test to see if it's an Open MPI issue...

With verboseness on my laptop:
[code]
I am, of course, on a single node, so that whole OSC pt2pt thing is probably

[2021-02-24 13:49] mathomp4 commented on #717
Hmm. Yeah. Fails with Intel Fortran and Open MPI on my laptop as well. Looks like an MPI issue.

[2021-02-24 20:53] rmontuoro opened #723 "Output conversion error occurs in MAPL built in debug mode"
UFS-GOCART crashes with the following error message when built with MAPL compiled in debug mode (`CMAKE_BUILD_TYPE=Debug`):
[code]

[2021-02-24 21:07] rmontuoro opened #724 "Active timing measurements may impact performance due to excessive task synchronization"
Several calls to `ESMF_VMBarrier()`, used for timing purposes, may negatively impact runtime performance of MAPL-based applications due to excessive task synchronization.

I'd like to propose adding an option (perhaps to `MAPL_CapOptions`) to disable component timing. Timing-related code as well as calls to `ESMF_VMBarrier()` could, for instance, be wrapped with additional MAPL APIs which would in

[2021-02-24 21:07] tclune commented on #723
To be safe (re line numbers), which branch/version of MAPL?

[2021-02-24 21:09] mathomp4 commented on #723
My guess is that line is a Memory print. I think I've seen it randomly before. It's like the `/proc/$PID` "file" is...wonky or something? and when we go to process it, our code finds something unexpected (text maybe?)

[2021-02-24 21:11] tclune commented on #723
For reference,  if this is develop, then the line is our `_RETURN` macro.    But it's a return that is supposed to issue ESMF_SUCCESS, and should not print anything.

[2021-02-24 21:13] tclune commented on #723
I must have the wrong version - line 1080 does not correspond to an executable line.

[2021-02-24 21:20] rmontuoro commented on #723
This is from branch `bugfix/rmontuoro/ufs` (revision cccff39) in fork `https://github.com/rmontuoro/MAPL`. This branch is up-to-date with `develop` and PR #721 & #722.

[2021-02-24 21:59] tclune commented on #723
ok - same lines in that version, so the stack trace is not very meaningful.   Is the crash reproducible?

[2021-02-24 22:09] tclune commented on #724
I'm sympathetic in principle but am wary of whether there is a one-size-fits-all solution.   Perhaps some of these barriers have additional rationale.     Further, I suspect some of these serve no purpose and all and should simply be removed rather than changing to a wrapper.      (I'm also a bit skeptical that the performance impact is even measurable for the GOCART use case - but I could be wron

[2021-02-25 01:56] atrayano commented on #724
@rmontuoro you can disable component timing with the existing MAPL. While the timing is turned on by default, in MAPL_CapGridComp.F90 we call MAPL_ProfDisable if enableTimers was not set to "YES"

[2021-02-25 02:04] atrayano commented on #724
In CAP.rc you can specify
MAPL_ENABLE_TIMERS: NO

[2021-02-25 02:12] atrayano commented on #724
I take it back - by default the timers are disabled (i.e. unless you specifically ask for MAPL_DISABLE_TIMERS: YES they should not be active). Please check you resource settings

[2021-02-25 13:08] tclune commented on #724
@atrayano  First - I'm not sure that switch has any impact on the new timers.   And we really should now delete the old timers.

The barrier's in this thread appear to be in support of timers but are not encapsulated in any way at all.     Not sure who introduced them in CapGridComp - I don't think they were there originally or at least they did not catch my eye at the time I refactored this layer

[2021-02-25 20:58] bena-nasa commented on #702
Hi Liam,
Yeah, perhaps better don't allocate it if it is already allocated. That was an oversight that apparently intel doens't choke on.

Is that 13 GB for a single day? A quick back of the envelope calculation the tropomi_overpass file is 7 mb, so naively you would expect each level so in GEOS for example a 3D variable is 72 would take up another 7*(2/3)*number_of_levels. For example I'm seeing

[2021-02-25 21:58] WilliamDowns commented on #652
Hi there, I'm running into a similar issue running GCHP on AWS EC2 (hang at output time if using EFA provider, tcp works fine). Could you elaborate on

Is this an update that recently went into MAPL, or a setting somewhere? The version of MAPL in the latest GCHP dates back to November, so I'm trying to figure out the best course of action for further debugging.

[2021-02-26 14:48] tclune commented on #652
The story is a bit complicated.    We were attempting to implement a new variant of the O-server to overcome a performance block in certain complex configurations of GEOS.  That new implementation used `MPI_Put()` which had its own performance issues, as well the bug reported in this ticket for some configurations.   Switching to `Isend()` solved the performance issues and the bug reported here va

[2021-02-26 16:18] WilliamDowns commented on #652
Thank you very much for the clarification. I've been running into issues running GCHP on multiple nodes with both OpenMPI and Intel MPI on AWS when using EFA, but this hang is specifically when using Intel MPI (currently 2019.8.254). I'd certainly be interested in hearing about any possible fixes using environment variables.

[2021-02-26 16:43] weiyuan-jiang commented on #652
Have you updated MAPL?  The problem should be solved. If not, I will have to reopen this issue @WilliamDowns

[2021-02-26 17:01] WilliamDowns commented on #652
No I haven't yet, I'll try to do so. Sorry for commenting so much on a closed issue.

[2021-02-26 18:06] atrayano commented on #660
Addressed in PR#727, already merged in develop

[2021-02-26 18:06] #660 closed

[2021-03-01 14:25] #538 closed

[2021-03-01 14:25] mathomp4 commented on #541
Closing as this looks to be done

[2021-03-01 14:25] #541 closed

[2021-03-01 14:27] mathomp4 commented on #573
@bena-nasa Have you fixed this?

[2021-03-01 14:28] mathomp4 commented on #589
@lizziel Is this still happening?

[2021-03-01 19:11] mathomp4 commented on #626
@bena-nasa @weiyuan-jiang  Have you essentially solved this by now? I think our returns are a lot better now.

[2021-03-02 14:34] bena-nasa commented on #698
This seems to have been fixed in develop so closing the issue

[2021-03-02 14:34] #698 closed

[2021-03-02 14:34] bena-nasa commented on #698
Closing, fixed

[2021-03-02 15:03] lizziel commented on #589
I added `no-recursion` to `GNU.cmake` for use with GCHP so if it is fixed then we wouldn't know. After updating GMAO libraries for the next GCHP version we can test again without it and see if it is still there.

[2021-03-02 22:42] bena-nasa opened #731 "Handling for field names with "." needs to be fixed"
The UFS/MAPL/GOCART work exposed a bug in History.
The issue is when you have "." in the field names and put them in a collection:
[code]
The problem is that History interprets this as an expression because of the "."
The causes History to unnecessarily add the field twice to the state. History tries to identify extra fields in the expression that are not already in the collection as it can pull t

[2021-03-03 13:28] mathomp4 opened #733 "MAPL Develop with GNU no longer passes layout regression"
So it turns out removing the `__GFORTRAN__` workarounds (as done in #716 and in #725) has caused an issue: GNU and MAPL `develop` no longer passes `gcm_regress.j`. GNU with MAPL 2.6.2 *does*. The output:
[code]
All restarts are different. And they seem not trivial:
[code]
I am currently doing tests to see if it is a time or layout regression error.

[2021-03-03 13:36] mathomp4 commented on #733
Confirmed: It is layout regression failure. Start-stop works fine, but 3x18 != 4x24 at, say, C24.

I'm going to try bringing back the workaround and see if that "fixes" it.

[2021-03-03 14:11] mathomp4 commented on #733
Confirmed. If I bring back all the workarounds, it regresses again. I might try an exclusion experiment. See if I can narrow down *which* workaround(s) is/are needed.

[2021-03-03 18:48] mathomp4 commented on #733
So, it looks like it is these guys that are needed:
[code]
The workarounds around `tilearea`, `tiletype`, `gridim`, `gridjm`, and `gridnames` do not seem to affect the layout regression.

I can make a PR to restore these for now (if @tclune approves), but ... maybe this shows something else?

[2021-03-03 18:55] tclune commented on #733
I want to try to take a closer look.  Maybe gfortran is actually diagnosing a real issue and a better fix is needed.  (I know @atrayano has looked before, but my memory of the details is poor.)

[2021-03-03 21:13] bena-nasa commented on #680
Reopening as there was still a bug in the updated implemention

[2021-03-03 21:26] WilliamDowns commented on #652
FYI I ended up running into a mix of indefinite hangs and quick crashes during output write on seemingly identical runs. Updating my libfabric version from 1.11.1 to 1.11.2 fixed all issues. I didn't end up trying to update MAPL.

[2021-03-04 02:43] rmontuoro opened #737 "HEAD of develop crashes with UFS-GOCART"
The HEAD of `develop` (aecee0c) crashes when running UFS-GOCART with the following stack trace information:

[code]

[2021-03-04 05:01] rmontuoro commented on #731
PR #734 seems to solve this issue, but further testing is needed once the current issues with MAPL `develop` are fixed (#737 )

[2021-03-04 13:22] tclune commented on #737
@weiyuan-jiang please give this high priority.    Even if it means we have to block off the timers for now.

[2021-03-04 13:30] weiyuan-jiang commented on #737
ok. @tclune

[2021-03-04 13:35] tclune commented on #737
@weiyuan-jiang I should add - you may need to work with @bena-nasa or @WilliamJamieson to replicate for the UFS environment.   But I'm hoping it can be replicated in GEOS when using the "local" o-server.

[2021-03-04 14:02] weiyuan-jiang commented on #737
I saw the problem even without running the program

[2021-03-04 15:01] weiyuan-jiang commented on #737
@bena-nasa , would you help me to test this branch to see if I fixed this issue? Thanks a lot.  hotfix/wjiang/profiler_cleanup

[2021-03-04 17:53] rmontuoro commented on #737
@weiyuan-jiang - I've tested your branch with UFS-GOCART and it crashed with the same error message. The stack trace is identical to the previously reported one.

[2021-03-04 17:57] weiyuan-jiang commented on #737
OK. Thanks. I will keep looking

[2021-03-04 18:00] weiyuan-jiang commented on #737
Can you show me the run_cmd in gcm_run.j ?  For example, mine looks like
$GEOSBIN/esma_mpirun -np  200 ./GEOSgcm.x --npes_model 96 --nodes_output_server 2 --logging_config 'logging.yaml'

[2021-03-04 18:08] tclune commented on #737
@weiyuan-jiang   UFS is not using GEOS scripts.       And in particular they are not using command line options and are thus using the "internal" server.

[2021-03-04 19:45] bena-nasa opened #738 "Cleanup MAPL_GetHorzIJIndex interface"
During the recent refactoring of the MAPL_GetHorzIJIndex routine the ability to be passed the grid coordinates and work on a single processor was removed, however the arguments to do this still remain. This capability was added so a program (think python and f2py) could use this to do binning on a single proccessor. This should be cleaned up; either the arguments removed, or reimplemented in the c

[2021-03-05 02:50] weiyuan-jiang commented on #737
@rmontuoro , I have made more changes. Would you please try again? https://github.com/GEOS-ESM/MAPL/tree/hotfix/wjiang/profiler_cleanup  , Hopefully,  this crash would be fixed this time.

[2021-03-05 21:17] WilliamDowns opened #739 "Extreme output performance degradation at higher core counts in GCHP using EFA fabric"
I commented in #652 that I was encountering perpetual hangs at output time in GCHP using Intel MPI and Amazon's EFA fabric provider on AWS EC2. Consecutive 1-hour runs at c90 on 2 nodes would actually alternate hanging perpetually at output time, crashing at output time, and finishing with only [a benign end-of-run crash](https://github.com/geoschem/GCHP/issues/88), all without me modifying the en

[2021-03-05 21:34] tclune commented on #739
@WilliamDowns I'm sorry that you are still encountering this issue.     The fact that it persists regardless of MPI flavor certainly suggests that the problem is in MAPL.   Unfortunately, to make progress we need to reproduce on our end which means we need to learn how to build/run your version of GCHP in an environment that shows the problem.  (E.g., maybe even running your model on our system ma

[2021-03-05 21:42] bena-nasa opened #740 "ExtData and MERRA2 aod files."
A user requested help creating an ExtData rule to ingest variables from a set of merra2 data related to the AOD analysis to 2D fields (MAPL_HorzOnly). Inspecting the files revealed an issue, as this ncdump shows:
[code]
The variable is really two dimension as the lev dimension was set to 1. The import that wants to fill this from the file is 2D. I thought when trying this ExtData would fail and we

[2021-03-05 22:26] WilliamDowns commented on #739
I'll definitely try out increasing the node count while maintaining the core count, and I'll also try more intermediate core counts. I completely understand that this is probably not reproducible on your end given the apparent reliance on Amazon's proprietary fabric. Hopefully libfabric / AWS developers can shine more light if needed.

[2021-03-08 13:05] weiyuan-jiang commented on #739
@WilliamDowns Before fighting the MPI/Fabric, I suggest you update MAPL. Now we have at least two options: 1) Only use one node as output sever. 2) use MultiGroupServer that does not not have shared memory. Here is my example of my two runs on 40-core Skylake:

1) $GEOSBIN/esma_mpirun -np  160 ./GEOSgcm.x --npes_model 96 --nodes_output_server 1 --logging_config 'logging.yaml'

2)$GEOSBIN/esma_mpir

[2021-03-08 13:44] tclune commented on #739
@weiyuan-jiang   This user is not running GEOS and is not using command line options.

@WilliamDowns  The options that are mentioned are in CapOptions and are presumably instead set by some initialization layer in GCHP.    The analogs to the above should be more-or-less obvious.

[2021-03-08 13:45] tclune commented on #739
I also don't think that GCHP is using the "external" server at all, so the proposed change is nontrivial. (Though perhaps useful from a throughput perspective.)

[2021-03-08 15:14] mathomp4 opened #742 "New ESMF Logging Errors in MAPL"
My nightly tests on Thursday night (Mar 04) triggered my "Check of ESMF errors". And indeed, when using MAPL `develop`, I now have `PET00.ESMF_LogFile` files with:
[code]
If I had to guess, I'm going with this commit: https://github.com/GEOS-ESM/MAPL/commit/56c23620da69b1d0d38d711161247cb2cdfc447b from @bena-nasa as it has a new `ESMF_StateGet` call, but I don't see why it's different than the oth

[2021-03-08 15:33] atrayano commented on #742
@mathomp4 Are we testing expressions in History with your nightly tests? The "not found" field looks like expression to me. Unfortunately, ESMF_StateGet does not have a "nice" ifPresent argument, so we could query how many items were in the state, allocate an array for the list, get the list, and check if the field is there, which is very, very tedious.

[2021-03-08 15:41] mathomp4 commented on #742
@atrayano Yes. We are. The "default" AGCM `HISTORY.rc` has:
[code]
in it, but they've been there since Git started. So we are somehow avoiding this everywhere else.

I did see [this interface](http://earthsystemmodeling.org/docs/release/ESMF_8_0_1/ESMF_refdoc/node4.html#SECTION04077900000000000000) to `ESMF_StateGet` which says it can be used to see if it returns `ESMF_STATEITEM_NOTFOUND`. I tried

[2021-03-08 15:50] atrayano commented on #742
@mathomp4 Even if your scheme would have worked, it is already too late  to check for the status- by the time the call returns, it might have already put the errors in the ESMF log file(s)

[2021-03-08 15:59] atrayano commented on #742
I think the reason this was not reporting errors before, was that couple of days ago @bena-nasa changed the strategy in History: before we were parsing the entry to check if it is an expression, and only after that we fetched the fields. Now we are checking if the entry is in the state first (this helped UFS runs) but obviously triggered the above error. So we need to do the tedious check to avoid

[2021-03-08 16:53] mathomp4 commented on #742
@atrayano Sounds good. I've already trained my brain to ignore the SCM failures, I can train it to ignore these as well for a bit

[2021-03-08 16:56] bena-nasa commented on #737
We have disabled the feature that was causing this latest crash and gotten that to develop of MAPL. I'm pulling now and will do a double check that we get a clean exit and the other issues (the point source placement code and the issue with output variables with a "." in the name in History) still appear to be resolved.

[2021-03-08 17:52] bena-nasa commented on #731
Closing this. The issue is fixed on develop.

[2021-03-08 17:52] #731 closed

[2021-03-08 17:58] bena-nasa commented on #742
Wow, late to the party for me. Yes, the issue is that I changed the logic a bit to detect if a string is an expression or not. First I check if the string is actually a field in the state but as Atanas said, there is no isPresent type argument for ESMF_StateGet. To eliminate this I would need to get the complete item list from the state, then loop over and see if any items match the string, and th

[2021-03-08 18:01] bena-nasa commented on #723
I just noticed this when looking at the output when I was checking that develop as of now fixed all the other issues. This is reproducible. The last MAPL line in develop as of the time of this message is this:
[code]

[2021-03-08 18:37] mathomp4 commented on #742
Maybe we should propose something to ESMF? I know @tclune has said if we contribute, they might turn on issues for us!

But fixing this could also be *deep* inside the C++. I could edit the interface but beyond that...

[2021-03-08 18:40] mathomp4 commented on #733
Closed in develop

[2021-03-08 18:40] #733 closed

[2021-03-08 19:32] mathomp4 commented on #436
Closing.

[2021-03-08 19:32] #436 closed

[2021-03-08 19:33] mathomp4 commented on #493
Closing this as I think we got it sort of working with #735

[2021-03-08 19:33] #493 closed

[2021-03-08 19:33] mathomp4 commented on #503
@WilliamJamieson Can this be closed?

[2021-03-08 19:35] WilliamJamieson commented on #503
Yes this can be closed.

[2021-03-08 19:35] #503 closed

[2021-03-08 19:36] mathomp4 commented on #673
@atrayano I believe this is fixed, yes?

[2021-03-08 19:38] mathomp4 commented on #674
@atrayano Did your fix above get into the code?

[2021-03-08 19:38] atrayano commented on #673
@mathomp4 this is definitely fixed but I am not 100% if it got merged into develop. I will check and get back to you.

[2021-03-08 19:53] WilliamJamieson opened #743 "Ability to run MAPL with two phases"
@rmontuoro has requested the ability to run both run phases of GOCART independently in the UFS. This is so that the UFS can better emulate how GOCART is run within GEOS. This will require changes to MAPL so that the run method for the MAPL_CapGridComp supports the optional ability to run multiple phases.

Currently, the UFS does not support running multiple phases; however, there is a push on the

[2021-03-08 19:53] atrayano commented on #673
@mathomp4 I just checked. It is not merged to develop. I have two branches that I passed to Elliot for testing (and 1 of them addresses #673 and 1 for #674). But Elliot needed one more thing from me to fully test (overload for MAPL_ConfigSetAttribute for array of integers and reals). This is all done, but Tom suggested a freeze MAPL until we deliver a stable version to NOAA, so I am putting my PR'

[2021-03-08 19:57] atrayano commented on #674
I did. But this is not integrated into develop yet (see my last comment for #673)

[2021-03-08 20:51] weiyuan-jiang commented on #743
It seems to me, in GEOS_PhysicsGridCompMod, it already runs two phases of GEOS_ChemGridComp, which runs two phases of GOCART.  What is the eventual order to run the phases of GOCART?

[2021-03-08 21:04] WilliamJamieson commented on #743
GOCART in the UFS is run independently of the GEOS_PhysicsGridComp and the GEOS_ChemGridComp (neither of these is used at all).

[2021-03-08 21:06] tclune commented on #743
NOAA is not using Physics, nor using Chemistry.       So they cannot drive it indirectly the way it currently happens in GEOS.

[2021-03-09 00:03] rmontuoro commented on #723
This issue is caused by `HRS_R` being negative, as `TIME_REMAINING ` becomes negative after the first time step. This is a consequence of setting `cap%nsteps = 1` when driving MAPL with an external clock:
https://github.com/GEOS-ESM/MAPL/blob/deddd75edcf89e554cf1c3edeb47810dff1fd247/gridcomps/Cap/MAPL_CapGridComp.F90#L255-L258 to make sure MAPL will advance each component by one time step under th

[2021-03-09 00:12] rmontuoro commented on #737
The current `develop` branch (deddd75) works with UFS-GOCART. Issue #723 remains open.

[2021-03-09 14:01] bena-nasa commented on #723
@rmontuoro @atrayano I agree that just making the throughput diagnostics optional is the simplest thing here. Either a resource parameter or just disable if the internal clock is detected, perhaps the latter?

[2021-03-09 14:03] lizziel commented on #640
Just seeing this issue for the first time now. To be clear, the new behavior will be such that a pre-existing restart file with the same name as configured in `AGCM.rc` (or `GCHP.rc` in our case, namely `gcchem_internal_checkpoint`) will NOT cause the run to crash. Can you confirm that?

I previously added code to GCHP run scripts to rename the restart to include timestamp and keyword "restart" to

[2021-03-09 14:16] tclune commented on #723
@rmontuoro We think that the "error" messages above in debugging are just exaggerated warnings about bad formats.   Others have observed that the run does not actually terminate.   We are investigating to see which specific edit descriptor(s) are actually the culprit.

[2021-03-09 14:19] tclune commented on #723
Ah the dangers of responding to the earliest email first.   I now see others are advocating a larger hammer.

[2021-03-09 14:23] bena-nasa commented on #723
There seem to be too bad descriptors when I examine the output:
[code]
The bad formatters correspond to the loop_throughput and HRS_R if you examine the write. As @rmontuoro has pointed out HRS_R depends on this time_remaining computation which will go negative because of the fact %nstep is 1 in the way UFS is using so what we are doing doesn't really make sense in the external clock context.
I th

[2021-03-09 16:07] mathomp4 commented on #640
I'm re-opening this and pinging @bena-nasa and @tclune. I closed it just because I saw a merged PR.

[2021-03-09 16:25] tclune commented on #640
I have forgotten the reservations about allowing this.  Certainly the change to the source code is trivial.

[2021-03-09 17:57] #723 closed

[2021-03-09 23:20] WilliamDowns commented on #739
So I've been playing around with different core and node counts / distributions: 72 cores distributed across 8 nodes runs fine, and I was able to consistently successfully run on up to 144 cores regardless of node count. At 192 and 216 cores, the model runs successfully without hanging in about half of my runs, but hangs in the other half (without me changing anything about the run configuration).

[2021-03-10 00:20] atrayano commented on #743
@weiyuan-jiang MAPL_CapGridComp should simply run whatever phase the caller wants. The order is determined by the caller, not by MAPL_Cap. Since you asked, the GEOS Physics calls phase 1 of Chem between calls to Surf, and Turb (also phase 1), and then calls phase 2 of Surf, Turb, Chem. But again, this is how GEOS calls Chem. NOAA will decide how they will call it. We just need to make it possible.

[2021-03-10 13:28] tclune commented on #739
Changing the o-server options requires also requesting more MPI processes.    But I would have hoped that we issue an error message rather than hanging.   I'll ask the @weiyuan-jiang to check on whether we can trap that error in a more useful manner.

The biggest signal here still seems to be that the problems happen for both OpenMPI and IntelMPI which strongly indicates a problem on the MAPL side

[2021-03-10 13:53] mathomp4 commented on #739
Query: Are you disabling hyperthreading on your compute nodes? I know that people here testing on AWS (with various programs and benchmarks) found that they had to disable hyperthreading on the AWS c5/c5n (for example) nodes otherwise performance was not as good as expected.

Note I am trying to get back in the AWS game but GCHP is quite ahead of me. It might be a while until I can test at this sc

[2021-03-10 14:47] WilliamDowns commented on #739
Libfabric just released 1.12.0 officially two days ago (I had previously been using their development branch after 1.11.2 wasn't working), so I'll try updating to that new release and see if it solves anything.

[2021-03-10 17:13] rmontuoro opened #748 "Remove test code fragment from MAPL.base library"
The [tstqsat.F90](https://github.com/GEOS-ESM/MAPL/blob/7029268300e54c32a19fce5516f0fb13d2e47ec1/base/tstqsat.F90) code fragment should be removed from `MAPL.base` and refactored into a unit test, if needed. See [base/CMakeLists.txt](https://github.com/GEOS-ESM/MAPL/blob/c80a8e2ad58a328eaa589066bce67ee5756ff4d1/base/CMakeLists.txt):
[code]
The code is not encapsulated in a Fortran program unit and

[2021-03-10 18:15] tclune commented on #748
It is not a code fragment.  It is a fully formed program, though a bit obscure by modern conventions.   The initial PROGRAM statement is not required, and is implied if absent.   The final "END" suffices to end the program.

Changing from BUG to cleanup.  Low priority.

[2021-03-10 20:31] rmontuoro commented on #748
@tclune - agreed.
I did notice this legacy program being executed surprisingly on Orion when `MAPL` was used in a basic test program:
[code]
This behavior might be related to compiler issues and it is not fully reproducible.

[2021-03-10 21:40] WilliamDowns commented on #739
Libfabric 1.12.0 did not solve the issue.

Relevant run configuration files (the mostly default contents of which I'll past below) include a CAP.rc file:

[code]

and a GCHP.rc file:

[code]

I'm using Slurm to submit runs (usually with `srun`, but can use `mpirun`). Relevant pieces of our standard submission scripts look like:

[code]

For tweaking different CapOptions, I've been changing values

[2021-03-10 21:41] tclune commented on #748
You have piqued my curiosity.   I cannot see how anything in our system can be "executed suprisingly".    Either one must explicitly launch the executable, or you can run the suite of tests.  I'm unaware of this particular program and it violates my usual rules that a successful test should not produce output.

[2021-03-11 14:46] rmontuoro commented on #748
I suspect that a glitch in the `Makefile` used the build the test program above on Orion prevented this program from being compiled at all. The resulting executable was then created by just linking the MAPL libraries. The linker did not complain since `main` was provided by `MAPL.base` in `tstqsat.F90`, then executed "unexpectedly" when running the resulting binary.

The behavior is reproducible i

[2021-03-11 15:24] WilliamDowns commented on #739
Source code is available from [https://github.com/geoschem/GCHP](https://github.com/geoschem/GCHP). Compiling and run directory creation instructions are available at [https://gchp.readthedocs.io/en/latest/index.html](https://gchp.readthedocs.io/en/latest/index.html). I'll push a branch that includes the extra updates I included (MAPL 2.4->2.5 + those two commits I mentioned) momentarily.

[2021-03-11 16:38] weiyuan-jiang commented on #739
It seems to me that GCHP should be able to run as GEOSgcm does with the flap options.  Would you please compile and run this program in your system and send back the print out to me?

mpif90 test.F90
mpirun -np 100 ./a.out

test.F90
program main
   use mpi
   implicit none
   integer :: node_comm, node_npes, node_rank
   integer :: rank, npes, ierror

   call MPI_init(ierror)

   call MPI_Comm_ran

[2021-03-11 17:20] WilliamDowns commented on #739
On 36-core AWS EC2 c5n.18xlarge nodes:

[code]

Also, the branch I mentioned above is now available on the GCHP repo as `feature/oserver_tweaks`.

Thank you very much for your assistance. Let me know what more you need me to do / provide.

[2021-03-11 17:29] mathomp4 commented on #644
![Good News!](https://media.giphy.com/media/3zFcbgHoIXzykQc7vU/giphy.gif)

I was able to build and run GEOS with Intel oneAPI on discover. I'm going to try it now on my laptop.

[2021-03-11 19:02] tclune commented on #748
@mathomp4 Do you recall why you added this program into MAPL?     I'm sure we can find a better subdir now if it is still needed.

[2021-03-11 19:04] tclune commented on #748
Oh - and I'd not understood that this was _in_ the library.   I thought it was just _in_ the directory.    I'm actually surprised that this does not break the build under OSX.  Usually one cannot have to mains, as the linker will complain.   Retagging this as a bug with my new understanding.

[2021-03-11 19:06] tclune commented on #739
@weiyuan-jiang  GCHP does not want to use FLAP.   We've already accommodated them there.   They _do_ use the Options (via CapOptions) but sidestepping FLAP itself entirely.  Just wanted to be clear about that.

[2021-03-11 20:42] weiyuan-jiang commented on #739
Then we probably should provide an alternative for command line interface input. How about an input.nml file? or a YAMAL file?

[2021-03-11 20:47] tclune commented on #739
They don't want a command line interface.   Otherwise they would use FLAP.   All that FLAP is doing is populating CapOptions.  GCHP populates those options via a different mechanism.

[2021-03-11 21:33] mathomp4 commented on #644
Bad news everyone!

I still have the baffling FLAP issue on macOS. `ExtDataDriver.x --help` shows the FLAP help. `GEOSgcm.x --help` seems to avoid FLAP.

[2021-03-12 00:38] weiyuan-jiang commented on #739
We can test what this issue was. The MAPL version you have now must have shared memory across nodes if oserver uses multi nodes.  Notes that without any configuration, the oserver overlap with the application ( For example, it has 8 nodes in above example you post) .  We can try a single node oserver though.  Here is how to configure ( I am using you example):

1) Acquire 9 nodes :
#SBATCH -n 324

[2021-03-12 14:29] #748 closed

[2021-03-12 15:12] WilliamDowns commented on #739
So after testing and getting some errors I discovered that I had previously been glossing over an extra step in our run configuration process: we use a script to automatically set some run variables, and I had been inputting the total number of cores and nodes (in this case 324/9) there. This was setting `NX` and `NY` in GCHP.rc to take up all of the 324 cores. Changing those settings to use 288/8

[2021-03-12 15:39] WilliamDowns commented on #739
I also confirmed that this runs successfully in the version of MAPL in our main branch of GCHP (2.2.7?) if I additionally set `npes_output_server`.

[2021-03-12 16:00] weiyuan-jiang commented on #739
That is encouraging.  NX x NY is the npes_model,  the total is npes_model + npes_oserver.  However the total will exceed the sum in case  npes_model can not occupy the whole node. Lets take an example to do the calculation. In a 36-core node, if nx = 10, ny = 60, it will take 17 nodes. So for 1-node oserver,  the total would be 17*36 + 36 = 648.  The npes_model is still 600.  Those extra cores wil

[2021-03-12 18:10] WilliamDowns commented on #739
Thanks for the explanation, that makes sense. I'm trying out higher core counts / resolutions, and 1 node is giving me a segfault / HDF5 error at c180 on ~1100 cores. I'm trying to do 3 nodes as you described, but if I only change `nodes_output_server=[1,1,1]` I get:

[code]

[code]

Are there other settings I need to change to run with multiple oservers?

[2021-03-12 18:35] weiyuan-jiang commented on #739
can you post  line 217 for me?

[2021-03-12 18:36] WilliamDowns commented on #739
[code]

[2021-03-12 18:59] WilliamDowns commented on #739
Yeah unfortunately I made that change and now the model says `Starting pFIO output server on 1 nodes` once and then hangs.

[2021-03-12 19:15] weiyuan-jiang commented on #739
In my test.F90, would please change the line to

if (node_rank == 0) print*, "node root rank :", rank

I want to see how the ranks are arranged in AWS .

[2021-03-12 19:16] weiyuan-jiang commented on #739
And also please post your setup and run script here. Thanks

[2021-03-12 19:24] WilliamDowns commented on #739
[code]

[2021-03-12 19:28] weiyuan-jiang commented on #739
The rank arrangement looks right to me. I am still confused that you cannot start multiple oservers. Can you still run 1-node oserver with the high count run?

[2021-03-12 20:07] WilliamDowns commented on #739
I just realized that for my 3 oserver run I had forgotten to up my mpirun process count from 324 to 396 in my `mpirun` call. Fixing that causes multiple oserver c90 runs to work properly. My apologies for the confusion.

The c180 runs (tested with multiple oservers and 1 oserver) progress all the way to the checkpoint writing stage (past writing output, where the main hang I opened this issue for

[2021-03-12 21:06] WilliamDowns commented on #739
Unfortunately rebuilding with Parallel-netCDF libraries didn't solve that seg fault issue. I'll see if I can make sure it's not an out-of-memory issue.

[2021-03-16 15:38] weiyuan-jiang commented on #739
If it is memory issue, I suggest you use the new version of MAPL,  whcih can have multiple nodes as oserver without shared memory.

[2021-03-16 15:43] tclune commented on #739
@WilliamDowns How much flexibility do you have to actually bring in new versions of MAPL?    We ordinarily coordinate such things with @lizziel .

[2021-03-16 16:33] WilliamDowns commented on #739
I would prefer not to need to attempt a full update of MAPL if it can be avoided. The update to 2.5 was already available to me through a series of pending PRs, and I cherry-picked a few more recent commits as I mentioned. Would it be at all possible to get the non-shared memory oserver functionality through a series of individual commits?

Still looking into the cause of the HDF5 crash.

[2021-03-16 20:15] lizziel commented on #739
I'm updating all of the GMAO libraries we use (13!) this week. I hope for it to be working very soon.

[2021-03-16 20:50] WilliamDowns commented on #739
I actually had a "successful" run earlier today (output + checkpoints + timers at the end), but still with an error (no segfault though) appearing during final timers (after successful checkpoint write) indicating the HDF5 object was unable to be properly closed. I verified the checkpoint file is actually openable and all variables in it readable. I repeated this run 4 more times and ended up with

[2021-03-17 14:15] bena-nasa opened #756 "Bug with splitField and identical fields in different collections"
User @rmontuoro reported an issue when testing the UFS that if he tried to write two distinctly named collections with identical fields (one is time averaged, other is not) like so:
[code]
This looks like an issue with the split option. I was able to reproduce this in a hack of my ExtDataDriver and see this:
[code]
From what I can tell, it looks like the split option adds the split fields back to

[2021-03-18 01:22] rmontuoro commented on #756
I can confirm that PR #758 fixes the issue for UFS-GOCART. Thanks @atrayano and @bena-nasa!

[2021-03-18 12:11] mathomp4 commented on #742
I'm changing the title of this. Turns out this error is also in MAPL 2.6.3. How do I know this? Well, last night Scott took an update PR to MAPL 2.6.3 and:
[code]
ESMF logging errors everywhere!

[2021-03-18 12:11] #756 closed

[2021-03-18 12:12] mathomp4 commented on #742
Note: MOM5 and MOM6 runs do not show the error because they use a different history.

[2021-03-18 12:22] #644 closed

[2021-03-18 13:10] atrayano commented on #673
This issue was addressed with PR#758

[2021-03-18 13:10] #673 closed

[2021-03-19 00:04] atrayano commented on #742
@mathomp4 I fixed the ESMF errors in the PET log files related to the expression parsing in History. I had to change only a single line in History. I have not committed my changes yet, because in the process I discovered also yet another (different) entry in the PET*.log files:

20210318 195333.847 ERROR            PET00 ESMF_Clock.F90:887 ESMF_ClockGetAlarm() Failure  - Internal subroutine call r

[2021-03-19 14:21] mathomp4 opened #762 "2-Moment Moist is non-zero-diff with MAPL develop"
This might be a "we expect that Matt" thing, but my tests last night showed that if you run MOM6 (or MOM5) with MAPL `develop` it is non-zero-diff to MAPL v2.6.3 (the version in GEOSgcm `main`). This is a real-life, state-is-different change:
[code]
I am going to build GEOS with MAPL v2.6.4 and see if I can at least figure out where the change came in. (CC @sanAkel @yvikhlya )

[2021-03-19 14:24] sanAkel commented on #762
@mathomp4 Not sure what's different/changed?

?

[2021-03-19 14:26] yvikhlya commented on #762
Is it because of MAPL update or because of all the staff we merged into develop in GEOSgcm_GridComp?

[2021-03-19 14:27] mathomp4 commented on #762
My test is the difference between using MAPL v2.6.3 and MAPL `develop`. That is all I changed in the nightly tests I'm comparing. The AGCM showed no difference at all, but MOM5/6 do.

[2021-03-19 14:29] mathomp4 commented on #762
As I said above, I am building GEOS with MAPL v2.6.4 now. That can at least help us bracket where the difference occurs.

[2021-03-19 14:49] mathomp4 commented on #762
Update. The difference appears to be between v2.6.4 and `develop` as v2.6.3 and v2.6.4 are zero-diff.  Thus, it must be due to (one of?) these changes:

https://github.com/GEOS-ESM/MAPL/compare/v2.6.4..develop

which is...surprising. There is not much there. I'm going to start grabbing commits and see what I can see.

[2021-03-19 14:53] tclune commented on #762
In the words of Scooby-doo,  "ruh-roh".    Yeah - not a FP calculation in sight in those MAPL changes.      I guess the next step is to start from 2.6.4 and cherry pick the other things on develop to see which breaks it.    This of course assumes its not some weird combination.

But at best this must be some sort of memory corruption from what I can see.

[2021-03-19 15:17] mathomp4 commented on #762
First update. These are fine:
* base/MAPL_CubedSphereGridFactory.F90
* CHANGELOG.md

[2021-03-19 15:19] mathomp4 commented on #762
Yeah. This is the one that hopefully doesn't happen!

[2021-03-19 15:35] sanAkel commented on #762
@yvikhlya can you list what you worked something out with @bena-nasa on using `MAPL_CubedSphereGridFactory.F90` I recall there was some thing:
- for `HISTORY.rc` which I am can not be seen in comparing `fvcore_internal_checkpoint`! so ✖️ that out!
- there was some sea grid thing ...??

[2021-03-19 15:40] mathomp4 commented on #762
I have an idea that I am testing now.

[2021-03-19 15:41] mathomp4 commented on #762
@sanAkel No. the CubeSphere change is fine. That one didn't cause the difference. But as I said above, I think I have an idea

[2021-03-19 16:00] mathomp4 commented on #762
Huh. well, my idea didn't pan out. Hmm. I mean, I found a bug and I hoped that was the issue. But nope. Back to a careful survey!

[2021-03-19 16:02] yvikhlya commented on #762
I never worked out anything in MAPL_CubedSphereGridFactory.F90

[2021-03-19 17:11] mathomp4 commented on #762
Update. Looks like if you take all the files in `develop` except for `profiler/BaseProfiler.F90` it is still zero-diff. Baffling. I'll start bisecting that file now...

[2021-03-19 18:17] mathomp4 commented on #762
Testing seems to show that the change that matters was going from:
[code]
to:
[code]
can cause the non-zero-diffness. 🤷🏼‍♂️

[2021-03-19 18:47] sanAkel commented on #762
@mathomp4, @tclune what does `node%has_child(name)` check? some introduction, please! Thanks!

[2021-03-19 18:58] tclune commented on #762
The timers form a tree of nodes.   `has_child(name)` returns true/false depending on whether node has a child timer of the given name.

Note that the change above is just changing the structure of the logic. around the block with the `has_child()`

There really is no evidence that there is any bug anywhere around this implementation, and the implementation it replaced is provably buggy, though a v

[2021-03-19 19:15] sanAkel commented on #762
@tclune Appreciate that explanation.

In that case, and if _this_ change is the **sole** reason for a different answer, I am willing to take the change, by categorizing it as "a bug fix"!

[2021-03-19 19:30] tclune commented on #762
It's not that simple though.   (A) the bug it fixes was not happening in practice, and (B) the change should not affect results anyway.

I agree that we currently have no evidence that the new results are better or worse than the old, but the situation is simply not acceptable.   I would prefer to revert the change (after maybe trying more variants) than assuming the change is ok.    At least if w

[2021-03-19 19:38] sanAkel commented on #762
I wasn't aware of ⤴️ (B), 🙇 @tclune

of course not!

I had been planning on a new run with MOM6 (need to check somethings first). Is it worth:
1. revert for now?
2. try it in an experiment?
So @GEOS-ESM/ocean-team and @GEOS-ESM/gmao-si-team 🤝 ?

[2021-03-19 19:47] mathomp4 commented on #762
Update of extra tests running MOM6, 1 day, c90:

| Compiler        | Build Type           | Zero-diff main v develop |
| ---------- |:-------------:| :-----:|
| Intel | Release | :x: |
| Intel | Debug      |  :heavy_check_mark:   |
| GNU | Release      |  :heavy_check_mark: |
| GNU | Debug|   :x:   |

Uhhhh... yeah. 🤷🏼‍♂️

[2021-03-19 19:49] tclune commented on #762
Ha!     We have a clear direction to proceed!

[2021-03-19 19:50] mathomp4 commented on #762
Note: I've probably never compared MAPL `main` v `develop` with GNU. For all I know that's normal.

All I really can say is that Intel Release `main` v `develop` should be zero-diff!

[2021-03-19 19:54] tclune commented on #762
@sanAkel We don't really have any advice at the moment.     Quite a distressing situation.

[2021-03-19 21:02] sanAkel commented on #762
Sorry @mathomp4 There is no progress in coarse resolution MOM6 ocean grid. You are the second person to me remind ... Besides Miguel https://github.com/NOAA-GFDL/FRE-NCtools/issues/35#issuecomment-800535360 😓 got to get to it and connect with Atanas ...

[2021-03-22 12:16] mathomp4 commented on #742
I can confirm that #766 will close this. My nightly tests show that all the MAPL `develop` tests do not have ESMF errors logged. Thanks, @atrayano!

[2021-03-22 13:18] #743 closed

[2021-03-22 13:36] weiyuan-jiang commented on #737
@rmontuoro .  How do you build your FMS library? is it static ( libfms_r4.a and libfms_r8.a) or dynamic ( libfms_r4.so and libfms_r8.so).  My question is not related to this issue though.

[2021-03-22 14:20] mathomp4 commented on #762
So, it looks like this happens after one step. I ran MOM6 for 300 seconds (by default it's 450, but I made it easy on myself) and:
[code]

[2021-03-22 14:27] atrayano commented on #762
@mathomp4 Thanks! This many differences in FV after 1 step (and this large) are most likely FMS related

[2021-03-22 14:29] mathomp4 commented on #762
Also, though I'll probably need @sanAkel to try and interpret, but I edited `MOM_override` in each 1step and turned on all the verbose things:
[code]
I think I remember @sanAkel asking me to do this once, so I figured it could hurt. The first difference I see seems to be under:
[code]
[code]
so, `Before steps forces%tau[xy]` looks like the first time MOM does "something" in its run step? The mom s

[2021-03-22 14:31] mathomp4 commented on #762
I have a possible thought as well I'm going to try now. Namely, what if we do "everything r8" like in the ye olde days. No mixing r4/r8

[2021-03-22 14:53] sanAkel commented on #762
@mathomp4 nice you recall those debugging flags (for MOM6) 👍 However, I do want to make sure I understand this symptoms in the fullest extent! The non-zero diff in answer is obtained for MOM5 as well

Your choice of testing with MOM6 is good, just want to make sure of that. Thanks! 🙏

[2021-03-22 14:57] yvikhlya commented on #762
This could be due to non zero difference in atmosphere stress forcing.

[2021-03-22 15:20] sanAkel commented on #762
@mathomp4 It may seem _unrelated_ but perhaps it does?
https://github.com/GEOS-ESM/GEOSgcm_GridComp/pull/409 It is not something I understand _well_, `GST`, `WW` bug fix was tested with coupled right? I don' t recall testing its impact and neither do I see any note in the conversations. Of course, the only change here seems MAPL and change in the order of children as @tclune explained https://gith

[2021-03-22 15:48] mathomp4 commented on #762
Well all of my tests have that fix in it. So I am comparing like to like. I *only* changed the MAPL branch. That is it.

[2021-03-22 16:27] gmao-esherman opened #769 "splitField feature broken in HISTORY"
History is failing on collections that have variables with different values for the ungridded dimension, even with `collectionName.splitField: 1`.

This was working at some point. I think it might have broken when something else was fixed for NOAA's UFS system. Error is below.

pe=00094 FAIL at line=00411    MAPL_VerticalMethods.F90                 <have mixed level/edge>
pe=00094 FAIL at line=001

[2021-03-22 20:36] mathomp4 commented on #762
As an extra data point, I build GEOS with `FV_PRECISION=R8` and that does not fix this issue. So, it does not seem to be related to the r4/r8 FMS business. Maybe.

[2021-03-23 20:04] mathomp4 commented on #762
Another update. @tclune had a thought to try both MAPL `main` and `develop` but just compile MOM6 with `Debug` while keeping everything else in `Release`. However, doing this, still is non-zero-diff between MAPL `main` and `develop`.

[2021-03-23 20:05] mathomp4 commented on #762
Since this is MOM related, I suppose my next test will be to turn off heap arrays in...MAPL? Everywhere? We know MOM was sensitive to heap-arrays in FMS, maybe this is now showing its head in MAPL

[2021-03-24 14:51] mathomp4 commented on #762
Well, not sure what's happening. I've tried:

* `-no-heap-arrays` everywhere: FAIL
* Only MOM6 `Debug`: FAIL
* Only FMS `Debug`: FAIL
* Only MAPL.profiler `Debug`: FAIL
* Only MAPL.profiler and MAPL.shared `Debug`: FAIL

[2021-03-24 15:08] sanAkel commented on #762
@mathomp4 what does
**FAIL** =
- crash?
- non-zero diff?
- ...?

[2021-03-24 15:10] mathomp4 commented on #762
FAIL means that MAPL `main` does not equal MAPL `develop`

[2021-03-24 15:13] sanAkel commented on #762
Does that mean, `-no-heap-arrays` is not related to `Debug` build for MOM6, FMS, MAPL, etc? basically https://github.com/GEOS-ESM/MAPL/issues/762#issuecomment-805200248 is a _dead end_? 😞

[2021-03-24 18:07] WilliamDowns commented on #739
Unfortunately updating to MAPL 2.6.4 did not fix the HDF5 crash issue for Intel MPI on AWS at high resolutions. However, updating to 2.6.4 did allow me to try out OpenMPI with the oserver enabled for the first time, which does work (as opposed to Intel MPI). I can do a 1-hour c180 run on 288 model cores and get a total runtime of 24 minutes if using the EFA fabric vs. 11 minutes with TCP. When usi

[2021-03-24 18:23] weiyuan-jiang commented on #739
I am glad to know you have upgraded to v2.6.4. Now we got a chance to use different server type. What we need to do is  change two parameters in CapOptions

oserver_type = 'multigroup'
npes_backend_pernode = 5

With above configure, we don't use shared memory any more.

[2021-03-24 19:38] WilliamDowns commented on #739
With those options (plus `npes_model = 288`, `cap_options%nodes_output_server=[1,1,1]`, 11 nodes / 396 cores total), I encounter an apparent hang (but no crash after 25+ minutes) on the fabric / MPI combinations I've tested so far (Intel MPI + EFA and OpenMPI + TCP). This is the last output:

[code]

[2021-03-24 19:39] mathomp4 commented on #762
Yeah. All my tests so far have shown no change (save for all `Debug`)

[2021-03-24 19:59] weiyuan-jiang commented on #739
Can you try
npes_model = 288
nodes_output_server=[3]
oserver_type = 'multigroup'
npes_backend_pernode = 5

[2021-03-24 20:00] weiyuan-jiang commented on #739
If no crash, you may use Ctr C to stop the program and see where it hangs.

[2021-03-24 21:26] WilliamDowns commented on #739
Unfortunately that change yields an HDF5 crash as before with Intel MPI (completes fine with OpenMPI).

[2021-03-24 21:33] weiyuan-jiang commented on #739
Are you using the HDF5 libs build by @mathomp4 in the baselibs?

[2021-03-25 12:27] tclune commented on #739
No.  GCHP does not use baselibs.

[2021-03-25 14:18] WilliamDowns commented on #739
To confirm this isn't a universal issue with my HDF5 setup (built through Spack), I built the same set of libraries / MAPL updates on Harvard's cluster and completed a successful run with Intel MPI. On AWS I also tried setting `WRITE_RESTART_BY_OSERVER` to `NO` and still get the same HDF5 error.

[2021-03-25 18:56] WilliamDowns commented on #739
Turns out the stack trace is actually occurring during writing model output diagnostics rather than during writing the checkpoint file. My current crashing Intel MPI setup has been outputting a corrupted file everytime for our largest default diagnostic (species concentration). If I disable the species concentration diagnostic, the model completes without error. If I disable all diagnostics except

[2021-03-25 19:08] weiyuan-jiang commented on #739
Does that mean a memory issue? If so, I suggest you divide the biggest file into some smaller ones with less variables in it. And please use more servers , i.e., do not use [1,1,1], instead, use [3] . The oserver will distribute the files among different nodes so the output files will not concentrate on one node.

[2021-03-25 21:13] mathomp4 commented on #739
One coincidence. I was helping out Dan Duffy who's trying to run our FV3 Standalone on AWS using Intel MPI and I found an issue by one @WilliamDowns that pointed me to `MPIR_CVAR_CH4_OFI_ENABLE_RMA=0` which is letting him run.

Now my great fear is now somehow this flag is causing this issue in MAPL (we are running FV3 without any History or checkpointing because...it's not working well/at all on

[2021-03-25 21:23] WilliamDowns commented on #739
Luckily I've tried toggling `MPIR_CVAR_CH4_OFI_ENABLE_RMA` on and off and it doesn't change anything for me anymore (possibly because I'm now running a very up-to-date libfabric / Intel-MPI 2019).

[2021-03-26 13:22] mathomp4 commented on #739
Well, I can tell you it's still needed with Intel MPI 2021.1 from oneAPI for our tests!

[2021-03-26 20:34] lizziel opened #779 "Timer Initialize pair issue with MAPL 2.6.4 using ifort19 in GCHP"
I am running GCHP using MAPL v2.6.4 and am getting a run-time error when using ifort19.0.5 with OpenMPI 4.0.2. Strangely I have not encountered any run issues when using GNU fortran compilers.

The traceback is as follows:
[code]

The error is caught in subroutine `stop_name` (see code [here](https://github.com/geoschem/MAPL/blob/7ae156c7cbd2d7a1fefea73245a786b4631c4fad/profiler/BaseProfiler.F90#L

[2021-03-29 04:15] rmontuoro opened #780 "MAPL no longer builds with BUILD_WITH_FLAP=NO"
Commit be2fa9bc introduced additional FLAP dependencies in the MAPL build system preventing the `HEAD` of MAPL `develop` branch (00e1f89) from building if `BUILD_WITH_FLAP=NO`

[2021-03-29 13:34] mathomp4 commented on #779
@lizziel You are stumping @tclune and myself. But it is interesting that it's hitting the same code as we are looking at in #762.

Is this reproducible for you? We tried looking through the call stack and we don't see any compiler dependence throughout it!

[2021-03-29 21:02] lizziel commented on #779
Yes this is reproducible. I rebuilt from scratch with the same libraries and got exactly the same error. I then tried with ifort 18.0.5. That gives me a different error, specifically when loading the logging yaml file [here](https://github.com/geoschem/MAPL/blob/7ae156c7cbd2d7a1fefea73245a786b4631c4fad/base/ApplicationSupport.F90#L108). Are the libraries I am using all expected to be compatible wi

[2021-03-29 22:40] WilliamDowns commented on #739
I tried increasing the number of oservers (tested a range of values all the way up to 24) and increased and decreased `npes_backend_per_node` without success (actually seemingly ran into hangs at very high server counts where runtime was over 3 hours).

[2021-03-30 13:01] mathomp4 opened #782 "Migration to ESMF_Info"
As I'm doing some test builds with ESMF 8.1.0, from their release notes:

and from [the documentation](https://earthsystemmodeling.org/docs/release/ESMF_8_1_0/ESMF_refdoc/node6.html#SECTION06020000000000000000):

I suppose the fact that the docs for ESMF_Attribute are now in an Appendix is a sign to start looking at this.

Though, as @atrayano, @bena-nasa and @tclune know, ESMF_Attribute is nigh-o

[2021-03-30 13:09] tclune commented on #782
My limited understanding is that this was more of an internal design change and that the existing interfaces are backward compatible.  No?

[2021-03-30 13:13] mathomp4 commented on #782
@tclune Yes, they are. And I imagine if we request ESMF to keep it in the code they will, I just wanted to bring up the fact that they seem to be pushing ESMF_Info.

Indeed, I think one of the early reasons we couldn't use ESMF 8.1.0 snapshots was that the migration sort of "broke" ESMF_Attribute (something to do with 32 or 64 bits? Can't remember).

Annoyingly, the ESMF_Info class seems to be *mo

[2021-03-30 13:25] tclune commented on #782
We can always write our own wrappers if the 1-2 combo is frequent enough.

[2021-03-30 15:04] weiyuan-jiang commented on #739
It will hang if the npes of frontend exceed npes of the model. Can you show me your setup of CapOptions?

[2021-03-30 16:24] WilliamDowns commented on #739
Here are my current CapOptions (which yield the same error I've been getting):

[code]

Anything commented out is a setting I've tried (I've also tried several other combinations of values for `nodes_output_server`, `npes_backend_per_node`, and `n_oserver_group`).

I will also note that the SpeciesConc History output file (the largest) writes up to 15.9GB, then stops for about 30 seconds, then I r

[2021-03-30 17:51] WilliamDowns commented on #739
I set `npes_backend_pernode=1` and received an error when starting the run:

[code]

Also, I did a run with all HDF5 debug flags enabled. Here's the end of the output + error message:

[code]

[2021-03-30 18:11] weiyuan-jiang commented on #739
You need to comment out that line which is obsolete  line=00107    ServerManager.F90

[2021-03-30 20:45] tclune commented on #779
Returning to this issue with a bit more clarity.   In my first discussion with @mathom4, I was trying to see how the start() and stop() operations on the `Initialize` timer could be imbalanced.     It is very clear from the code that as far as GenericWrapper() is concerned the timers are properly handled.    What I missed in that discussion, is that this implies some procedure deeper in the tree m

[2021-03-31 13:10] lizziel commented on #779
Thanks @tclune. I'll try that and see if it fixes it. In the meantime yesterday I switched MAPL to v2.6.3 and that resolved the problem. I still get the `LHS and RHS of an assignment statement have incompatible types` error when using ifort18 however. Have you tested with ifort18, or is the minimum expected to be 2019?

[2021-03-31 13:29] tclune commented on #779
I have not used 18 in a while (Intel makes it hard to sustain older compilers across the mandatory OS X upgrades on my laptop).       That particular error sounds familiar though, and I don't think I ever came up with a workaround.   If you can remind me where you are getting that error message, I can take a fresh look and suggest some possible variants.

[2021-03-31 14:37] lizziel commented on #779
Here is the traceback for the ifort18 issue in MAPL v2.6.3 and v2.6.4. The last version used in GCHP was v2.2.7 so this could have come in any of the versions since.
[code]

[2021-03-31 14:39] lizziel commented on #779
Here's a [quick link](https://github.com/geoschem/MAPL/blob/7ae156c7cbd2d7a1fefea73245a786b4631c4fad/base/ApplicationSupport.F90#L108) to the location in `ApplicationSupport.F90`.

[2021-03-31 15:12] tclune commented on #779
And this is with the default logging.yaml file?   (Sounding more and more familiar.)

[2021-03-31 17:40] lizziel commented on #779
Not quite default. It the file you gave to Seb a while back, although I had to change `propagate` from `0` to `false`: https://github.com/geoschem/geos-chem/blob/dev/run/GCHP/logging.yaml.

My understanding is the only difference from the one you use in GEOSgcm is [this](https://github.com/geoschem/geos-chem/blob/12e6049db475f19889374a57b0f504dc0972e510/run/GCHP/logging.yaml#L92-L96).

[2021-04-01 15:22] tclune commented on #779
I was able to parse your yaml file with a standalone driver using the latest yaFyaml (main branch) and ifort 18.0.5 on Linux.

There is a separate problem with this yaFyaml because I accidentally made it require pFUnit which was not my intent.   I'll to a hotfix for this shortly.

The conclusion is that I either entered a workaround for the problem you described, or it is a bit harder to reproduce

[2021-04-01 15:28] tclune commented on #779
Could not find anything in the commit history.  Indeed the relevant file has not been touched in 7 months.   But Liam already at an unrelated PR that fixes the pFUnit issue.   So I'll roll out a new release and request that you try it in your code.

[2021-04-01 17:21] lizziel commented on #779
Thanks @tclune. I'll look for that release.

[2021-04-01 17:22] lizziel commented on #779
Ah, just saw it's already released. I'll try it and let you know how it goes.

[2021-04-01 18:05] lizziel commented on #779
Unfortunately that doesn't fix it. Would changing anything in `logging.yaml` provide more information? Compiling with `-DCMAKE_BUILD_TYPE=Debug` does not.

[2021-04-01 18:30] tclune commented on #779
I only use `-DCMAKE_BUILD_TYPE=Debug` in my own work.

I'm going to attach
[reproducer.tar.gz](https://github.com/GEOS-ESM/MAPL/files/6245758/reproducer.tar.gz)
my reproducer.  It would be interesting if you could try it in your environment?   You'll  need to copy your yaml file into the build dir and run driver.x.

[2021-04-01 20:37] lizziel commented on #779
I haven't gotten that to work yet. We do not use yaFyaml as an external library and I'm taking a break from messing around with cmake. But I did isolate the issue to this line: https://github.com/geoschem/yaFyaml/blob/7f16059ebc95083dd1e77954296798c745f9a287/src/Lexer.F90#L316

[2021-04-01 20:49] tclune commented on #779
Yes - definitely a compiler bug, but I can't attempt a workaround unless I can reproduce it.

You don't have to use cmake.  You could just add my small program within the project that is using yafyaml or even make it a subroutine that gets called from the top of an existing program.  Just want to see if it is a difference in your environment vs something to do with the state of the code when it ge

[2021-04-02 00:14] lizziel commented on #779
Gotcha. I added this to the very top of main `GCHPctm.F90`.
[code]
This also trips the error, but with better traceback, although to the line I already figured out was the issue:
[code]
I don't think I mentioned what libraries I'm using yet. Here they are in case it makes a difference.
[code]

I found an Intel forum discussion on this error being encountered in ifort18 [here](https://community.int

[2021-04-02 13:32] tclune commented on #779
Unfortunately, I cannot follow your ifort18 link.  I'm in a spiral where it keeps making me register.

The only versions of libraries that can possibly matter are gFTL and gFTL-shared.    I'll try again with the tags you mention for those when I get onto discover.

[2021-04-02 13:45] tclune commented on #779
OK, I rebuilt using the specified versions of gFTL, gFTL-Shared and the latest yaFyaml with 18.0.5.  I was able to process your yaml file.

For now, the one obvious workaround to try is to replace the failing line with
[code]
And if that does not work, let's try to limit the advanced syntax to see if that helps.  Replace the entire procedure with:
[code]

[2021-04-02 16:02] lizziel commented on #779
No luck with either. I'm fine with requiring ifort19+ for Intel compilers unless you want to keep pursing this. The link should work unless the VPN you have is interfering.

[2021-04-02 16:26] tclune commented on #779
OK - if you can move to 19 that would be best.    I hate inflicting compiler version creep on others.   These days I can more often workaround compiler defects, but still.   Currently the latest GFE stack works with both 19 and 21 (don't ask about Intel's numbering here).   GEOS uses 19 and I develop using 21.

[2021-04-02 16:26] #779 closed

[2021-04-02 16:41] lizziel commented on #779
Sounds good. At this point ifort18 is more than three years old (release Jan 2017) so it seems reasonable discontinue support. Especially when gfortran is an option.

[2021-04-02 18:01] lizziel opened #784 "Incorrect attribute 'time_increment' in History monthly collection files"
I ran a 1-year GCHP simulation using MAPL 2.6.3 with the `monthly` collection option turned on in `HISTORY.rc`. The time variable has attribute `time_increment` which I would expect to be the duration of the month per file. Instead it is 7440000 for each month. This corresponds to the `duration` setting otherwise ignored when `monthly` is enabled.

For example, the time information for June is thi

[2021-04-02 18:17] atrayano commented on #784
@lizziel I agree that any value that is constant, would be wrong. I will try to fix this. Computing the correct value for each month is almost trivial, but at the moment MAPL assumes that attribute is constant. When I set the monthly alarm, I ignore it completely. it is just used to create the metadata for the output file. But the value 7440000 came from the "duration" attribute which is set in yo

[2021-04-05 12:43] lizziel commented on #784
Thanks @atrayano. Following our discussion last week of another potential bug, I checked the values of monthly output across a full year against output from a series of 12 consecutive runs. The time-averaged values match. This issue is thus isolated to the `time_increment` field only. When you have a fix you can point me to the relevant commit(s) in develop. Thanks!

[2021-04-05 19:38] rmontuoro opened #786 "Enable nearest neighbor interpolation in ExtData"
A configuration option enabling nearest-neighbor interpolation is missing for ExtData.

This interpolation method is required when reading surface properties used, for instance, by dust schemes such as the NOAA/ARL FENGSHA scheme currently being implemented in GOCART.

[2021-04-05 19:42] tclune opened #787 "Create a stub pFlogger library and an option to use it"
NOAA wishes to avoid a dependency on pFlogger.    The idea is to instead have a subdirectory of MAPL that builds a stub version of pFlogger and then also have a CMake switch that controls whether to add that subdirectory.

The following types must be defined: `Logger`, `LoggerManager`

`Logger` needs these methods:
- debug()
- info()
- warn()
- error()
- critical()
The hard part with these is that

[2021-04-05 19:43] tclune commented on #787
Adding @rmontuoro for situational awareness.

[2021-04-05 19:44] tclune commented on #786
@bena-nasa Please let us know how involved this extension will be.

[2021-04-05 20:03] rmontuoro commented on #786
PR #788 enables this feature. I've used the `E` keyword to request nearest-neighbor interpolation in the ExtData resource file, but please feel free to implement a different keyword if needed.

[2021-04-06 21:33] lizziel opened #790 "Feature Request: TimestampStart"
MAPL History names time-averaged files with mid-point datetime by default, and has the capability to use end datetime instead (https://github.com/GEOS-ESM/MAPL/issues/602). This feature request is for implementation of using start datetime in time-averaged History filenames. Like `TimestampEnd`, `TimestampStart` would be an optional setting.

This request is for use in GCHP. We are going to recomm

[2021-04-07 11:42] tclune opened #791 "nullify pointers in the "else" clause for grid comp spec code generator"
The code generator allow for optional import/export specs.  The mechanism skips getPointer() for entities that are deactivated, but for safety, those pointers should be explicitly deallocated.

[2021-04-07 17:35] atrayano opened #793 "Split field bug with ungridded size 1"
Split field does not work properly when the size of ungridded dimension is 1. The real reason is the naming scheme has a bug and in the case in question it returns the same field name as the original.

[2021-04-07 18:42] mathomp4 commented on #762
After many many tests, it looks like it is the 2-moment microphysics which causes this. The good news is we can see this without needing to run MOM which allows for tinier problems. Might be something to bring in @dbarahon at some point to see if maybe 2-moment has a possible memory issue somewhere? 🤷🏼‍♂️

[2021-04-08 01:29] #769 closed

[2021-04-08 12:11] mathomp4 opened #795 "Perpetual Year runs can have weird during-run timer output"
As seen when I was looking at one of @sanAkel's runs looking at #762, his log output looked weird. So I did some experiments. Here is a normal C24 run:
[code]
and now a run with `PERPETUAL_YEAR: 2000`:
[code]
So not bad as my restarts are from 2000.

Now let's try `PERPETUAL_YEAR: 2012`:
[code]
So yeah. MAPL realizes it might take a while for my Year 2000 restarts to make it to the year 2012? And

[2021-04-08 12:58] tclune commented on #795
I don't recall what "Avg Tot Run" even mean any more.   Not entirely obvious why a negative time remaining would make the average "big" in any event.

With proper definitions of what is desired in those fields it should be straightforward to either say skip or properly calculate the right thing.

[2021-04-08 14:09] mathomp4 opened #796 "New ESMF Errors from MAPL develop running Replay"
My nightly tests have triggered new ESMF errors with MAPL `develop` when running replay. (In fact, it got flagged yesterday but there are currently so many "FAIL" in my nightly tests, that I'm missing things 😦 )

To wit, see the [attached ESMF log file](https://github.com/GEOS-ESM/MAPL/files/6279199/PET00.ESMF_LogFile.log) as there are a *LOT* of errors and warnings like:
[code]

My *guess* is thi

[2021-04-08 14:11] mathomp4 commented on #796
Note: Maybe this is part of the "GEOS needs updates to ESMF for alarms" thing that I've heard about in the CUPID meetings?

[2021-04-08 16:20] sanAkel commented on #795
I am aware that @atrayano has been changing _some_ behavior that relates to `perpetual clock` with **MOM5** ocean model. He may be able comment better ...

[2021-04-08 20:03] #793 closed

[2021-04-08 20:48] rmontuoro opened #798 "Imported CMake targets need updating due to name changes"
The most recent releases of external libraries MAPL is dependent upon provide new CMake target names that include a namespace, following CMake recommendations. As a consequence, the affected targets need to be renamed in the MAPL build system (see example below):

[code]

NOAA would benefit from using the latest version of each dependency since it will reduce the total number of external libraries

[2021-04-08 20:55] tclune commented on #798
The challenge is that the changes are required in multiple repositories all-at-once which makes coordinating the PRs tricky.

What I have been advocating is to temporarily add a switch in esma.cmake that toggles whether the used version of GFE includes namespaces.  We can then wrap each reference with a conditional.   Once those are all in place, we can toggled the default for the option and adopt

[2021-04-09 01:55] atrayano commented on #796
@mathomp4 No, the errors and the warnings are real, and not related to ESMF 8.1.0. Only 1 of these messages comes from MAPL, related to record alarms, and lack of support from ESMF to check if a given alarm is already attached to the clock (sort of "if present"). The fix is ugly and tedious (get a full list of the alarms and scan it to find a match).  I will try to fix it soon. The rest of them ca

[2021-04-09 12:25] mathomp4 opened #799 "MAPL crashes if NRL solar file has comments"
This is on me. If you read in an NRL Solar File with comments, MAPL crashes:
[code]

Obviously, it should be doable to read a text file with comments. The code needs a serious stare at, though...

[2021-04-09 12:36] mathomp4 opened #800 "Should we update non-persist NRL Solar read"
Before we did our current default of `PersistSolar` in using the NRL Solar file (which just persists the last value at the end of the table when you fall off it), I coded in a scheme where, if you fall off the table, you use a similar position in the last complete solar cycle using some "magic numbers" to know when Solar Cycle 23 was:
[code]
But, [we are now in Solar Cycle 25](https://www.nasa.gov

[2021-04-09 12:47] mathomp4 commented on #799
Pinging @dr0cloud just so he's aware of this. No action needed by you, Peter, but wanted you to be aware.

[2021-04-09 14:07] rmontuoro commented on #786
Closing after merge.

[2021-04-09 14:07] #786 closed

[2021-04-09 14:09] dr0cloud commented on #800
I agree with this change :).

[2021-04-09 14:18] dr0cloud commented on #800
In fact, next modeling mtg I plan to raise the issue with Bill as to whether this should be the default instead of   persist. It bothers me that sunspots are by definition quite spotty and that persisting the last value of the year may be statistically not the best.

[2021-04-09 18:32] mathomp4 commented on #800
Okay. I have a draft in now. I need to test it. I did try it with my normal restarts but then realized you won't see much difference if your restarts are in the year 2000 🤦🏼

[2021-04-10 01:30] atrayano opened #802 "Option 'timestampEnd' incorrectly prevents time-averaging in History"
If a time-averaged collection specifies 'timestampEnd' then the variable "average" is not set properly, and as a result, no averaging is performed.

[2021-04-12 13:17] mathomp4 commented on #38
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:17] mathomp4 commented on #86
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:17] mathomp4 commented on #284
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:18] mathomp4 commented on #254
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:20] mathomp4 commented on #259
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:23] mathomp4 commented on #338
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:24] mathomp4 commented on #396
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:25] mathomp4 commented on #467
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:25] #467 closed

[2021-04-12 13:25] mathomp4 commented on #486
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

@atrayano has this been addressed?

[2021-04-12 13:26] mathomp4 commented on #511
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:26] #511 closed

[2021-04-12 13:27] mathomp4 commented on #517
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:27] mathomp4 commented on #573
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

Labeling wontfix and closing

[2021-04-12 13:27] #573 closed

[2021-04-12 13:29] mathomp4 commented on #602
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

@atrayano noted something similar in #802

[2021-04-12 13:31] mathomp4 commented on #640
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:33] mathomp4 commented on #674
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

@atrayano @gmao-esherman Is this now fixed as far as you can tell?

[2021-04-12 13:34] mathomp4 commented on #641
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:35] gmao-esherman commented on #674
Yes, this feature is working for me.

[2021-04-12 13:35] #780 closed

[2021-04-12 13:35] mathomp4 commented on #762
Quoth @tclune: Bill is not surprised. Closing.

[2021-04-12 13:39] mathomp4 commented on #484
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

@atrayano Is this done?

[2021-04-12 13:40] mathomp4 commented on #740
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:41] mathomp4 commented on #740
@bena-nasa Says warning should be added

[2021-04-12 13:41] mathomp4 commented on #738
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:42] mathomp4 commented on #470
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

@atrayano Is this also seen in #796?

[2021-04-12 13:43] mathomp4 commented on #508
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

We are running with 8.1.0, so must work.

[2021-04-12 13:43] #508 closed

[2021-04-12 13:43] mathomp4 commented on #552
Reexamined on 2021-Apr-12 with @bena-nasa and @tclune

[2021-04-12 13:46] mathomp4 commented on #802
Related to #790 ?

[2021-04-12 13:53] atrayano commented on #790
Yes, it is related. I'll fix both

[2021-04-12 16:31] mathomp4 commented on #674
If it works for @gmao-esherman, I think we can close this. Open new issues as new issues emerge.

[2021-04-12 16:31] #674 closed

[2021-04-13 11:54] lizziel commented on #640
I have been enjoying the new functionality. If you end up changing back please keep the overwrite capability as an option!

[2021-04-13 11:59] lizziel commented on #38
If you could fix this that would be great. To get around the issue we remove the dimension name from xarray datasets prior to merging in GCPy. It is an annoying step that would be nice to get rid of.

[2021-04-13 16:52] atrayano commented on #790
Actually the code is still doing what it supposed to do, but it is plain messy. I'll fix  it anyway, but the issue was a "red" herring

[2021-04-13 16:53] atrayano commented on #802
Actually the code is still doing what it supposed to do, but it is plain messy. I'll fix it anyway, but the issue was a "red" herring

[2021-04-13 17:02] lizziel commented on #790
Do you mean TimestampStart was already an option in History?

[2021-04-13 17:07] atrayano commented on #790
@lizziel I made a mistake and my comment went to the wrong issue. But at the moment I am working on a branch that should address both issues (#790) the TimeStampStart and (#784) the incorrect time increment for monthly. I'll send you email once it is ready

[2021-04-15 22:40] #790 closed

[2021-04-16 16:32] atrayano opened #809 "Possible uninitialized members of the derived type Segment_T in MAPL_Shmem"
Since shmid was statically initialized to -1 in the declaration of the type Segment_T, no further initialization was done after allocation. But this code generated strange shmem related error on the Rome nodes at NAS. Fixing them helped. Might be a compiler bug

[2021-04-16 16:41] WilliamDowns commented on #739
I've done a lot of testing with different MPI versions / implementations and different libfabric versions to try to pin down why / when a dedicated oserver is required when running GCHP on AWS EC2.

I confirmed that hangs/crashes with the EFA provider without extra oserver nodes still occur if I disable History but still write a checkpoint file. Disabling `WRITE_RESTART_BY_OSERVER` fixes this chec

[2021-04-16 20:54] #809 closed

[2021-04-16 20:54] #802 closed

[2021-04-17 13:21] lizziel commented on #790
Thanks @atrayano for implementing this so quickly. I manually added the feature to GCHP (uses MAPL v2.6.3) and it all looks good.

[2021-04-17 13:21] lizziel commented on #784
The latest update fixes is on my end. Thanks @atrayano!

[2021-04-17 13:21] #784 closed

[2021-04-17 13:23] lizziel commented on #589
This is still on my radar. I will do the test next week with GCHP which now uses MAPL v2.6.3.

[2021-04-17 13:26] lizziel commented on #210
This is still on my radar but has taken a backseat to other things. Once I turn my attention to it again and test I will reopen as needed.

[2021-04-17 13:50] lizziel commented on #639
I'm just getting up to speed on this issue now. I am intrigued by the idea of using an Import to set Internal via ExtData. This would solve a few things for GCHP:
1. We could output an instantaneous Restart collection via History, as we do for GEOS-Chem Classic, which may be more intuitive to users.
2. Restarts would automatically be timestamped in the filename, avoiding the need to add it as post

[2021-04-22 20:26] WilliamDowns commented on #739
I'm able to reproduce the hang in Intel MPI with EFA (seemingly in `MPI_Win_Fence`, results in the `TX entries exhausted` message being spammed) by running the following test program across multiple nodes with 1 process per node:

`test.f` (slightly modified from [this issue on the Intel forums](https://community.intel.com/t5/Intel-oneAPI-HPC-Toolkit/one-sided-communication-and-shared-memory-singl

[2021-04-26 20:28] bena-nasa commented on #738
This has been done, the interface has been cleaned up to remove the non-existent functionality

[2021-04-26 20:28] #738 closed

[2021-04-28 18:12] #642 closed

[2021-04-28 18:12] #742 closed

[2021-04-28 18:12] #791 closed

[2021-04-28 18:12] #396 closed

[2021-04-28 18:12] #800 closed

[2021-04-29 12:20] mathomp4 opened #817 "Use ESMF_Finalize instead of MPI_Finalize"
Per discussions with @rsdunlapiv and @theurich, it was determined that to use ESMF built-in profiling with GEOS, one needs to use `ESMF_Finalize` and not `MPI_Finalize` to end GEOS. This is a change in Cap.

[2021-04-29 13:06] mathomp4 opened #819 "Rome and 15-minute History Collection: Logging in IOServer?"
This is a query for @weiyuan-jiang with a bit of pinging of @tclune as it's pFlogger related. (And maybe the rest of @GEOS-ESM/mapl-team ...)

The issue is something I've been seeing at NAS. I was able to run a C720 job at 15x360 for 1 day with the "regular" AGCM history on the AMD Rome nodes using:
[code]
on a suggestion of @weiyuan-jiang

But, as a test, I decided to do something like Dimitris h

[2021-04-29 14:12] #787 closed

[2021-04-29 15:27] mathomp4 opened #820 "MAPL 2.6.5 debug build fails with GEOSgcm"
Ugh. This will teach me only to test in `Release` mode. To wit, if you compile and run with `Debug`:
[code]

I'll work with @weiyuan-jiang to get a hotfix in for this.

[2021-04-29 16:56] #820 closed

[2021-05-03 13:01] #799 closed

[2021-05-03 13:01] #817 closed

[2021-05-03 13:03] mathomp4 commented on #796
@atrayano Has this been fixed? Or partially fixed? That is, are parts of the fixes in, say, MAPL, but waiting for fixes in the grid comps?

[2021-05-03 13:05] mathomp4 commented on #737
@weiyuan-jiang @rmontuoro Has this been fixed in the latest MAPL?

[2021-05-03 13:17] #602 closed

[2021-05-03 14:07] rmontuoro commented on #737
@mathomp4 - Yes. This issue can be closed.

[2021-05-03 20:28] mathomp4 opened #824 "GEOSgcm Fails with GCC 11"
So, in trying to figure out another issue, I've apparently also shown that GEOS (and I guess MAPL) does not work with GCC 11. On discover, when I run C12 on 6 cores against MAPL `develop`:
[code]
The first error is:
https://github.com/GEOS-ESM/MAPL/blob/06bea90ff019f2d61ca1728575ac40621fc29223/base/MAPL_Generic.F90#L8090-L8092

[2021-05-04 12:20] tclune commented on #824
Well, I was at first all excited that this was one of the examples that shows the gaping hole in what Fortran means by "same type".   Before anyone realized the issue, some vendors had already implemented that intrinsic to allow for two vars that differ only in kind to be the same type and others required the kind to match.    So bad to use if kind's are involved.  But ...

The two calls in GOCART

[2021-05-04 12:23] tclune commented on #824
@weiyuan-jiang could you try to create a small reproducer that just has a simple subroutine that has two dummy arguments - both declared `CLASS(*)`?    The subroutine will just print `same_time_as(dummy1, dummy2)`  and the driver will call it with various combinations of types.   Hopefully that is sufficient.

@mathomp4 can tell you how to access GFortran 11 on discover (if it can be).

[2021-05-04 13:31] mathomp4 commented on #824
@tclune @weiyuan-jiang I have GCC 11 on discover, and that's where I ran this. To get it, you can change your `g5_modules` to be:

[code]

[2021-05-04 13:47] mathomp4 commented on #824
Note also that some of the MAPL tests are not happy as well:
[code]
and then it just "hangs" there.
If I add a quicker timeout:
[code]
The `MAPL.generic` failure is:
[code]

[2021-05-04 13:48] weiyuan-jiang commented on #824
I suspect  the argument passed in is allocatable but not allocated.

program main

   implicit none
   integer :: i1, i2

   real :: r1,r2
   integer, allocatable :: i3, i4

   print*, "integer vs integer"
   call same_type_test(i1,i2)
   print*, " integer vs real"
   call same_type_test(i1,r1)
   print*, " real vs real"
   call same_type_test(r1,r2)
   print*, " integer vs not allocated"
   call

[2021-05-04 13:49] mathomp4 commented on #824
My current GCC 10 is:
[code]
(The bundleio tests always have issues with Open MPI.)

But I just had a thought.  My GCC 11 actually changed *TWO* things: GCC version and MPI. And the MPI is now built sliiightly differently than it was before (it was breaking under `srun`). So, I'm going to try building a GCC 10.1.0 stack with Open MPI 4.0.5 built like I did for GCC 11.

[2021-05-04 13:51] mathomp4 commented on #824
@weiyuan-jiang It seems happy:
[code]

[2021-05-04 14:04] weiyuan-jiang commented on #824
Under the first "integer vs not allocated", it prints nothing ! it should have T.   The second "integer vs not allocated" should be "integer vs allocated". I forget to change it.

[2021-05-04 14:11] tclune commented on #824
In the actual code that is breaking, none of the actual arguments and none of the dummy arguments are ALLOCATABLE, so I don't think that is the concern.

And it is illegal to pass an unallocated actual to a non-allocatable dummy.

[2021-05-04 16:50] mathomp4 commented on #824
Okay. Took a bit, but I can confirm that GCC 10 + Open MPI 4.0.5 (new style configure) is happy. Thus, I conclude the issue is based on GCC 11 and not Open MPI (phew).

[2021-05-04 20:17] #737 closed

[2021-05-05 15:17] bena-nasa opened #827 "Bring back "cubed_sphere" variable in Cubed output?"
I was testing the GEOSadas and GEOSgcmPert.x with the new Adas version. It was failing when reading one of the trajectory files which is produced by the GEOSgcm.x on the cubed when the forecast runs. It turns out that little cfio (which is still used for reading by GEOSgcmPert.x) was not identifying the file as a cubed file because in v2.6.5 we removed two variables from the file because of this i

[2021-05-05 15:39] mathomp4 commented on #827
@bena-nasa I think we do still have the *attribute* for these things:
[code]
right? But maybe @weiyuan-jiang needs to look at extending pFIO?

[2021-05-05 15:40] mathomp4 commented on #827
Note: I think I updated the version number in that attribute to be 2.91. It had gotten out-of-sync with the variable version

[2021-05-05 15:42] bena-nasa commented on #827
ah, you are right, the version number is still there as a global attribute. I  didn't scroll down far enough. So there is no issue other than I need to update little cfio to understand this version.

[2021-05-05 15:42] #827 closed

[2021-05-05 15:45] mathomp4 commented on #827
Update for myself, yes I did update the version. Using MAPL `develop`:
[code]

[2021-05-05 16:33] rsdunlapiv commented on #796
@mathomp4 we have a branch of ESMF that we think will prevent that first ERROR you reported in the log related to a NULL pointer.

Could you please try the run again with this branch of ESMF?
https://github.com/esmf-org/esmf/tree/fixRingBegin

[2021-05-05 17:10] mathomp4 commented on #796
@rsdunlapiv Okay. I'll build and test it ASAP.

[2021-05-05 19:56] mathomp4 commented on #796
@rsdunlapiv The patch seems to prevent the error (running with multi on error)

[2021-05-05 21:37] rsdunlapiv commented on #796
@mathomp4 Thanks for the update.  Thanks to @feiliuesmf for the fix.  When we have a new ESMF snapshot I will let you know.

[2021-05-06 19:50] mathomp4 opened #829 "Profile GNU Debug Build in MAPL"
Looking at timings seen in #828, we see:

With `medium` resource:

- build-and-test-MAPL: 11m 40s
- build-GEOSgcm: 45m 41s
- make-FV3-experiment: 51s
- run-FV3-standalone:  2m 6s

With `xlarge` resource:

- build-and-test-MAPL: 10m 37s
- build-GEOSgcm: 15m39s
- make-FV3-experiment: 40s
- run-FV3-standalone:  1m 1s

So while GEOSgcm build was 3x faster (on 4x resources), the MAPL build was only abo

[2021-05-06 19:52] mathomp4 opened #830 "Update CircleCI to do Intel Builds"
This is mainly a "reminder for Matt", but now that we have CircleCI back and being paid for, we can look at running Intel as well as GNU for MAPL.

Query for @tclune: Should I "matrix" what we currently have and do all the tests for both GNU and Intel? Or should we focus our uses (Intel for X,Y,Z, GNU for A,B,C)?

[2021-05-06 20:03] mathomp4 commented on #829
Mea Culpa. It looks like it isn't History anymore? At least not on my Mac:
[code]

[2021-05-06 20:05] mathomp4 commented on #829
Here is a capture of the trace from `ninja -j4 install`:

<img width="1591" alt="Screen Shot 2021-05-06 at 4 04 41 PM" src="https://user-images.githubusercontent.com/2982494/117358972-cccf8400-ae84-11eb-80f4-dc3d3c59c7f8.png">

[2021-05-06 20:07] mathomp4 commented on #829
I am really...confused by `MAPL_Mod.F90` being that expensive. `MAPL_Mod.F90` is just a bunch of `use` statements!

Well, I'll try the same thing on discover soon.

[2021-05-06 20:27] mathomp4 commented on #829
GNU on Discover:
[code]
<img width="1333" alt="Screen Shot 2021-05-06 at 4 25 56 PM" src="https://user-images.githubusercontent.com/2982494/117361223-c1318c80-ae87-11eb-8a6b-66a045a73fc2.png">

Huh. It really is `MAPL_Mod.F90`, [the most boring file in MAPL](https://github.com/GEOS-ESM/MAPL/blob/develop/base/MAPL_Mod.F90).

[2021-05-06 20:31] mathomp4 commented on #829
Query for @tclune: Could we "break up" `MAPL_Mod.F90`? That is maybe each subdir of MAPL makes a "super module" and then `MAPL_Mod` aggregates those?

MAPL_Shared makes a MAPL_SharedMod that has a bunch of `use` statements? Maybe spread the cost of that one file around?

Of course, I now realize the `generic/` directory would make `MAPL_genericMod` and `base/` would make `MAPL_baseMod` so...

I gu

[2021-05-10 14:28] bena-nasa opened #833 "New overload for MAPL_GetResource that takes a plain ESMF_Config?"
Bill was noting that some things that get read from the main AGCM.rc get echeod in the output as they use MAPL_GetResource which is useful to know what parameters you ran with. However, the surface components now read GEOS_SurfaceGridComp.rc which uses plain ESMF_ConfigGetAttribute calls so these don't get recorded to the output. This is apparently causing problems as there was some confusion what

[2021-05-11 13:20] mathomp4 opened #835 "Weird FROCEAN output in z0044 run"
This is an issue I saw when looking at the `inst1_2d_ocn_Nx` output of Ricardo's `z0044` test run. Namely the `FROCEAN` output had weird blockiness:

![FROCEAN_in_z0044 inst1_2d_ocn_Nx 20201122_0600z](https://user-images.githubusercontent.com/2982494/117821204-57273780-b239-11eb-8c23-49488173e953.png)

These "blocks" were apparent in a difference from `x0044` but I found I could tease them out fro

[2021-05-11 13:21] mathomp4 commented on #835
Note: This "blockiness" is present in `FRLAND` and maybe in the other `FR`s? I just chose `FROCEAN` as there is more ocean in the world...

[2021-05-11 13:24] mathomp4 commented on #835
Also note: This is at C360. So these blocks are *much* bigger than the size of a cell. It's more like they are reflecting the processor layout? Maybe? This run was on 768 cores at 16x48. But in the latlon image it seems to be 32 wide and 24 down!

[2021-05-11 16:13] mathomp4 commented on #796
@rsdunlapiv Thanks. I'll look at making a Baselibs for this soon.

[2021-05-11 16:21] atrayano commented on #835
@mathomp4 I have 2 questions: do you know if this run uses shmem (i.e. USE_SHMEM: 1). Also are we using the new land. If yes, we need to take a closer look at the tile file

[2021-05-11 20:36] atrayano commented on #835
@mathomp4 what version of MAPL is used in z0044?

[2021-05-12 11:55] atrayano commented on #835
@mathomp4 , hash would be very helpful

[2021-05-12 12:49] mathomp4 commented on #835
Ah. I was wrong. The @bena-nasa ADAS I cloned was before he needed the updates for pert. Thus, my ADAS clone is rocking v2.6.6. But looking at a comparison:

https://github.com/GEOS-ESM/MAPL/compare/v2.6.6...develop

v2.6.6 doesn't seem to have any changes that would affect this. I want to say the cfio updates in `develop` are more of a "things crash" fix rather than a "weird blocks in output" fix

[2021-05-12 13:32] tclune commented on #829
At the very least we should do some experiments along the lines of splitting this file to better understand just what is taxing the compiler.     I can't believe that it is really trying to do any interprocedural optimizations at that level, but ... what else could take so much time?

I fear we'll pay the price no matter how we split it up though, so long as we want to have a single top level modu

[2021-05-12 13:42] mathomp4 commented on #829
I was about to suggest we compile `MAPL_Mod.F90` at `-O0` and then realized this is happening with `Debug` builds. I might ask the GCC folks about this. Maybe they've seen this and have a thought about why it happens.

[2021-05-12 16:38] mathomp4 commented on #829
Update from the GCC list. Apparently I'm not the only one:

https://gcc.gnu.org/bugzilla/show_bug.cgi?id=98426

[2021-05-13 16:56] atrayano commented on #835
@mathomp4 I am wondering if the "new land" resolves small(er) islands better and we see many more of them. If you have a tiny island in the grid box, it will be labeled land (correctly), and naturally the ocean fraction in such a box will be less than 1. This is just a thought

[2021-05-13 17:23] tclune commented on #835
That was one of my first thoughts as well, but ... I'd still have expected smaller rectangles - possibly correlated; but not large rectangles.

[2021-05-18 13:07] tclune opened #848 "Bad path for .mod files in ./Tests"
I think there is a problem with the Fortran module path in the MAPL Tests directory.  @amdasilva  spotted some stray .mod files and from his quick screen share it looks like they were in the default directory that ecbuild uses unless we override per-target as we do elsewhere. 

[2021-05-18 17:50] atrayano opened #851 "Bug in releasing shared memory"
Not too long ago I made cleanup changes to MAPL_ShmemMod.F90 and accidentally introduced a bug when releasing shmem. Due to this bug the code could hang

[2021-05-18 20:11] #851 closed

[2021-05-19 15:48] weiyuan-jiang opened #854 "ESMF_Initialize() and ESMF_Finalize() mismatch"
ESMF_Initialize() is called under the communicator model_comm, but the ESMF_Finalize() is called under world_comm. When GEOSgcm main branch is run with the command

$RUN_CMD 48 $GEOSBIN/GEOSgcm.x --npes_model 24 --oserver_type multigroup --nodes_output_server 1 --npes_backend_pernode 4 --logging_config 'logging.yaml'

the error messages are printed at the end.

ESMF_LogWrite(): ESMF_Log not open -

[2021-05-19 15:55] tclune commented on #854
ok - do you have a fix?   They certainly should both be the same.  Eventually both will become world_comm, but for now they should both be world_comm.

[2021-05-19 16:17] weiyuan-jiang commented on #854
I haven't found a fix even I tried many ways yesterday. I would try again

[2021-05-19 17:17] weiyuan-jiang commented on #854
initialization does not have the condition this%mpi_already_initialized, why finalize need it?  @tclune @mathomp4

     if (.not. this%mpi_already_initialized) then
         call MAPL_Finalize(comm=this%comm_world)
         call ESMF_Finalize(rc=status)
          _VERIFY(status)
      end if

[2021-05-20 11:57] mathomp4 commented on #848
Hmm. Looking at a recent build of GEOS I see:
[code]
The first one is f2py so I hate it. But the other ones seem like ones we can fix. I assume we need something like:
[code]

[2021-05-20 22:36] rmontuoro opened #861 "MAPL 2.6.7 crashes upon Cap initialization"
When built with Intel Fortran Compiler 18.0.5.274 and Intel MPI 2018.0.4, MAPL crashes at runtime upon initialization of MAPL Cap with the following error messages:

_standard error_:
[code]
`PET000.ESMF_LogFile:`
[code]

The crash is caused by the `cap_options` data structure not being properly populated when calling `MAPL_Cap()`.

@weiyuan-jiang created a reproducer to investigate this issue.

[2021-05-25 20:27] rmontuoro commented on #861
Fixed in MAPL 2.7.0

[2021-05-25 20:27] #861 closed

[2021-05-25 20:56] bena-nasa opened #865 "MAPL standalone build appears to be broken"
I checked out develop and tried to build MAPL on Discover.  So checkout the MAPL repo, go there checkout develop, then mepo clone, the source g5_modules, then build.
Note I've also tried this with main and v2.7.0
I'm getting a slew of errors when running the cmake command:
[code]

[2021-05-26 01:08] rmontuoro opened #866 "URGENT: UFS-GOCART crashes upon finalize when built with MAPL v2.7.0"
The error below occurs upon finalizing GOCART within the UFS weather model built with MAPL v2.7.0:
[code]

`gdb` backtrace returns the following:
[code]

which shows an issue occurring in the C runtime library while destroying a global C++ object in `libMAPL.history.so` via destructor ` __do_global_dtors_aux ()`

[2021-05-26 14:07] mathomp4 commented on #866
@rmontuoro Does it work with MAPL 2.6.8? Or do you know the last version it did work with? MAPL 2.7.0 was just the FLAP update, so that's quite boring. MAPL 2.6.7 had one of @weiyuan-jiang 's [fixes for ESMF_Initialize/Finalize](https://github.com/GEOS-ESM/MAPL/pull/857) that I thought was to get UFS working...

[2021-05-26 14:07] mathomp4 commented on #866
And, I guess, if you don't output any History files, does it work (since it seems to point to MAPL.history)?

[2021-05-26 14:10] mathomp4 commented on #865
Okay. I "fixed" this by fixing `mepo`. But I am also going to make a PR to fix this without the need to fix `mepo`.

[2021-05-26 14:13] rsdunlapiv commented on #866
When a MAPL component is used in a bigger ESMF application, then it should
not  call ESMF_finalize.

On Wed, May 26, 2021, 8:09 AM Matthew Thompson ***@***.***>
wrote:

[2021-05-26 14:24] mathomp4 commented on #866
@rsdunlapiv I guess we started using ESMF_Finalize (for the comms that used ESMF_Initialize) so that the ESMF Profiling could work. Otherwise, it just never output anything because ESMF_Finalize is never called!

[2021-05-26 14:26] mathomp4 commented on #866
@rsdunlapiv Also, @bena-nasa took a look, and at least when he has built MAPL on Orion, it seems to be using ESMF 8.1.0betasnap27. We are currently using ESMF 8.1.1. Do you recall any "finalization" sort of ESMF fixes between 8.1.0b27 and 8.1.1?

[2021-05-26 15:11] tclune commented on #866
@mathomp4 I think this is just more detail about a problem that GOCART + UFS has had for some time.    But now that @rmontuoro has narrowed it down to history, we can start turning things off to isolate the issue.

I think he has dealt with the issue about ensuring ESMF Finalize is only called once and in the right place.

And ... in a private discussion with @rmontuoro, we're not completely sure

[2021-05-26 15:18] mathomp4 commented on #866
Maybe we could get a different traceback if you use GCC 10?

[2021-05-26 15:23] tclune commented on #866
I don't think UFS can build with GCC ...

[2021-05-26 15:25] bena-nasa commented on #866
Are you suggesting that the ESMF grid or route handles there in the grid/regridder manager need to be destroyed properly? You could say the same for every structure in MAPL that has an ESMF object.

[2021-05-26 15:26] tclune commented on #866
Not necessarily - ESMF is hopefully dealing with those.  But there are wrapper objects in the GFTL containers  that are possibly the problem.  I think it is unlikely, but even so it is something that MAPL should properly clean up now that it is used in multiple orgs.

[2021-05-27 12:41] bena-nasa commented on #865
Seems fixed

[2021-05-27 12:41] #865 closed

[2021-05-27 12:42] bena-nasa commented on #833
This was addressed, closing.

[2021-05-27 12:42] #833 closed

[2021-06-01 19:14] mathomp4 opened #869 "Add ability to enable MOAB Mesh in MAPL"
Eventually, we will want to test the ESMF MOAB Mesh in GEOS. So, add a command-line option to enable it.

[2021-06-01 19:18] mathomp4 commented on #869
Note: Per ESMF:

So eventually, this option will need to be removed!

[2021-06-01 20:07] mathomp4 opened #870 "Query with MAPL FLAP True/False Options"
This is maybe for @weiyuan-jiang or @tclune.

Namely, I'm looking at adding a CLI option (see #869) and I noticed these options:

[code]
My question is: Do these take values? Or are they just "true/false" switches? If they are just "true if set" switches, then they should probably be:
[code]
a la argparse, so that if set, they are `.true.`, else `.false.`

[2021-06-01 20:19] mathomp4 commented on #869
Interesting. Apparently MOAB is zero-diff to native (at C24 at least)? @rsdunlapiv @oehmke Is this expected? I guess I don't know exactly what MOAB is so...probably?

[2021-06-01 22:07] oehmke commented on #869
It’s not unlikely that they would be the same. it’s using the same bilinear code underneath. The only difference would be if the underlying mesh code (MOAB or ESMF) were storing corners around a cell in a different order, so it went through the algorithm slightly differently. (We have it as a task to have a set  order for the corners, but that hasn’t happened yet).

[2021-06-01 22:09] rsdunlapiv commented on #869
@oehmke How can @mathomp4 prove that he is actually using MOAB?  My recollection is that there should be a clear message in the ESMF log files when MOAB is enabled.

[2021-06-01 22:16] oehmke commented on #869
Yes, there should be a large message (including the phrase "MOAB turned ON”) in the ESMF log files when MOAB is turned on.

[2021-06-01 22:18] mathomp4 commented on #869
@rsdunlapiv Oh yeah. You definitely do. MOAB off:
[code]
MOAB on:
[code]
And some warnings:
[code]
I guess at this resolution it doesn't matter?

[2021-06-02 12:21] weiyuan-jiang commented on #870
They take true or false values.  By default, they are false.

[2021-06-02 12:22] mathomp4 commented on #870
@weiyuan-jiang Hmm. Is there a reason they are like that instead of just making them a "switch"? A la, if the switch is there, it's true, else false? Like a `--verbose` or `--help` option?

[2021-06-02 12:41] weiyuan-jiang commented on #870
I am not sure. But I will try

[2021-06-02 20:45] rmontuoro opened #873 "Undeclared variable used in MAPL Generic if H5_HAVE_PARALLEL defined"
The logical variable `nwrgt1` is being used without being declared in `MAPL_GenericFinalize()` (`HEAD` of `develop` branch: 3dab09dd92b8ebb0d14d587ad2f331848e1f25c2) if macro `H5_HAVE_PARALLEL` is defined.

[2021-06-03 00:24] rmontuoro commented on #866
This failure is caused by linking the static ESMF library twice: once through MAPL's dynamic libraries, and once to create the UFS weather model executable. At the end of the program's execution, global destructors are called by `__do_global_dtors_aux ` to clean up allocated objects and find that the ESMF static objects have already been destructed (see backtrace below from run with `MALLOC_CHECK_

[2021-06-04 14:08] rmontuoro commented on #873
Issue resolved by linked PR #874

[2021-06-04 14:08] #873 closed

[2021-06-04 14:21] rmontuoro commented on #866
Addressed by PR #875

[2021-06-04 14:21] #866 closed

[2021-06-07 12:18] #854 closed

[2021-06-11 13:22] bena-nasa opened #879 "Slow reading times in PFIO server at large input files"
I've been testing my regridding utility Regrid_Util.x at with the c5760 files from the Dyamond run as I've had users asking about regridding this data. I've been finding that the IO is extremely slow to read the files, far more than it is to generate a route handle. The utility uses the PFIO server in the shared resource mode since it uses the same IO layers as History and ExtData. I'm finding it

[2021-06-11 19:39] #869 closed

[2021-06-14 13:18] #870 closed

[2021-06-14 15:36] mathomp4 opened #884 "MAPL 2.7.1 is non-zero-diff with OPS Emissions"
As discovered by @sdrabenh, if you run MAPL 2.7.1 with OPS emissions, the answers are non-zero-diff to MAPL 2.7.0.

I was able to see that if `MAPL_ExtDataGridComp.F90` in #877 is reverted back to MAPL 2.7.0, it *is* zero-diff to MAPL 2.7.0 with OPS emissions.

Thus, it's something in that...but why?

Something for @bena-nasa

[2021-06-17 05:34] rmontuoro opened #886 "MAPL won't build as static libraries if shared NetCDF libraries are unavailable"
When building MAPL v2.7.1 as static libraries, shared NetCDF libraries are still required to prevent the build process to fail with the following messages:
[code]
These errors are generated when building `pfio/` executables, as the `NetCDF::NetCDF_Fortran` target created by `FindNetCDF.cmake` (https://github.com/NOAA-EMC/CMakeModules) only provides `libnetcdff.a` and does not include the remaining

[2021-06-17 19:39] rmontuoro commented on #886
Further investigation revealed that the ecBuild version of `FindNetCDF.cmake` was being used by `find_package(NetCDF)` instead of that from `CMakeModules`. This happened because `CMAKE_MODULE_PATH` is modified by the included `esma.cmake` script, and `find_package(NetCDF)` is called after `include(esma)`.

This can be solved using the following CMake settings:
[code]

It might still be helpful to

[2021-06-17 19:39] #886 closed

[2021-06-17 20:08] bena-nasa opened #887 "MAPL 2.7.0 and MAPL 2.7.1 non-zero diff with OPS emissions"
When MAPL was upticked to 2.7.1 it was found that GEOS went non-zero diff when using the OPS emissions. On investigation I did find very subtle differences (in the order of the 5 or 6th decimal place in the mantissa) in the emissions in ExtData between MAPL 2.7.0 and 2.7.1 when using the OPS emissions. After much work I traced it down to the fact that two different input files used in the OPS emis

[2021-06-17 20:13] atrayano commented on #887
I am not in favor of 1) either. But if we do 2) chances are we still will get non-zero diffs because one way or the other, in the past we were using coordinates from a single grid (whichever the first file happen to be). 3) is a good option, and with some luck it might be zero diff against older tags

[2021-06-17 20:15] bena-nasa commented on #887
Either way, this is a non-zero diff once going forward, the question is what can we do to ensure than something like this will not happen again.

[2021-06-17 20:19] atrayano commented on #887
Both options: 2 and 3, will guard against similar occurrences. I have mixed feelings choosing between the two. On one hand, 3) is forcing the "right" thing, on the other, the coordinates in the file might have been used to compute some on the data in the file (I am almost sure this is the case for QFED emissions)

[2021-06-17 20:23] bena-nasa commented on #887
I vote for 3, the fact is to be detected as a regular standard PE/PC/DE/DC, you must be awfully close to that in the first place.

[2021-06-17 20:25] atrayano commented on #887
I too like 3 the most. Let me double check this with Tom early next week, and if he agrees too, I will modify the grid factory

[2021-06-21 12:48] mathomp4 commented on #798
I believe this is now partially taken care of. (The only straggler will be the GEOSadas as it has a longer test cycle than the other fixtures.)

We've moved most fixtures to ESMA_env v3.3.0 (which has GFE Namespace libraries) and ESMA_CMake v3.5.0 (which sets `ESMA_USE_GFE_NAMESPACE` to `ON`).

Next up is to *remove* the doubling in MAPL, et al. I'll make PRs for that soon.

[2021-06-21 12:56] mathomp4 opened #889 "Remove ESMA_USE_GFE_NAMESPACE"
Now that we've moved to a Baselibs with GFE Namespace, we should now remove all the `ESMA_USE_GFE_NAMESPACE` from MAPL (and GEOS...). I guess the question is, how to handle this? I forgot to put in a "Deprecated" or some such in the last release of MAPL, so I suppose we should do that first so we can notify NOAA/UFS (@rmontuoro) and GCHP (@lizziel).

[2021-06-21 14:04] mathomp4 commented on #685
Done.

[2021-06-21 14:04] #685 closed

[2021-06-21 14:40] mathomp4 commented on #717
These now work on my laptop, but still fail on discover. Weird.

[2021-06-21 14:49] weiyuan-jiang commented on #717
Only OpenMpI failed ?

[2021-06-21 14:52] mathomp4 commented on #717
Yeah. I think Intel MPI is fine. Before, Open MPI failed everywhere (laptop and discover), but now just discover it seems.

I think it was "fixed" on my laptop when we moved to using `libesmf.dylib` instead of `libesmf.a`. But we've used the shared library on discover for a long time.

[2021-06-21 18:28] mathomp4 commented on #796
Closed by updating to Baselibs 6.2.4

[2021-06-21 18:28] #796 closed

[2021-06-21 23:32] rmontuoro opened #892 "MAPL fails to build on Ubuntu 18.04 with gfortran 9.3.0"
When building MAPL with gfortran 9.3.0 on Ubuntu 18.04, the build fails with the following error:
[code]

@mathomp4, @tclune - any suggestions?

[2021-06-22 01:44] kgerheiser commented on #892
I think it's a bug with GCC 9.3.0. It works with GCC 9.4.0.

[2021-06-22 12:52] tclune commented on #892
Ugh.  As things are, we've already jumped through a few hoops to get things to compile with gfortran, nag, and intel.    Hopefully everyone can live with upgrading to 9.4 (or 10.x) as I'm not sure a workaround is possible short of eliminating the use of submodules here.   (Not itself crucial, but we're hoping to address some issues with CMake compilation cascades that we still see on occasion.)

[2021-06-22 12:53] tclune commented on #892
Moving the USE statements into specific procedures and/or up into the primary module may help.   The trick is to then retest with all the compilers ...

[2021-06-22 15:32] rmontuoro commented on #892
Removing the USE statements below in `shared/Interp/Interp_implementation.F90` works on Hera with Intel 18.0.5.274 and Intel MPI 2018.0.4:
[code]
@kgerheiser - could we test this change with hpc-stack and see if it addresses the current build issues?

[2021-06-22 15:41] mathomp4 commented on #502
If @weiyuan-jiang can propose any model-type tests to run, I can try that out. But at least c24 on one node has the MPI_Put crash.

[2021-06-22 15:43] mathomp4 commented on #502
I also have a `g5_modules` if @weiyuan-jiang or anyone else wants to try to do some testing:
[code]
Note that this *ONLY* works on Skylakes (built for Omni-Path).

Note 2. It looks like the best way to run with MVAPICH2 2.3.6 might be:
[code]
I think an equivalent one-liner is:
[code]
but I haven't tested that...

[2021-06-22 15:46] kgerheiser commented on #892
Yes, I will give it a try.

[2021-06-22 15:54] mathomp4 commented on #502
Bluh, and of course it runs the Intel MPI Benchmarks for Put just fine. (At least RMA and EXT.)

[2021-06-22 16:28] weiyuan-jiang commented on #502
I believe that is the problem of MPi_put. There are two Mpi_put calls, one is in MpiLock ( directory service) , the other is in MpiServer.  There is no Mpi_put call in multigroup server.  You can try to setup a multigroupserver to see if it passes.    There are conflict info here: The program passes Directory Service ( one mpi_put call) but fails in the test.

[2021-06-22 16:32] mathomp4 commented on #502
Okay. I just tried it in my tester and it looks like you can't run multigroup with no IOnodes. Let me try getting an extra node here...

[2021-06-22 16:44] mathomp4 commented on #502
Ah. It works! Woo!

Things I just learned:

1. Don't run `--oserver_type multigroup` without any ionodes (crash)
2. Don't run `--oserver_type multigroup` without using `--npes_backend_pernode N` (crash)

Well, this at least gives @aoloso and myself a way to test things out. You have to do a few things to get it happy, but it doesn't seem to crash with `multigroup`.

@weiyuan-jiang Do you have a wa

[2021-06-22 16:50] tclune commented on #502
In any event it should at worst fail with a useful error message and clean termination.    Is it giving a seg fault or something?

[2021-06-22 17:05] weiyuan-jiang commented on #502
@mathomp4 I have been thinking about retiring MpiServer ( by default when there is no IOnodes). It is possible, but may need more changes. I will give a more serous look at this issue

[2021-06-22 19:33] kgerheiser commented on #892
That resolves the error

[2021-06-22 19:36] rmontuoro commented on #892
Great! Thank you @kgerheiser. I will submit a PR shortly.

[2021-06-22 19:55] rmontuoro commented on #892
Submitted PR #893

[2021-06-22 20:53] kgerheiser commented on #892
Can confirm removing those lines allows MAPL to build with gfortran 9.3.0

[2021-06-23 16:33] mathomp4 opened #895 "NAG Build failure: Can't find FLAP"
When trying to build `main` with NAG I got:
[code]

[2021-06-24 06:43] #892 closed

[2021-06-24 06:51] rmontuoro opened #899 "Wrong coordinate units provided to the UFS aerosol component"
Both MAPL and GOCART assume that grid coordinates are in radians. However, this may not be the case if the grid is provided externally, as it happens for the UFS aerosol component.

MAPL should check the grid's coordinate system flag and convert the coordinates to radians if needed.

[2021-06-24 13:26] tclune commented on #899
@rmontuoro Can you give a more specific scenario?    We are generally aware of this issue, but since we defer regridding to ESMF, that handles most cases where the coordinate system matters.   If an individual component wants to directly access lat/lon  that would be the place that a check should be made.    And I'm sure that GEOS components just assume the radians convention at this point and are

[2021-06-24 13:27] tclune commented on #899
Ah - I see there is already a PR.   I'll check that - so maybe nothing more is needed here.

[2021-06-24 14:42] #899 closed

[2021-06-28 14:38] tclune commented on #887
Highest priority is of course to enable reproducibility under reordering of entries in ExtData.   Both 2 and 3 achieve that, but 2 does it in a rather brute force manner that is probably not the intention.   I doubt we'd have any real problems with memory footprint with (2),  but it just feels wasteful.

What I want is a nuanced combination of 2 and 3.     There should be a default tolerance that

[2021-06-29 16:02] tclune opened #907 "ESMF throws warnings when running tests"
If one activates ESMF logging, the regular tests throw many ESMF errors.

[2021-06-29 18:22] tclune commented on #907
@rsdunlapiv   For reference - here are the warnings ESMF was generating:
[code]

[2021-06-29 18:36] rsdunlapiv commented on #907
@tclune it looks like the user code in this test is trying to pull out the import, export, and clock - so I suspect this is where the errors are coming from.
https://github.com/GEOS-ESM/MAPL/blob/3ce047b3321458c514995113b7eb0b36be4f0aa4/pfunit/ESMF_TestCase.F90#L134

[2021-06-29 18:44] tclune commented on #907
@rsdunlapiv Ah.   I "knew" that these routines do not use the state or clock, but did not actually go down there and look.

The variables are referenced just to prevent dumb compiler warning messages about unused variables in the procedure.

I'll go back and implement a better fix.  Thanks.

[2021-06-29 18:45] rsdunlapiv commented on #907
@tclune sounds good

[2021-06-30 20:11] LiamBindle opened #911 "Recommended MPI settings for gfortran + MPT on Pleiades?"
Hi all,

I'm trying to run some GCHP timing tests on Pleiades, but I'm having trouble getting big simulations to run. I'm wondering if anyone has suggestions for environment settings that would help.

#### Environment
Here is an overview of my environment.
[code]
* **Platform**: Pleiades
* **Compilers**: GNU 9.2
* **MPI**: MPT 2.23
* **ESMF**: 8.0.1
* **NetCDF/F**:  4.8.0/4.5.2

#### Problem
When

[2021-06-30 20:15] LiamBindle commented on #911
@mathomp4 @tclune @bena-nasa Do you have any ideas?

[2021-06-30 20:26] mathomp4 commented on #911
@LiamBindle I guess I never think of running GEOS at C360 using GNU at NAS. Let me give it a try and see what I see.

[2021-06-30 20:33] mathomp4 commented on #911
Query: it really ran out of memory in 17 minutes?

I see you asked for 18 hours walltime, which is impressive. That can definitely expose memory leaks if they exist. We rarely run more than 8 hours at a time. Maybe @atrayano can think of possible memory leaks over 18 hours, but a memory leak over 17 minutes is not something I can think of happening.

[2021-06-30 20:37] mathomp4 commented on #911
Also, I know have run C720 for a day at NAS before on Cascade and Romes at 15x360 (aka 135 and 43 nodes) and I think it's worked in both cases. But that was with Intel compiler, not GNU.

[2021-06-30 20:39] LiamBindle commented on #911
Thanks @mathomp4. Would you suggest Intel instead? If so, could you recommend compiler/MPI/ESMF modules that I could use?

Yeah, 17 minutes. All my other tests were also OOM-killed after 10-20 minutes. Also, I should add that this happens *before* the first time step.

[2021-06-30 20:48] mathomp4 commented on #911
@LiamBindle For GEOS we use:
[code]
for our Intel runs. Now, the MKL one is probably useless. I think I keep it around for historic reasons (aka I've been too lazy to not load it).

I use those for my SLES 12 runs and my runs on the Romes (though you need different Baselibs on the Romes than on the SLES 12 nodes).

As a note, our GNU runs use:
[code]

[2021-06-30 20:54] LiamBindle commented on #911
@mathomp4 Thanks, that's great. Is there an ESMF, NetCDF, and NetCDF-Fortran module compatible with these too?

I'm still interested in GNU tests your running. I have a suite of timing tests for GNU on Pleiades that have already ran, and it would be great if I could finish it off with some timings with >=48 nodes.

[2021-07-01 12:35] mathomp4 commented on #911
@LiamBindle I'm not sure. We have Baselibs because that's what we use. You might have to build modules for GCHP since you don't use Baselibs.

[2021-07-01 12:37] mathomp4 commented on #911
Note: I was able to run a 1-day GEOS run with GNU at c360 on 48 nodes at Pleiades and it worked:

[code]

[2021-07-01 12:53] DavidHuber-NOAA opened #912 "Trouble compiling Base_implementation.F90"
I am having some trouble building mapl v2.7.2.  I am getting an error when attempting to compile base/Base/Base_implementation.F90 (line 518):
There is no matching specific subroutine for this generic subroutine call.   [MAPL_ATTRIBUTESET]

Base_implementation.F90 is a submodule of Base.F90, which contains the MAPL_AttributeSet interface, under which it looks like this particular call should match

[2021-07-01 13:10] mathomp4 commented on #912
@DavidHuber-NOAA If I had to guess, I'm thinking Intel 18 might be too old. I'm not sure what the submodule support was like with that version. (Pinging @tclune for more insight.)

I might try to see if I can build MAPL with Intel 18.0.5 (the only Intel 18 compiler we have on discover.) I'll have to build a Baselibs stack for it first...

Do you have a more recent Intel compiler you can use? We cu

[2021-07-01 13:11] tclune commented on #911
The telling difference is probably that GCHP uses a lot more files for ExtData than a canonical GEOS run.   I'm adding @bena-nasa as he's had previous experience in trying to expose memory leaks from that layer.

It's even conceivable that this is not a leak per-se but rather the footprint that ExtData wants to keep open for cacheing data is simply too large.    But I'm hoping it is a leak as redu

[2021-07-01 14:04] mathomp4 commented on #912
@DavidHuber-NOAA An update. I was able to build MAPL 2.7.3 with Intel 18.0.5 on discover. Now, one of the MAPL tests did not pass:
[code]
but MAPL did build. (I'll have to ask @tclune or @weiyuan-jiang to help me figure out this failure.)

[2021-07-01 14:08] tclune commented on #912
@mathomp4 can you provide the verbose output for the failing test suite?

[code]

[2021-07-01 14:10] DavidHuber-NOAA commented on #912
@mathomp4 Officially, Intel started support of submodules in version 16, with full support of the 2008 standard in version 18.  However, it looks like there was a similar issue with an [early version of Intel 19](https://community.intel.com/t5/Intel-Fortran-Compiler/Bug-in-ifort-19-Submodules-cannot-access-entities-from-module/td-p/1130354).

That said, I am able to compile Shmem_implementation.F9

[2021-07-01 14:10] tclune commented on #912
I'm also adding in @rmontuoro so that we can be clear just which versions of the compiler need to be supported.   Submodule support is a bit fragile based on our recent experience, and it is quite possible that small changes will help 18.0.3 while breaking some other compiler/version.    As it is, there was a bit of a struggle to find a combination that worked with the latest Intel, latest GNU and

[2021-07-01 14:15] mathomp4 commented on #912
[code]

[2021-07-01 14:15] tclune commented on #912
@mathomp4, and to be clear, this test passes with the later compilers?

[2021-07-01 14:53] tclune commented on #912
Looking more closely at this failing test.  This is definitely a compiler bug.   A workaround might be possible.    The failing assert should also be improved - was sloppy in that it is a branch that really can never be reached.

[2021-07-01 15:25] mathomp4 commented on #912
Yeah. It's fine on Intel 19.1.3. Looking at `develop`:
[code]
We just never run with Intel 18 anymore.

[2021-07-07 13:46] lizziel opened #914 "Feature request: configurable lev positive attribute for History files"
All output files generated by MAPL History have `lev` attribute `positive` set to `down` by default. This is incorrect for the GEOS-Chem model which outputs most collections using vertical direction of positive `up`. I could custom edit the GEOS-Chem MAPL fork to change the default to `up` but it would be better if it were configurable per collection. Right now our `Emissions` collection is down w

[2021-07-07 14:00] lizziel opened #915 "Feature request: stretched grid file attributes and run-time error checking"
The MAPL stretched grid capability is now available for use by the general public in GCHP and we are starting to receive feedback. This week a user asked a question about the model not crashing when using a restart on the wrong grid. The grid size was correct but the restart was not generated using the same grid stretching as the simulation. The question was would this output be scientifically val

[2021-07-07 14:45] tclune commented on #915
I think this issue came up previously.  Certainly such errors should be trapped, but there might be reasons that this is nontrivial.

[2021-07-07 14:46] tclune commented on #914
Agreed.    If nothing else, even a global parameter that specifies up/down would  be better than what we have now.

[2021-07-07 15:53] gmao-esherman opened #916 "HISTORY splitField feature"
Variables with a single ungridded dimension are aliased to their original name with 001 appended. For example DUEXTTAU is aliased to DUEXTTAU001. We require the capability to alias a variable with a single ungridded dimension to its original name. Please see HISTORY.rc example below:

'DUEXTTAU'    , 'DU'      , 'DUEXTTAU',

If the above is included in HISTORY.rc it still writes out the varaible t

[2021-07-07 18:32] mathomp4 commented on #916
Assigning @bena-nasa, @atrayano and @tclune as...well, they'd know better than I would how to fix this.

[2021-07-07 18:36] atrayano commented on #916
This should simple enough to fix quickly. My only concern is that this can be done only if the size of the ungridded dim is 1 (and this is precisely what gmao-esherman needs), otherwise it will be many to one mapping and we cannot distinguish which one is which

[2021-07-08 13:59] #681 closed

[2021-07-08 14:06] #715 closed

[2021-07-08 15:56] tclune opened #917 "Extend error handling macros for unit tests"
MAPL unit tests are often saturated with calls to ESMF (and similar layers) and end up looking like
[code]
That's a bit verbose for uninteresting aspects of the actual test.   In the regular source, we have the macro `__RC__` which accomplishes the same thing, but the usual definition of that macro does the wrong thing in unit tests.

We already define the macros differently for the main program t

[2021-07-08 22:57] atrayano commented on #916
@gmao-esherman After taking a closer look at the code, I believe MAPL is working properly. If the alias name is the same as the original field name, the new (split) field has to be named differently since the split field is placed in the same export state as the original field, and we should be able to distinguish them. If you need to produce a split field without "001" string in the name, please

[2021-07-09 12:39] atrayano commented on #916
@gmao-esherman If you require this capability, my suggestion would be to change the original name, and use an alias to get the proper output in History. Or a bigger question: why we have a variable with ungridded rank = 1 and size = 1 in a first place? Can we drop the ungridded dims and lower the rank by 1 in the declarations?

[2021-07-09 13:00] tclune opened #920 "Eliminate MAPL_FieldCopyAttribute"
We have verified that ESMF_AttributeCopy works (and does so on more than just fields).   Some thought may be needed to whether to do references or deep copies of the attributes.  Existing code does the deep copy.

[2021-07-09 13:10] gmao-esherman commented on #916
@atrayano Thanks for looking into this. The rank of the ungridded dimension for these GOCART2G variables can vary. It depends on how the user sets them. So unfortunately we cannot drop the ungridded dimension.

Your suggestion of changing the variable name in the export state is a good idea and should work. I will have to leave this decision up to @amdasilva and @pcolarco.

[2021-07-09 13:12] tclune commented on #916
To be precise here:  it is the _size_ of the ungridded dimension that can vary, not the _rank_.

[2021-07-09 13:17] atrayano commented on #916
I agree the size could vary. Nevertheless, the logic in MAPL is: when the resulting new name after the split is the same as the original name, append "split-index", i.e. 001 in this case. Otherwise we will end up with 2 different fields (one has higher rank by 1) with the same name in the same export state

[2021-07-09 14:58] bena-nasa commented on #915
I'll give this a crack. It should not be that hard other than adding more complexity to what is already way too long of a code in MAPL_IO.F90. Perhaps I could add another function to the grid factories, some sort of check and this might make sense to do a level higher than MAPL_IO so avoid adding more to that, perhaps in the call in MAPL_Generic. Turns out the stretch parameters are already being

[2021-07-09 16:34] pcolarco commented on #916
Hi-

I didn’t catch the origin of the discussion and don’t know how to look up on github.

It sounds like the simplest thing to achieve desired consistency with previous model instances is to rename the export names in DU/NI/SU/SS to something different than e.g., “DUEXTTAU” so that I can alias it to that in HISTORY. This is already practically done for the carbon species as they were renamed from

[2021-07-09 16:41] atrayano commented on #916
@pcolarco No, this is not expected. Aliasing should affect only the naming of the output variables. Thanks for reporting it. The values should have been identical to the output when the variables were named DUEXTTAU001;DUEXTTAU002 . I'll take a closer look

[2021-07-09 16:54] pcolarco commented on #916
Hi Atanas-
Thank you, I hope I described that well enough.

Pete

--------------------------------------------------------------------
Peter Colarco
NASA GSFC
Code 614
NASA Goddard Space Flight Center
Greenbelt, MD 20771
301.614.6382 (ph)
301.614.5903 (fax)

***@***.******@***.***>
http://acd-ext.gsfc.nasa.gov/People/Colarco
http://www.researcherid.com/rid/D-8637-2012
-----------------------------